
// Autocomplete
// ================================

// See: /data/request (Select Datasets search field)
#autocomplete {
  border: @input-border-width solid @input-border-color;
  background-color: @input-bg-color;
  margin-top: 1px;
  box-sizing: content-box;
  overflow: visible;

  &:before {
    content: ' ';
    background-color: @input-bg-color;
    .abs(-1 * (@input-border-width * 2), 0, auto, 0);
    height: 2 * (@input-border-width);
  }

  ul {
    .unbullet();
    li {
      cursor: pointer;
      .input();.field();
      height: auto;
      border-color: transparent;
      border-left-width: 0;
      border-right-width: 0;

      &:hover {
        background-color: fade(@brand-mono, 12.5%);
      }
    }
  }
}