
// Block Rebate Dashboard
// ================================

/* --- [ Mixins ] --------------- */




/* --- [ Use ] --------------- */

.block-rebate-dashboard {
  background-color: @brand-mono-medium;

  .content {

    ul, ol {
      .prep-inline-grid();
      .unbullet();
      margin-top: -.8rem;
      counter-reset: steps;


      li {
        .h6();
        display: inline-block;
        border-bottom: 4px solid transparent;
        padding: 1.3rem 1.5rem;

        .resp(@tabletmax, {
          display: block;
          padding: 1rem 0;
        });

        &:before {
          counter-increment: steps;
          content: counter(steps) ". ";
        }

        &.active {
          color: @link-color;
          border-color: inherit;
        }
      }
    }

  }
}