
// Choose Vehicle Model
// ================================

.choose-vehicle-model {

  > .title {
    .bounded-title(); // titling.less
  }

  .group--two-cols {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

    .vehicle-image {
      width: 61.5%;
      .resp(@babybear, {
        width: 100%;
      });
    }

    .item-list {
      width: 38.5%;
      padding-left: @gutter-width * 2;
      .resp(@babybear, {
        width: 100%;
        padding-left: 0;
        margin-top: @gutter-width * 2;
      });
      ul {
        .unbullet();
        .views-rows-ruled(@row_el: ~'li');
      }
    }
  }

  .model-name {
    .h3();
    .h-overrides({ .h3(); });
    margin: 0;
    margin-top: -.4rem; // font fudge

    .resp(@babybear, {
      .h3--small();
      .h-overrides({ .h3--small(); });
    });
  }
  .vehicle-year {
    .h4();
    .resp(@babybear, {
      .h4--small();
    });
  }

  .links-tray {
    .views-footer-ruled();
    a {
      .btn();.huge();
      margin: 0 auto;
    }
  }
}