
// Date Picker
// ================================

@month-next-icon: @arrow-right-circled;
@month-prev-icon: @arrow-left-circled;

.date-picker(@prev: @month-prev-icon; @next: @month-next-icon; @bg: @white) {
  .font(@base-font; 'normal'; @caption-font-size);
  background-color: @bg;
  border: none;
  padding: 1.5rem;
  width: 100%;
  max-width: 22rem;
  .box-shadow--subtle();

  table {
    font-size: 100%;
    margin-top: 1rem;
    border: 1px solid @brand-mono-light;

    thead {
      background-color: @brand-mono-light;
    }
    th, td {
      border: 1px solid @brand-mono-light;
    }

    td > a:hover {
      background-color: fade(@brand-mono, 7.5%);
    }
  }

  .ui-datepicker-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    .ui-datepicker-prev,
    .ui-datepicker-next {
      .abs-reset(relative);
      width: 2rem;
      height: 2rem;
      background-color: transparent;
      background-position: center;
      background-size: auto;
      background-repeat: no-repeat;
      overflow: hidden;
      cursor: pointer;
      .ui-icon {
        .element-invisible;
      }
    }

    .ui-datepicker-prev {
      background-image: @prev;
    }
    .ui-datepicker-next {
      order: 100;
      background-image: @next;
    }
    .ui-datepicker-title {
      margin: 0;

      .ui-datepicker-month,
      .ui-datepicker-year {
        width: auto;
      }

      .ui-datepicker-month {
        margin: 0;
        margin-right: .25rem;
      }
      .ui-datepicker-year {
        margin: 0;
        margin-left: .25rem;
      }
    }
  }

  .ui-state-default {
    color: @text-color;
    &:hover {
      color: @link-color;
      background-color: @brand-mono-light;
    }
    &.ui-state-active {
      color: @text-color;
      font-weight: bold;
      background-color: @brand-mono;
      outline: 1px solid @brand-mono;
    }
  }

}

.ui-datepicker {
  .date-picker();
}