
// Flexslider
// ================================

._flex_icons() {

  // Defaults
  .return() {
    @flex-next-icon: @arrow-right-circled--white;
    @flex-next-icon--hover: @arrow-right-circled--white;

    @flex-prev-icon: @arrow-left-circled--white;
    @flex-prev-icon--hover: @arrow-left-circled--white;
  }

  // Classic Mode Override
  .return() when (@classic_mode = true) {
    // Arrow icons
    @flex-next-icon: @arrow-right--blue;
    @flex-next-icon--hover: @arrow-right--blue;

    @flex-prev-icon: @arrow-left--blue;
    @flex-prev-icon--hover: @arrow-left--blue;
  }

  // Return call
  .return();
}

._flex_icons();

.nav-arrows-side() {
  .flex-caption-empty {
    display: none !important;
  }
  .slide--tray {
    display: table;

    > * {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      padding: 0 1.25rem;
      &.flex-direction-nav {
        min-width: @ctrlWidth * 2;
        padding: 0;
      }
    }
  }
  .flex-direction-nav {
    position: relative;
    .flex-prev,
    .flex-next {
      position: absolute;
      height: 100%;
    }
    .flex-prev { left: 0; }
    .flex-next { right: 0; }
  }
  .flex-caption {
    padding: 1.3125rem 0 1rem;

    &.flex-caption-empty {
      display: none;
    }
  }
}
.nav-arrows-straddle() {
  .slide--tray {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 @ctrlWidth;

    > * {
      display:  inline-block;
      width: 100%;
    }
  }
  .flex-direction-nav {
    position: static;
    width: 0;
    .flex-prev,
    .flex-next {
      position: absolute;
      height: 100%;
      width: @ctrlWidth;
    }
    .flex-prev { left: 0; }
    .flex-next { right: 0; }
  }
  .flex-caption {
    padding: 1.3125rem 0 1rem;
  }
}
.tray-overlay() {
  .abs(auto,0,0,0);
  min-height: @captionHeight;
  width: 100%;
}
.tray-below() {
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}


.flexslider {

  margin: 0;
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 1.625rem;

  img {
    width: 100%;
    max-width: auto;
  }

  .slides{
    > li {
      overflow: hidden;
      max-height: 0;
      padding: 0;
      &.flex-active-slide {
        max-height: none;
      }
    }
  }

  &.default {
    @captionHeight: 3.5rem;
    @ctrlWidth: 3.75rem;

    @paging-display: none;
    @nav-display: table;
    @slide-counter-display: none;

    .nav-arrows-straddle();

    .slide--inner {
      position: relative;
    }
    .slide--tray {
      background-color: fade(@black, 50%);
      .tray-overlay();

      .resp(@mobilemax, {
        .tray-below();
      });

      .hasNoCaptions& {
        display: none;
      }

      .flex-caption {
        color: @white;
      }

      .slide--counter {
        display: @slide-counter-display;
      }
    }


    .flex-direction-nav {
      .unbullet();
      margin: 0 !important;
      font-size: 0;

      .hasSoleSlide& {
        display: none;
      }

      > li {
        display: inline-block;
        font-size: @base-font-size;
      }

      a {
        display: block;
        opacity: 1;
        visibility: visible;
        width: @ctrlWidth;
        min-height: @captionHeight;
        line-height: 1;
        color: transparent;
        text-shadow: none;
        box-shadow: none;
        top: auto;
        bottom: 0;
        margin: 0;
        position: relative;

        &:before {
          display: block;
          .abs-0();
          min-height: 100%;
          height: auto;
          font-family: 'Arial', sans-serif;
          font-size: 2.5rem;
          line-height: 1;
          text-align: center;
          background-repeat: no-repeat;
          background-position: center;
        }

        &:hover {
          background-color: fade(@white, 12.5%);
        }
      }
      .flex-prev {
        left: 0;
        opacity: 1 !important;

        &:before {
          font-family: 'Arial', sans-serif;
          content: '\2039';
          color: transparent;
          text-shadow: none;
          background-image: @flex-prev-icon;
        }

        &:hover:before {
          background-image: @flex-prev-icon--hover;
        }
      }
      .flex-next {
        right: 0;
        opacity: 1 !important;

        &:before {
          font-family: 'Arial', sans-serif;
          content: '\203A';
          color: transparent;
          text-shadow: none;
          background-image: @flex-next-icon;
        }
        &:hover:before {
          background-image: @flex-next-icon--hover;
        }
      }
    }

    .flex-control-nav {
      .unbullet();
      display: @paging-display;
    }

    .flex-control-paging {
      .abs(auto,0,.5rem,0);
      z-index: 100;
      height: 0;
      margin-bottom: .025rem;

      > li {
        .transform(translateY(-2rem));
        margin: 0 .375rem;

        a {
          box-shadow: none;
          border-radius: 2000rem;
          background: fade(@white, 50%);
          width: .7625rem;
          height: .75rem;
          position: relative;

          &:hover {
            background: fade(@white, 75%);
          }
          &.flex-active {
            background: @white;
          }

          &:after {
            content: ' ';
            .abs(-.75rem,-.75rem,-.75rem,-.75rem);
          }
        }
      }
    }

    .truncatorEnabled& {
      .flex-caption {
        background: fade(@black, 80%);
        text-shadow: 0 0 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        box-sizing: border-box;
        padding: 1rem 1.125rem .75rem;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &.flex-caption-empty {
          opacity: .2;
        }

        &.hasTruncToggle {
          padding: 1rem .75+@ctrlWidth*2 .75rem .75+@ctrlWidth;
          height: @captionHeight;

          .hasSoleSlide& {
            padding: 1rem .75+@ctrlWidth .75rem .75rem;
          }

          &:after {
            content: none;
            position: absolute;
            display: block;
            background-color: transparent;
            left: 0;
            right: 0;
            bottom: 0;
            height: @captionHeight;
            z-index: 0;
          }
        }
      }

      .flex-direction-nav {
        position: static;
        float: none;
        display: block;

        > li { display: inline; }

        a { position: absolute; }
      }
    }

    .toggleCaptionTruncation {
      position: absolute;
      bottom: 0;
      right: @ctrlWidth;
      z-index: 1;
      width: @ctrlWidth;
      height: @captionHeight;
      padding: 0;
      border: none;
      border-radius: 0;
      background-color: transparent;
      background-image: @triple-dots !important;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 60%;
      color: @white !important;
      text-indent: -9999px;
      box-shadow: none;
      .trans(background-color);

      .hasSoleSlide& {
        right: 0;

        &.captionEmpty {
          display: none;
        }
      }

      &:hover {
        background-color: fade(@white, 12.5%);
      }

      &:hover,
      &:focus {
        transform: none;
        box-shadow: none;
      }


      &.truncated {
        background-image: @triple-dots--white !important;
      }
    }

    .flex-caption-empty .toggleCaptionTruncation {
      display:  none;
    }

    &.hasFullCaption .flex-caption.hasTruncToggle {
      display: block;
      white-space: normal;
      padding: 2.25rem 1.125rem .75+@captionHeight;
      height: auto;

      &.flex-caption-empty {
        padding: 1rem 1.125rem .75rem;
      }

      &:after {
        content: ' ';
      }
    }

  }
}

