
// Footer Social
// ================================

.social-links---footer {
   .resp(@babybear, {
      text-align: center;
    });

  .social-link {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.5rem;

    .resp(@babybear, {
      margin: .75rem;
    });

    .icon {
      width: 1.4rem;
      height: 1.4rem;
      + .text { .element-invisible(); }

      .classic_mode({
        color: @brand-secondary;
      });
    }
  }
}