
// Highcharts
// ================================

#block-energycenter-cvrp-pie-250,
#block-block-228,
#block-block-229,
#block-block-247,
#block-block-246 {

  .highchartload {
    height: 170px;
    margin-bottom: -36px;
  }

  display:inline-block;
  vertical-align:top;
  width:30%;

  padding:30px;


  .content {

    p:last-child { margin-bottom:0; }

    img { width:100% !important; height:auto !important; }

    h4 {

      margin:0;

      a {

        .button;
        display:block;
        text-align:center;
        margin-top:20px;

      }

    }

    a.button { display:block; text-align:center; margin-top:20px; }

  }
  @media screen and ( max-width: 1220px ) {
    display: block;
    width: 40%;
    margin: 20px auto !important;
  }
  @media screen and ( max-width: 979px ) {
    display: block;
    width: 50%;
    height: 10%;
    margin: 20px auto !important;
  }
  @media screen and ( max-width: 630px ) {
    display: block;
    width: 90%;
    height: 10%;
    margin: 20px auto !important;
  }

}



#block-energycenter-cvrp-pie-250 {
  th.label {
    background-color: #fff;
    color: #000;
    font-size: 1.2em;
  }
  .highchartload {
    .highcharts-container {
      line-height: normal;
      z-index: 0;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      color: rgb(129, 130, 134);
      font-family: Verdana, Helvetica, Arial, sans-serif;
      font-size: 10px;
      font-weight: bold;

      svg {
        font-family: Verdana, Helvetica, Arial, sans-serif;
        font-size: 10px;
        color: #818286;
        font-weight: bold;
        fill: #818286;
        .highcharts-title {
          font-size: 14px !important;
        }
        text {
          color: #818286 !important;
          font-size: 10px !important;
          fill: #818286 !important;
          text-shadow: none !important;
          width: 736px;
          text-rendering: geometricPrecision;
        }
        g.highcharts-tooltip {
          cursor: default;
          padding: 0;
          pointer-events: none;
          white-space: nowrap;
        }
        g.highcharts-legend {
          transform: translate(85px,20px);
        }
      }
    }
  }
}


// Highcharts
#block-public-fleet-project-pfp-pie-250{
  h2 {
    display: none;
  }
  float: right;
  display: inline-block;
  margin: 0 !important;
  th.label {
    background-color: #fff;
    color: #000;
    font-size: 1.2em;
  }
  .highchartload {
    width: 260px !important;
    height: 200px !important;
    .highcharts-container {
      position: relative;
      overflow: hidden;
      width: 260px !important;
      height: 200px !important;
      text-align: left;
      line-height: normal;
      z-index: 0;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      color: rgb(129, 130, 134);
      font-family: Verdana, Helvetica, Arial, sans-serif;
      font-size: 10px;
      font-weight: bold;

      svg {
        font-family: Verdana, Helvetica, Arial, sans-serif;
        font-size: 10px;
        color: #818286;
        font-weight: bold;
        fill: #818286;
        width: 260px !important;
        height: 200px !important;
        .highcharts-title {
          font-size: 14px !important;
        }
        text {
          color: #818286 !important;
          font-size: 10px !important;
          fill: #818286 !important;
          text-shadow: none !important;
          //width: 736px;
          text-rendering: geometricPrecision;
        }
        g.highcharts-tooltip {
          cursor: default;
          padding: 0;
          pointer-events: none;
          white-space: nowrap;
        }
        rect.highcharts-background {
          width: 260px !important;
          height: 200px !important;
        }
      }
    }
  }
  .active-trail {
    position: absolute;
    top: 160px;
    right: 145px;
  }
}
#block-public-fleet-project-pfp-pie-650,
#block-energycenter-cvrp-pie-650 {
  th.label {
    background-color: #fff;
    color: #000;
    font-size: 22px;
  }
  .highchartload {
    .highcharts-container {
      position: relative;
      overflow: hidden;
      width: 800px !important;
      height: 400px !important;
      text-align: left;
      line-height: normal;
      z-index: 0;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      color: rgb(129, 130, 134);
      font-family: Verdana, Helvetica, Arial, sans-serif;
      font-size: 10px;
      font-weight: bold;

      svg {
        font-family: Verdana, Helvetica, Arial, sans-serif;
        font-size: 10px;
        color: #818286;
        font-weight: bold;
        fill: #818286;
        width: 800px !important;
        height: 400px !important;
        text {
          color: #818286 !important;
          font-size: 10px;
          font-weight: bold;
          fill: #818286 !important;
          text-shadow: none !important;
          width: 736px;
          text-rendering: geometricPrecision;
        }
        g.highcharts-tooltip {
          cursor: default;
          padding: 0;
          pointer-events: none;
          white-space: nowrap;
        }
      }
    }
  }
}