
// Highcharts
// ================================

// See: /eng/rebate-funding-status

.pie-chart-page {
  padding-top: 2.9rem;
  padding-bottom: 3.1rem;

  > * {
    margin-top: 2rem;
    &:first-child {
      margin-top: 0;
    }
  }
}

.chart {
  width: 100%;
  margin: 0 auto;
  .data-table();
}
.highcharts-container {
  // height: auto !important;
  // max-width: 100%;
  // max-height: 12.5rem;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;

  svg {
    height: 100%;
  }
}

.pie-chart-attribution {
  text-align: center;
  &:extend(form .description);
  p, * { font: inherit; }
}