
// Logo
// ================================

.logo-block {
  &,
  .block-inner,
  .content,
  #logo,
  #logo > a {
    display: flex;
  }

  .content {
    overflow: visible;
    max-width: 275px;
    display: block;
    .resp-min(@papabear + 1, {
      .classic_mode({
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        .i18n-eng & {
          max-width: 100%;
          flex-wrap: nowrap;
        }
      });
    });
    .resp-range(@babybear + 1,  @tabletmax, {
      max-width: 270px;
    });

      .h-overrides({
      margin: 0;
    });

    h1 {
      .resp-min(@papabear + 1, {
        .classic_mode({
          .i18n-eng & {
            margin-right: @gutter-width;
            padding-right: @gutter-width;
            border-right: 1px solid @hr-color;
          }
        });
      });
    }

    h2 {
      .font(@base-font, 400, @fine-print-font-size);
      line-height: 1.6;
      color: @medium-text-color;
      white-space: nowrap;
      margin-top: .125rem;
      &:before {
        content: ' ';
        width: 25.6%;
        max-width: 72px;
        display: inline-block;
      }

      br { display: none; }

      .resp-min(@papabear + 1, {
        .classic_mode({
          .i18n-eng & {
            white-space: normal;
            &:before {
              content: none;
            }
            br { display: inline; }
          }
        });
      });

      .resp(@babybear, {
        .element-invisible() !important;
      });
    }
  }

}

