
// Menus
// ================================

/* --- [ In general...] --------------- */
.menu,
.links {
  .unbullet();
}


/* --- [ Aside Menu ] --------------- */

.aside-menu-title() {
  .block-title-style(@brand-primary);
  padding-bottom: 3.325rem;
  .toggleSwitch { display: none; }
}
.aside-menu-link(@color:@medium-text-color; @active-color:@link-hover-color;@padding:.875rem 2rem .7125rem) {
  .font(@base-font, 700, @base-font-size);
  line-height: 1.4;
  color: @medium-text-color;
  padding: @padding;
  display: block;
  letter-spacing: .015em;
  position: relative;
  text-transform: none;

  &:hover {
    text-decoration: none;
  }
  &.active {
    border-color: transparent;
    color: @active-color;
  }
}

.aside-menu-style(@menu-title, @menu, @padding: 1.6rem 1.75rem, @right-padding: 3.1rem) {


  color: @faint-text-color;
  padding: @padding;
  padding-right: @right-padding;

  @{menu-title} {
    .aside-menu-title();
    .toggleSwitch { display: none; }
  }
  @{menu} {
    .unbullet();
    margin: 0;
    li, .form-item {
      display: block;
      margin: 0;
      a {
        .aside-menu-link();
      }
    }
  }

  .button, input[type="submit"] {
    .button-cta--small();
  }
}
.aside-menu-style--small(@menu-title, @menu, @padding: 1.5rem, @right-padding: 0, @arrow: true) {
  background: transparent;
  color: @faint-text-color;
  padding: @padding;
  padding-right: @right-padding;

  @{menu-title} {
    .block-title-style--small();
    .toggleSwitch { display: none; }
  }
  @{menu} {
    .unbullet();
    margin: 0;
    li, .form-item {
      display: block;
      margin: 0;
      a {
        & when (@arrow) {
          .aside-menu-link();
        }
        & when not (@arrow) and (@arrow = 'arrow-always') {
          .aside-menu-link('arrow-always');
        }
      }
    }
  }

  .button, input[type="submit"] {
    .button-cta--small();
  }
}

/* --- [ Dropdown Menu ] --------------- */

.dropdown-title(@color: @pane-alt) {
  display: block;
  position: relative;
  color: @color;
  padding: .35rem 1.15rem;
  margin: 0;
  border: none;
  .font(@display-font, 600, @h3-small-size);
  letter-spacing: .05em;
  text-transform: capitalize;
  .toggleSwitch {
    display: block;
    #ma-toggle();.accordionSwitch();
    .abs-0();
    cursor: pointer;
    .text {
      text-indent: -9999px;
      display: block;
      .abs(0,0,0,auto);
      width: 3.125rem;
      &:after {
        content: ' ';
        display: block;
        width: 0;
        border: .4rem solid transparent;
        border-top: none;
        border-bottom-color: @pane-alt;
        margin: 0 auto;
        .abs(50%,0,auto,0);
        transform-origin: center;
        backface-visibility: hidden;
        .transform(translate3d(0,-50%,0));
        .transform(scale3d(1,1,1));
        .trans(transform);
      }
    }
    &.isClosed .text:after {
      .abs(50%,0,auto,0);
      .transform(translate3d(0,-50%,0));
      .transform(scale3d(1,-1,1));
    }
  }
}
.dropdown-item(@color: @pane-alt, @hover-color: @button-highlight) {
  display: block;
  padding: 0.6rem 1.15rem 0.45rem;
  color: @color;
  .font(@base-font, 400, @base-font-size);
  letter-spacing: 0.045em;

  &:hover,
  &.active {
    text-decoration: none;
    background-color: @color;
    color: @hover-color;
  }
}
.dropdown-style(@menu-title, @menu, @bg-color: @pane-default) {
  background-color: @bg-color;
  position: relative;
  @{menu-title} {
    .dropdown-title();
  }
  @{menu} {
    .clearly();
    .unbullet();
    background-color: @bg-color;
    margin: 0;
    > li, .form-item {
      display: block;
      margin: .35em 0;
      &:first-child {
        margin-top: .55rem;
      }
      &:last-child {
        margin-bottom: .7rem;
      }
    }
    &.isClosed > li { margin: 0; }
    > li a,
    .form-item a {
      .dropdown-item();
    }
    &.togglePane {
      #ma-toggle .pane();
      .abs(100%,0,auto,0);
      z-index: 20;
    }
  }
}


/* --- [ Child menu flyout ] --------------- */

.child-menu-flyout(
  @top-text-color: @brand-primary;
  @top-text-hover-color: @brand-primary;
  @top-text-active-color: @brand-primary;
  @child-bg: @white;
  @style: 'tooltip';
  ) {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;

  > a, > .nolink,
  > .tlAccSwitchWrap > a, > .tlAccSwitchWrap > .nolink {
    .top-menu-link(
      @top-link-color: @top-text-color;
      @top-link-hover-color: @top-text-hover-color;
      @top-link-active-color: @top-text-active-color;
    );
    margin: 0;
    display: flex;
    align-items: center;
    &.button {
      position: relative;
      top: -.125rem;
      align-self: center;
    }
  }

  .tlAccSwitchWrap {
    display: flex;
    align-items: stretch;
  }

  .slAccSwitchWrap {
    * { font-weight: bold; }
  }

  .tlAccSwitch, .slAccSwitch  {
    display: none;
  }

  > .menu {
    padding: 0;
    height: auto;
    max-height: 0;
    max-width: 0;
    overflow: visible;
    opacity: 0;
    backface-visibility: hidden;
    // .transform(perspective(500px));
    .trans(padding, 0ms, ease, 400ms);
    .trans(max-height, 0ms, ease, 400ms);
    .trans(max-width, 0ms, ease, 400ms);
    .trans(transform, 300ms, ease-out, 100ms);
    .trans(opacity, 300ms, ease, 100ms);
    padding: 0;
    background-color: @child-bg;
    .abs(100%,auto,auto,0);
    width: ~'calc(100% + 1rem)';
    min-width: 14.25rem;
    z-index: 30;
    // margin: 0 -.5rem;
    margin: 0;
    margin-top: -.45rem;

    &:after {
      content: ' ';
      display: block;
      .abs(auto,auto,100%,1rem);
      border: .5rem solid transparent;
      border-bottom-color: @child-bg;
      border-top-width: 0;
    }

    * {
      max-height: 0;
      overflow: hidden;
      .trans(max-height, 0ms, ease, 400ms);
    }
    a, .nolink {
      .sub-menu-link(
        @item-color: @white;
        @item-hover-color: @white;
        @item-active-color: @white;
        @item-active-underline: true;
      );
    }
  }

  &:last-child > .menu,
  &:nth-last-child(2) > .menu {
    .abs(100%,0,auto,auto);
    &:after {
      left: auto;
      right: 1rem;
    }
  }

  &.hasMenus > .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 29.4rem;
    max-width: 32rem;
    .abs(100%,auto,auto, -50%);

    &:after {
      left: 42.5%;
    }

    > li {
      min-width: 14.25rem;
      width: 50%;

      > a, > .nolink {
        font-weight: bold;
      }
    }
  }

  &:hover > .menu {
    max-height: 4000rem;
    max-width: 100vw;
    opacity: 1;
    padding-top: .7rem;
    padding-bottom: .7rem;
    .trans(padding, 0ms, ease, 350ms);
    .trans(max-height, 0ms, ease, 350ms);
    .trans(max-width, 0ms, ease, 350ms);
    .trans(transform, 300ms, ease-out, 350ms);
    .trans(opacity, 500ms, ease, 350ms);
    * {
      max-height: 4000rem;
      .trans(max-height, 0ms, ease, 350ms);
    }
    &:before {
      height: 1.275rem;
      .trans(height, 0ms, ease, 350ms);
    }
    &:after {
      .transform(translateY(0));
    }
  }

  &.menu-item--button {
    margin: 0;
    margin-left: .8rem;
  }
}


/* --- [ Mega menu ] --------------- */

.mega-menu(
  @top-text-color: @white;
  @top-text-hover-color: @text-color;
  @child-bg: transparent;
  @child-hover-bg: @white;
  @parent-icon: @arrow-down--white;
  @parent-hover-icon: @arrow-down;
  @modernizrTouch: false;
) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: static;

  > a, > .nolink,
  > .tlAccSwitchWrap > a, > .tlAccSwitchWrap > .nolink {
    .top-menu-link(@top-text-color);
    margin: 0;
    display: flex;
    align-items: center;
    background-color: transparent;
    .trans(background-color, 450ms, ease-out, 0ms);
    .trans(color, 450ms, ease-out, 0ms);

    .trans(none);

    & when (@modernizrTouch = true) {
      .touchevents & { .trans(none); }
    }
  }

  &.expanded {
    &, > .tlAccSwitchWrap {
      > a, > .nolink {
        position: relative;
        padding-right: 2rem;
        &:before, &:after {
          content: ' ';
          .abs(0,0,0,auto);
          background-repeat: no-repeat;
          background-position: center;
          background-size: .7rem auto;
          width: 2rem;
          .trans(opacity, 450ms, ease, 0ms);
          .touchevents & { .trans(none); }
        }
        &:before {
          background-image: @parent-hover-icon;
          opacity: 0;
        }
        &:after {
          background-image: @parent-icon;
          opacity: 1;
        }
      }
    }

    .topLinkHoverStyle(@touchCorrect: false) {
        &, > .tlAccSwitchWrap {
        > a, > .nolink {
          &:before, &:after {
            .trans(opacity, 200ms, ease-in, 200ms);
             & when (@touchCorrect = true) { .trans(none); }
          }
          &:before {
            opacity: 1;
          }
          &:after {
            opacity: 0;
          }
        }
      }
    }
    & when (@modernizrTouch = false) {
      &:hover {
        .topLinkHoverStyle();
      }
    }
    .no-touchevents & {
      &:hover {
        .topLinkHoverStyle();
      }
    }
    & when (@modernizrTouch = true) {
      .touchevents & {
        &.tlAccOpen {
          .topLinkHoverStyle(@touchCorrect: true);
        }
      }
    }
  }

  .tlAccSwitchWrap {
    display: flex;
    align-items: stretch;
    position: relative;
    cursor: pointer;
  }

  .tlAccSwitch {
    display: none;
    .touchevents & {
      display: block;
      .abs-0();
      .text { .element-invisible(); }
    }
  }

  > .menu {
    padding: 0;
    height: auto;
    max-height: 0;
    min-height: 0;
    width: 100%;
    max-width: 47.35rem;
    column-count: 2;
    column-gap: 2rem;
    font-size: 0; // No phantom gaps
    overflow: visible;
    opacity: 0;
    transform-origin: top left;
    backface-visibility: hidden;
    .trans(padding, 0ms, ease, 400ms);
    .trans(max-height, 0ms, ease, 400ms);
    .trans(min-height, 0ms, ease, 400ms);
    .trans(max-width, 0ms, ease, 400ms);
    .trans(transform, 300ms, ease-out, 100ms);
    .trans(opacity, 300ms, ease, 100ms);
    & when (@modernizrTouch = true) {
      .touchevents & { .trans(none); }
    }
    margin: 0 auto;
    padding: 0;
    background-color: @child-bg;
    .abs(100%,0,auto,0);
    z-index: 30;

    * {
      max-height: 0;
      overflow: hidden;
      .trans(max-height, 0ms, ease, 400ms);
      & when (@modernizrTouch = true) {
        .touchevents & { .trans(none); }
      }
    }

    > li {
      margin-bottom: 0.5rem;
      display: inline-block; // important to line up columns on top
      width: 100%; // make sure item fills up column
      transform: translateX(0); // Fix weird Safari bug that disappears text
      -webkit-column-break-inside: avoid;
      -webkit-region-break-inside: avoid;
      page-break-inside: avoid;
      // Safari Desktop is stubborn. Let's *shrug* it off
    }
    a {
      .sub-menu-link();
    }

    .menu a {
      .menu-item-link();
    }

    .slAccSwitch {
      display: none;
    }

    &:before, &:after {
      content: ' ';
      z-index: -1;
      min-width: 100vw;
    }
    &:after {
      background-color: @child-bg;
      .abs(0,-100vw,0,-100vw);
    }
    &:before {
      // is layered below :after
      // and has the shadow
      .abs(90%,-200vw,0,-200vw);
      background: transparent;
      .box-shadow--subtle();
    }
  }

  .menuHoverStyle(@touchCorrect: false) {
    > a, > .nolink,
    > .tlAccSwitchWrap > a, > .tlAccSwitchWrap > .nolink {
      background-color: @child-hover-bg;
      color: @top-text-hover-color;
      .trans(background-color, 200ms, ease-in, 200ms);
      .trans(color, 200ms, ease-in, 200ms);
      & when (@touchCorrect = true) { .trans(none); }
    }

    > .menu {
      max-height: 4000rem;
      min-height: 22.625rem;
      opacity: 1;
      padding-top: 2.45rem;
      padding-bottom: 1.3rem;
      .trans(padding, 0ms, ease, 300ms);
      .trans(max-height, 0ms, ease, 300ms);
      .trans(min-height, 0ms, ease, 300ms);
      .trans(max-width, 0ms, ease, 300ms);
      .trans(transform, 300ms, ease-out, 300ms);
      .trans(opacity, 400ms, ease, 300ms);
      & when (@touchCorrect = true) { .trans(none); }
      * {
        max-height: 4000rem;
        .trans(max-height, 0ms, ease, 300ms);
        & when (@touchCorrect = true) { .trans(none); }
      }
    }
  }
  & when (@modernizrTouch = false) {
    &:hover {
      .menuHoverStyle();
    }
  }
  .no-touchevents & {
    &:hover {
      .menuHoverStyle();
    }
  }

  & when (@modernizrTouch = true) {
    .touchevents & {
      &.tlAccOpen {
        .menuHoverStyle(@touchCorrect: true);
      }
    }
  }
}


/* --- [ Slideout menu ] --------------- */

.make-slideout-menu(@body-class; @pane; @shade-bg-color: transparent; @dir: 'from left'; @width: 94%; @close-button: ~'.close'; @close-position: 'above'; @bar-height: auto;) {
  @{pane} {
    position: absolute;
    transform-origin: top center;
    z-index: 40;
    margin-top: @bar-height;
    > [class*="-inner"] {
      height: 100%;
      max-height: 80vh;
      overflow-y: auto;
    }
  }
  @{close-button} {
    padding: 0 1.2rem;
    cursor: pointer;
    height: @bar-height;
    &, &:hover { background-color: @white; }
    .text {
      display: block;
      width: 1.9rem;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      text-indent: -9999px;
      background-image: @close-x--black;
    }
  }
  @{body-class}isClosed {
    @{pane} {
      height: 0;
      width: 0;
      opacity: 0;
      .transform(scale3d(1,0,0));
    }
  }
  @{body-class}isOpen {
    .stop-body-scroll();
    position: relative;
    @{pane} {
      height: 100vh;
      width: 100%;
      opacity: 1;
      .abs-0();
      &:before {
        content: ' ' !important;
        display: block !important;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        background-color: @shade-bg-color;
        .t-x(0);
      }
    }
  }
  & when (@close-position = 'above') {
      @{close-button} {
        height: @bar-height;
      }
    }
  & when (@dir = 'from right') {
    @{body-class}isClosed @{pane} {
      .t-x(100%);
      left: 100%;
    }
    @{body-class}isOpen @{pane} {
      .abs(0,0,0,auto);
      width: @width;
      .t-x(0);
      &:before {
        right: 100%;
      }
    }
    & when (@close-position = 'above') {
      @{close-button} {
        display: block;
        .abs(auto,0,100%,auto);
      }
    }
  }
  & when (@dir = 'from left') {
    @{body-class}isClosed @{pane} {
      .t-x(-100%);
      right: 100%;
    }
    @{body-class}isOpen @{pane} {
      .abs(0,auto,0,0);
      width: @width;
      .t-x(0);
      &:before {
        left: 100%;
      }
    }
    & when (@close-position = 'above') {
      @{close-button} {
        display: block;
        .abs(auto,auto,100%,0);
      }
    }
  }


  .set-static-els(@selector) {
    @{body-class}isOpen {
      @{selector} {
        position: static !important;
      }
    }
  }
}