
// Progress
// ================================

/* --- [ Progress Bar (System) ] --------------- */
.progress {
  .bar {
    border: 2px solid @hr-color;
    padding: 4px;
    background-color: @white;
  }
  .filled {
    background-color: @brand-info;
    height: 2rem;
  }
  .percentage {
    .meta;
    float: right;
  }
  .message {
    color: @faint-text-color;
    font-size: @caption-font-size;
    margin-right: 40px;
  }
}