
// References Dialog
// ================================

// When body has this class, give it a pseudo-shade
.references-dialog-no-scroll {
  // See: /data/request/new_request (click search button under
  // Select Datasets fieldset)

  overflow: hidden;
  height: 100%;

  &:before {
    content: ' ' !important;
    .abs-0() !important;
    position: fixed !important;
    z-index: 50 !important;
    background-color: fade(@black, 80%) !important;
    height: auto !important;
    width: 100% !important;
  }
}

.ui-dialog {
  z-index: 60;
  background-color: @white;
  padding: 0;
  .box-shadow--subtle();

  .ui-dialog-titlebar {
    padding: 1rem;
    background-color: @brand-primary;
  }
  .ui-dialog-title {
    display: none;
  }
  .ui-dialog-titlebar-close {
    .button();
    .abs(0,0,0,auto);
    margin: 0;
    padding: 0;
    width: 2.75rem;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: @small-x--white;
    background-size: 1.25rem auto;

    &:hover {
      background-color: @brand-primary;
    }

    .ui-icon {
      display: none;
    }
    .ui-button-text {
      .element-invisible();
    }
  }

  .ui-dialog-content {
    padding: 0;
    background-color: fade(@brand-mono-light, 25%);
  }
}

.page-references-dialog {
  .zone-wrapper {
    display: none;
  }
  .zone-content-wrapper {
    display: block;
  }

  .region {
    padding: 0 !important;
    &-inner > .lining {
      max-width: 100% !important;
    }
  }

  .view-filters {
    padding: 1.8rem;
    padding-bottom: 2rem;
    background-color: transparent;
    .resp(@tabletmax, {
      padding-left: 1.1rem;
      padding-righ: 1.1rem;
      padding-bottom: 1.5rem;
    });
  }
  .view-content {
    background-color: @white;

    tr {
      &:nth-child(odd), &:nth-child(even) {
        &:hover {
          cursor: pointer;
          td {
            background-color: fade(@brand-mono, 25%);
          }
        }
      }
    }
  }

}