
// Share links
// ================================

.share-links {
  .unbullet();
  .list-to-grid-to-list(~'> li'); // sidebar-menus.less

  li {
    padding: 0;
    .resp(@mobilemax, {
      margin-bottom: .65rem;
    });
    .resp-min(@tabletmax + 1, {
      margin-bottom: .65rem;
    });
    a {
      .aside-menu-link(@padding: .75rem 0 .75rem 3rem;);
      .text { border: none; }
      .trans(color);
      &:hover {
        color: @brand-primary;
      }

      .resp(@tabletmax, {
        padding-left: 3.25rem;
      });

      img { .element-invisible(); }

      &.facebook {
        .contrast-pseudos(@share-facebook--mono; @share-facebook--purple; 2.625rem; auto 2rem); // _utils.less
      }
      &.twitter {
        .contrast-pseudos(@share-twitter--mono; @share-twitter--purple; 2.625rem; auto 2rem); // _utils.less
      }
      &.email {
        .contrast-pseudos(@share-mail--mono; @share-mail--purple; 2.625rem; auto 2rem); // _utils.less
      }
    }
  }
}