
// Sidebar Social
// ================================

#sidebar-social {
  .list-to-grid-to-list(~'> .icon'); // sidebar-menus.less

  .icon {
    .aside-menu-link(@padding: .75rem 0 .75rem 3rem;);
    .text { border: none; }
    .trans(color);
    &:hover {
      color: @brand-primary;
    }

    .resp(@mobilemax, {
      ~ .icon { margin-top: .65rem;}
    });
    .resp-min(@tabletmax + 1, {
      ~ .icon { margin-top: .65rem;}
    });


    .resp(@tabletmax, {
      padding-left: 3.25rem;
    });

    img { .element-invisible(); }

    &.twitter-link {
      .contrast-pseudos(@share-twitter--mono; @share-twitter--purple; 2.625rem; auto 2rem); // _utils.less
    }
    &.newsletter-link {
      .contrast-pseudos(@share-mail--mono; @share-mail--purple; 2.625rem; auto 2rem); // _utils.less
    }
  }
}