
// Site Name
// ================================

.site-name {
  .h2();
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  margin: 0;

  .resp(@mobilemax, {
    .h6();
  });
  a {
    display: block;
    text-overflow: ellipsis;
    .a--no-underline();
    .resp(@mobilemax, {
      max-width: 30vw;
    });
  }
}