
/* --- [ Stackable Incentives ] --- */

.block-stackable {
  .block-title {
    text-align: center;
  }
}

form[id="cvrp-stackable-incentives-form"] {
  margin: 1.35rem 0 2rem; // 1.35rem is to fake margin collapse with .block-title

  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .resp(@mobilemax, {
      display: block;
    });

    .form-description {
      flex-basis: 100%;
      margin-bottom: 2rem;
    }

    [id="edit-rebate"],
    [id="edit-incentives"] {
      margin-bottom: 1.6rem;
      .form-item {
        width: 100%;
      }
    }


    [id="edit-rebate"] {
      width: ~"calc(50% - 2rem)";
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 2rem 2rem 2.2rem;

      .resp-range(@mobilemax + 1,  @tabletmax, {
        padding: 1rem 1.5rem 1.5rem;
      });

      .resp(@tabletmax, {
        width: 100%;
        max-width: 45rem;
        margin-left: auto;
        margin-right: auto;
      });

      .resp(@mobilemax, {
        padding: 1.7rem 1.5rem 1.9rem
      });


      .classic_mode({
        .box-shadow--dramatic();
      });

      label {
        display: block !important;
      }
      .form-item-postal-code input {
        text-align: left;
        text-align: initial;
        // padding-right: 3.5rem;
        // background-size: 1.25rem auto;
        // background-image: @search--mono;
        // .classic_mode({
        //   background-image: @search--teal;
        // });
        // background-position: right 1rem center;
        // background-repeat: no-repeat;
        &[type="text"] {
          width: 100%;

          .resp(@mobilemax, { min-width: 100%; });
        }
        .placeholder({
          color: transparent;
        });
      }

      .form-item-household-size,
      .form-item-household-income,
      .form-item-vehicle-type,
      .form-item-vehicle-age,
      .form-item-vehicle-retire {
        flex-basis: ~"calc(50% - 1rem)";

        .resp-range(@tabletmax, @goldilocks, {
          flex-basis: 100%;
        });

        .resp(@mobilemax, {
          flex-basis: 100%;
        });
      }

      .form-item-vehicle-retire {
         .resp-range(@tabletmax, @goldilocks, {
          margin-right: 0px;
        });

        .resp(@mobilemax, {
          margin-right: 0px;
        });
      }

      .submit-button,
      .reset-button {
        width: auto;
        display: inline-flex;
        align-items: flex-end;
      }

      .reset-button {
         input {
          .button();.alt();
        }
      }
    }

    [id="edit-incentives"] {
      width: ~"calc(50% - 2rem)";

      .resp(@tabletmax, {
        width: 100%;
        max-width: 35rem;
        margin-left: auto;
        margin-right: auto;
      });

      .resp(@mobilemax, {
        width: 100%;
      });

      .incentive-wrap {
        color: @white;
        margin: 0 0 1.2rem;
        padding: 2rem 2rem 2.2rem;

        .resp-range(@mobilemax + 1,  @tabletmax, {
          padding: 1rem 1.5rem 1.5rem;
        });

        .resp(@mobilemax, {
          padding: 1.7rem 1.5rem 1.9rem
        });

        .name {
          .h3();
          color: inherit;
          width: ~"calc(100% - 7.5rem)";
          display: inline-block;
          vertical-align: middle;
        }
        .amount {
          .h2();
          font-weight: normal;
          color: inherit;
          display: inline-block;
          width: 6.25rem;
          margin: 0;
          margin-left: 1.25rem;
          text-align: right;
          vertical-align: middle;
        }
        .description {
          margin-bottom: .5rem;
        }
        .message {
          margin-top: 1rem;
          padding-left: 1.75rem;
          overflow: hidden;
          text-overflow: ellipsis;
          a {
            color: @white;
            text-decoration: underline;
          }
          &:before {
            content: "i";
            display: inline-block;
            width: 1.25rem;
            height: 1.25rem;
            background-color: white;
            line-height: 1.5;
            border-radius: 50%;
            text-align: center;
            font-weight: bold;
            margin-left: -1.25rem;
            position: relative;
            right: .5rem;
          }
        }
        &.total-wrap {
          background-color: @white;
          color: @brand-primary;
          padding: 2rem 2rem 2rem;
          .box-shadow--dramatic();
        }
      }

      // set colors for one element with varying colors
      @colors: ~"0c5998", ~"2daae1", ~"8dc63f", ~"159e98", ~"7199b5";

      .for(@colors); .-each(@name) {
        .incentive-color-@{name} {
          .message:before {
            color: ~"#@{name}";
          }
        }
      }

      .fine-print {
        font-size: @caption-font-size;
        padding: 0 2rem;

        .resp-range(@mobilemax + 1,  @tabletmax, {
          padding: 0 1.5rem;
        });

        .resp(@mobilemax, {
          padding: 0 1.5rem;
        });
      }

      input {
        width: 100%;
      }

      .not-submitted,
      .no-incentives,
      .incentives-message {
        background-color: @brand-warning;
        margin-bottom: 1.2rem;
        padding: 2rem 2rem 2.2rem;

        .resp-range(@mobilemax + 1,  @tabletmax, {
          padding: 1rem 1.5rem 1.5rem;
        });

        .resp(@mobilemax, {
          padding: 1.7rem 1.5rem 1.9rem
        });

        a {
          color: @brand-primary;
          text-decoration: underline;
        }
      }
    }
  }
}

