
// Views table
// ================================

.views-table {
  .data-table(); // tables.less
  &.tablesaw { .tablesaw(); } // tables.less
  .views-field-title {
    .h4(); // defaults.less
    a {
      color: @text-color;
    }
  }
  td.views-field-title * {
    .h4();
    margin-bottom: 0;

    &.tablesaw-cell-label {
      &, * {
        .meta();
        color: @medium-text-color;
      }
    }

    &.field-dataset-accession {
      &, * {
        .meta(); // text.less
        color: @brand-primary;
        margin-bottom: .125rem;

        .resp(@tabletmax, {
          margin-top: .6rem;
        });
      }
    }
  }
}