
// Workbench
// ================================

.block-workbench {
  margin-bottom: 3rem;

  .workbench-info-block {
    padding: 1rem 1.5rem;
    border: @input-border-width solid @input-border-color;
    background-color: fade(@brand-mono-light, 25%);

    form {
      > div {
        display: flex;
        flex-direction: row;

        .form-item {
          margin: 0;
          margin-right: 1rem;
        }

        input[type="submit"] {
          .button();.alt();
        }
      }
    }
  }
}
