/* --- [ Typography ] --------------- */

//PT Sans
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700);

// Myriad Pro - Light
@font-face {
  font-family: 'Myriad Pro Light';
  src: url('../type/MyriadPro-Light.eot'); /* IE9 Compat Modes */
  src: url('../type/MyriadPro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/MyriadPro-Light.woff') format('woff'), /* Modern Browsers */
       url('../type/MyriadPro-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../type/MyriadPro-Light.svg#a99616dbb054e76c282c87b27678ee84') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

// Myriad Pro - Regular
@font-face {
  font-family: 'Myriad Pro Reg';
  src: url('../type/MyriadPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('../type/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/MyriadPro-Regular.woff') format('woff'), /* Modern Browsers */
       url('../type/MyriadPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../type/MyriadPro-Regular.svg#b6b933d6eeb92d33db4fad36c45b0bff') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

// Myriad Pro - Bold
@font-face {
  font-family: 'Myriad Pro Bold';
  src: url('../type/MyriadPro-Bold.eot'); /* IE9 Compat Modes */
  src: url('../type/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/MyriadPro-Bold.woff') format('woff'), /* Modern Browsers */
       url('../type/MyriadPro-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../type/MyriadPro-Bold.svg#29986178e2e3e94e7075806c03273fa2') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

.pt { font-family:'PT Sans', sans-serif; }
.m-lt { font-family:'Myriad Pro Light', 'PT Sans', sans-serif; }
.m-rg { font-family:'Myriad Pro Reg', 'PT Sans', sans-serif; }
.m-it { font-family:'Myriad Pro Italic', 'PT Sans', sans-serif; }
.m-bd { font-family:'Myriad Pro Bold', 'PT Sans', sans-serif; }

/* --- [ Responsive ] --------------- */

@mobile: ~"all and (max-width: 739px)";
@narrow: ~"all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation:landscape)";
@normal: ~"all and (min-width: 980px) and (min-device-width: 980px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation:landscape)";
@wide: ~"all and (min-width: 1220px)";

/* --- [ Colors ] --------------- */

// White
@w:  #fff;

//Grays
@g0: #444;
@g1: #818286;
@g2: #ccc;
@g3: #f5f5f5;

// Green
@gr: #9dcd50;

// Blues
@b1: #005997;
@b2: #2daae1;
@b3: #679cc0;

// Teal
@t:  #00b4ad;

/* --- [ Mixins ] --------------- */

// ............................................................
// .for

.for(@i, @n) {.-each(@i)}
.for(@n)     when (isnumber(@n)) {.for(1, @n)}
.for(@i, @n) when not (@i = @n)  {
    .for((@i + (@n - @i) / abs(@n - @i)), @n);
}

// ............................................................
// .for-each

.for(@array)   when (default()) {.for-impl_(length(@array))}
.for-impl_(@i) when (@i > 1)    {.for-impl_((@i - 1))}
.for-impl_(@i) when (@i > 0)    {.-each(extract(@array, @i))}


/* --- [ Reusable Styles ] --------------- */

.r(@radius:3px) {

	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;

}

.shadow(@off-x:1px,@off-y:1px,@blur:1px,@color:rgba(0,0,0,.25)) {

	text-shadow:@off-x @off-y @blur @color;

}

.noshadow { text-shadow:0 0 0 transparent; }

.boxshadow(@off-x:4px,@off-y:4px,@blur:0,@color:rgba(0,0,0,.25)) {

	-webkit-box-shadow:@off-x @off-y @blur @color;
	-moz-box-shadow:@off-x @off-y @blur @color;
	box-shadow:@off-x @off-y @blur @color;

}

.noboxshadow {

	-webkit-box-shadow:0 0 0 transparent;
	-moz-box-shadow:0 0 0 transparent;
	box-shadow:0 0 0 transparent;

}

.trans(@prop:all,@time:.25s,@mode:ease) {

	-webkit-transition: @prop @time @mode;
	-moz-transition: @prop @time @mode;
	-o-transition: @prop @time @mode;
	transition: @prop @time @mode;

}

.sizing(@mode:border-box) {

	-webkit-box-sizing:@mode;
	-moz-box-sizing:@mode;
	box-sizing:@mode;

}

.grad {

	background-image: linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 100%);
	background-image: -o-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 100%);
	background-image: -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 100%);
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 100%);
	background-image: -ms-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 100%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgba(255,255,255,.3)),
		color-stop(1, rgba(255,255,255,0))
	);

}

.button {

	.r;
	display:inline-block;
	float:none;
	background-image:none !important;
	background:@gr !important;
	padding:10px 30px;
	color:@w !important;
	border:none !important;
	font-size:14px;
	font-weight:bold;
	line-height:1;
	vertical-align:bottom;
	.pt;
	.shadow(1px,1px,2px);
	.trans;

	&:hover {

		background-color:@t !important;
		color:@w !important;
		text-decoration:none;

	}

	&:disabled,
	&:disabled:hover
	&.disabled,
	&.disabled:hover {

		cursor:not-allowed;
		color:@g3 !important;
		background:@g2 !important;

		//span { display:none; }

	}

}

body #page a.disabled,
body #page a.disabled:hover {

	background:@g2 !important;
	//span { display:none; }

}

.page #section-content {

	table,
	table thead,
	table tbody,
	table th,
	table tr,
	table td {

		border:none;

		&:hover {

			background:inherit;
			* { background:inherit; }

		}

	}

}

button,
input[type="reset"],
input[type="submit"],
input[type="button"],
input.button,
a.button,
div.button > a,
span.button > a {

	.button;

}

.form-submit {

	.button;
	border:none;
	cursor:pointer;

}

form {

	textarea,
	select,
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="email"],
	input[type="month"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="time"],
	input[type="url"],
	input[type="week"] {

		background:@w;
		padding:5px 10px;
		border:1px solid @g2;
		width:auto;
		height:auto;
		.pt;

	}

	select {

		-webkit-appearance:none;
		-moz-appearance:none;
		appearance:none;

		padding-right:25px;
		background:@w url('../images/arrow-down.png') right 10px center no-repeat;

	}

	input[name="zip_code"],
	input[placeholder*="Search"],
	input[placeholder*="search"],
    input#edit-field-dealer-zipcode {

		background:@w url('../images/icon-mag.svg') 10px center no-repeat;
		padding-left:35px !important;

	}

}

#messages { overflow:hidden; }

.cf {

	&:before,
	&:after {

		content:" ";
		display:table;
		clear:both;

	}

}

.pager {

	display:block;
	list-style:none;
	list-style-image:none;
	margin:0;
	padding:20px 0 !important;
	border:none;
	background:transparent;
	.r(0);

	li {

		display:inline-block;
		list-style:none;
		list-style-image:none;
		margin:0;
		padding:0;
		border:none !important;
		background:transparent;
		.r(0);

		font-size:14px;

		a {

			display:block;
			padding:5px 10px;

		}

		&.pager-next.first.last {

			display:block;
			float:none;
			position:static;
			width:100%;

			a {

				.button;
				display:block;
				width:auto;
				text-align:center;
				line-height:1.5;

			}

		}

		&.pager-current { padding:5px 10px; }

		&.pager-first {}
		&.pager-last {}

		&.pager-next {}
		&.pager-previous {}

	}

}

.dismiss {

	opacity:1;
	position:static;
	float:right;
	width:auto;
	padding:0;
	margin:0 0 0 20px;
	font-size:28px;
	background:transparent !important;
	color:@b1 !important;

	&:hover { background:transparent !important; color:@t !important; text-shadow:0 0 0 transparent; }

	text-shadow:0 0 0 transparent;
	.noboxshadow;

}

.confirm-parent, .password-parent { width:auto; }

.not-logged-in .tabs.primary { display:none; }

/* --- [ Global Styles ] --------------- */

html {

	background:@w;

}

body {

	font-size:100%;
	font-family:Arial, Helvetica, sans-serif;
	color:@g0;
	padding:0;
	margin:0;
	.pt;

}

#page { background:@w; border-top:4px solid @b3; }

img { vertical-align:bottom; }

img,input { max-width:100%; }

#block-system-main {

	ul,ol {

		overflow:hidden;
		padding:25px;
		padding-top:0;
		padding-right:0;
		margin:0;

		li { margin-bottom:10px; }
		li:last-of-type {
      margin-bottom:0;
    }
    ul:last-of-type,
    li:last-of-type,
    ol:last-of-type {
      padding-bottom: 0;
    }

		&.slides,
		&.flex-control-nav,
		&.flex-control-paging { padding:0; }

	}

}

ol ol { list-style-type: upper-roman; }

h1,h2,h3,h4,h5,h6 {

	letter-spacing:normal;
	font-weight:normal;
	.m-bd;

}

a:link,
a:visited,
a:active { color:@b1; text-decoration:none; }

a:hover { text-decoration:underline; }

.node ol, .node ul { padding-left:20px; }

.content {

	font-size:13px;
	line-height:1.4;

}

.views-field-field-signature-image {

	float:left;
	clear:left;
	margin-right:10px;

}

.hidden { display: none; }
.left { float: left; }
.right { float: right; }

.flexslider {

	margin:0;
	padding:0;
	border:none;

}

/* --- [ Videos ] --------------- */

.embedded-video { width:100%;height:100%;margin:0 auto;background:@g2; }

.player {

	position:relative;

    .ratio { display:block;width:100%;height:auto; }
    iframe { position:absolute;top:0;left:0;width:100%; height:100%; }

}

/* --- [ Header ] --------------- */

#section-header {

	.cf;
	padding:40px 0;

	// Logo
	#block-block-232 {

		float:left;

		h1,h2 { margin:0; display:inline-block; vertical-align:middle; }

		h1 {

			a { display:block; }
			img { width:300px; height:auto; }

			padding:0 15px 0 0;

		}

		h2 {

			border-left:1px solid @g2;
			margin-top:8px;
			padding:8px 0 8px 20px;
			max-width:240px;
			font-size:16px;
			color:@g1;
			.m-rg;

			img {

				height:45px;
				width:auto;
				float:left;
				margin-right:10px;
				-webkit-transform:translateY(-2px);
				-ms-transform:translateY(-2px);
				transform:translateY(-2px);

			}

		}

	}

	// Language Options
	#block-energycenter-lang {

		position:absolute;
		right:0;
		top:-40px;

		.content {

			a {

				.button;
				border-top-right-radius:0;
				border-top-left-radius: 0;
				background:@b3 !important;
				padding:8px 25px;
				font-size:16px;
				font-weight:normal;
				.m-rg;

				&:hover { background:@gr !important; }

			}

		}

	}

	// Navigation - Main Menu
	#block-superfish-1 {

		float:right;
		margin:36px 0 0;

		#superfish-1 {

			margin:0;

			li,span,a { background:transparent; border:none; margin:0; padding:0; }

			.sf-clone-parent { display:none !important; }

			> li {

				> a,
				> span {

					display:block;
					padding:10px 15px;
					color:@b1;
					font-size:16px;
					.m-rg;

				}

				> span { cursor:default; }

				&.last {

					margin-left:10px;

					> a[href*=login] {

						.button;
						font-size:16px;
						font-weight:normal;
						background:@t !important;

						&:hover { background:@gr !important; }

					}

				}

				&:hover,
				&.sfHover {

					.sf-megamenu { top:auto !important; }

				}

				// Mega Menu
				.sf-megamenu {

					padding:0 !important;

					&:before {

						content:" ";
						background:transparent url('../images/nav-arrow.png') 0 0 no-repeat;
						position:absolute;
						height:8px;
						width:16px;
						display:block;
						margin:-8px 0 0 15px;

					}

					> li > ol {

						background:@b1;
						display:block;
						list-style:none;
						list-style-image:none;
						overflow:hidden;
						margin:0;
						padding:15px;

						li {

							display:block;
							list-style:none;
							list-style-image:none;
							overflow:hidden;
							margin:0;
							padding:0;
							font-size:13px;

							span.menuparent { .m-bd; }

							span,a {

								display:block;
								border:none;
								color:@w;
								padding:5px;
								line-height:1.4;

							}

						}

					}

				}

			}

		}

	}

}

/* --- [ Footer ] --------------- */

footer {

	.block {

		display:block;
		float:left;

		h2.block-title {

			text-transform:uppercase;
			color:@g1;
			font-weight:bold;
			font-size:14px;
			margin-bottom:15px;
			.pt;


		}

	}

	#region-footer-first {

		padding:40px 0;
		.cf;

		#block-menu-menu-footer-menu {

			width:47%;
			padding:0 2.5% 0 0;
			margin:0 2.5% 0 0;
			border-right:1px solid @g2;

			.menu {

				display:block;
				list-style:none;
				list-style-image:none;
				overflow:hidden;
				margin:0;
				padding:0;

			    -webkit-column-count: 2;
			    -moz-column-count: 2;
			    column-count: 2;

				li {

					display:block;
					list-style:none;
					list-style-image:none;
					overflow:hidden;
					margin:0;
					padding:0;

					a { display:block; padding:7px 0; }

				}

			}

		}

		#block-block-230 {

			.content {

				p { margin-bottom:14px; }
				p:last-child { margin-bottom:0; }

				#footer-phone {

					padding:0 0 15px 22px;
					background:url('../images/icon-phone.svg') 0 0 no-repeat;

				}

				#footer-email {

					padding-left:22px;
					background:url('../images/icon-mail.svg') 0 1px no-repeat;

				}

        #footer-social {

          display: inline-flex;
          justify-content: flex-start;
          flex-flow: row nowrap;
          padding-top: 15px;

          .icon {
            width: 18px;
            height: 18px;
            padding-right: 18px;
          }

        }

			}

		}

		// Masquerade
		#block-masquerade-masquerade { float:right; }

	}

	#region-footer-second {

		padding:40px 0;
		border-top:1px solid @g2;
		.cf;

		#block-block-231 {

			float:none;

			.content {

				p:nth-child(1) img { max-width:300px; height:auto !important; margin-top:5px; }

				p:nth-child(2) img { width:100px; margin:-10px 30px 0 10px; }

				p:nth-child(1),
				p:nth-child(2),
				p:nth-child(3) { float:right; clear:none; }

				p:nth-child(4),
				p:nth-child(5) {

					float:left;
					clear:left;

				}

			}

		}

	}

}

/* --- [ Front ] --------------- */

.front,
.page-node-1373,
.page-node-1420 {

	.zone-preface-wrapper {

		#zone-preface,
		#region-preface-first {

			margin:0;
			width:100%;
			max-width:100%;

		}

		#region-preface-second { float:none; display:block; margin:0 auto; padding:40px 0; clear:both; .cf; }

		// Slideshow
		.banner-banner {

			position:relative;

			.flexslider {

				background:@b1;
				.r(0);

				img {

					opacity:.45;

				}

			}

			.group-outer-wrapper {

				position:absolute;
				z-index:20;
				top:0;
				left:0;
				width:100%;
				height:100%;
				overflow:hidden;

				.group-wrapper {

					display:table;
					height:100%;
					width:100%;
					margin:auto;
					vertical-align:middle;

				}

				.group-overlay {

					margin:0 auto;
					width:100%;
					height:100%;
					position:relative;
					display:table-cell;
					vertical-align: middle;
					color:@w;
					.shadow(1px,1px,2px);

					.field-banner-title {

						margin:0;
						font-size:60px;

						.m-lt;
						-moz-osx-font-smoothing: grayscale;
						-webkit-font-smoothing: antialiased;

					}

					.field-banner-logo {

						float:right;

						img { max-width:300px; height:auto; }

					}

					.field-banner-body {

						.m-rg;
						-moz-osx-font-smoothing: grayscale;
						-webkit-font-smoothing: antialiased;
						font-size:20px;
						max-width:60%;
						margin-bottom:2vw;

						@media @mobile { max-width:80%; }

					}

					.field-banner-link-label-1,
					.field-banner-link-label-2 {

						display:block;
						float:left;
						min-width:110px;
						padding:12px 30px;
						text-align:center;

					}

					.field-banner-link-label-1 { margin-right:10px; }

					.field-banner-links {

						display:block;
						float:left;
						clear:left;
						margin-right:10px;

						.button {

							min-width:110px;
							text-align:center;
							padding:12px 30px;

							&:hover { background:@b2 !important; }

						}

					}

					.field-banner-links + .field-banner-links {

						clear:none;
						margin-right:0;

						a { background:@t !important; &:hover { background:@b2 !important; } }

					}

				}

			}

		}

	}

	// Carousel
	#block-views-cvrp-eligible-vehicles-block-1 {

		overflow:hidden;
		margin-top:20px;

		h2.block-title {

			font-size:32px;
			color:@b2;
			text-align:center;
			margin-bottom:0;

		}

		.view-header {

			text-align:center;
			font-size:16px;
			color:@g1;

			a { color:@b2; text-decoration:underline; }
			a:hover { text-decoration:none; }

		}

		.jcarousel-prev-horizontal,
		.jcarousel-next-horizontal {

			width: 0;
			height: 0;
			border-style: solid;
			top:38%;
			position:absolute;
			.trans;

		}

		.jcarousel-prev-horizontal {

			border-width: 10px 10px 10px 0;
			border-color: transparent @b2 transparent transparent;
			left:0;

			&:hover { border-color: transparent @gr transparent transparent; }

		}

		.jcarousel-next-horizontal {

			border-width: 10px 0 10px 10px;
			border-color: transparent transparent transparent @b2;
			right:0;

			&:hover { border-color: transparent transparent transparent @gr; }
		}

		.jcarousel-container {

			width:100%;
			height:auto;
			.sizing;

			.jcarousel-clip {

				width:100%;
				padding:30px 0 20px;

				.jcarousel-item {

					border:none;
					height:auto;
					overflow:visible;
					padding-top:5px;
					margin:0 15px;

					.field-rebate-amount {

						background:@gr;
						outline:3px solid @gr;
						border:1px solid lighten(@gr,15%);
						color:@w;
						font-weight:bold;
						display:block;
						float:left;
						text-align:center;
						min-width:40px;
						position:absolute;
						padding:2px 8px;
						.shadow(1px,1px,1px);
						.boxshadow(3px,3px,3px,rgba(0,0,0,.25));

						transform:translate(-2px,-2px);

					}

					img {

						width:100%;
						height:auto;

					}

					.field-title {

						font-size:16px;
						font-weight:bold;
						text-align:left;
						margin:3px 0;

						div { line-height:1.2; }

					}

					.field-year-s- {

						font-size:13px;
						text-align:left;

					}

				}

			}

		}

		.view-footer {

			text-align:center;

		}

	}

	// Main Content
	#zone-content-wrapper {

		background:@g3;
		padding:40px 0;
		text-align:center;

		.block { text-align:left; }

		#block-system-main {

			.field-body {

				h2 {

					font-size:32px;
					margin-bottom:0;
					color:@b2;
					text-align:center;

				}

				p {

					text-align:center;
					font-size:16px;
					color:@g1;

					a { color:@b2; text-decoration:underline; }
					a:hover { text-decoration:none; }

				}

			}

		}

		#block-energycenter-cvrp-pie-250,
		#block-block-228,
		#block-block-229,
		#block-block-247,
		#block-block-246,
		#block-block-249,
		.signpost-box {

			// This whole thing is made wrong
			// I can't wait for retheme to launch
			// - AJC

      .highchartload {
        height: 170px;
        margin-bottom: -36px;
      }

			display:inline-block;
			display: -webkit-inline-box;
			display: -ms-inline-flexbox;
			display: inline-flex;
			vertical-align:top;
			width:30%;
			min-height: 290px;
			max-height: none;
			background:@w;
			padding:30px;
			.boxshadow(0,8px,15px,rgba(0,0,0,.15));
			.sizing;

			> .block-inner {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				width: 100%;
				&:after { content: none; }
			}

			.content {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
				-webkit-box-pack: justify;
				    -ms-flex-pack: justify;
				        justify-content: space-between;
				height: 100%;
				width: 100%;
				&:after { content: none; }

				p:last-child { margin-bottom:0; }

				img { width:100% !important; height:auto !important; }

				h4 {

					margin:0;

					a {

						.button;
						display:block;
						text-align:center;
						margin-top:20px;

					}

				}

				a.button { display:block; text-align:center; margin-top:20px; }

			}
      @media screen and ( max-width: 1220px ) {
        display: block;
        width: 40%;
        margin: 20px auto !important;
      }
      @media screen and ( max-width: 979px ) {
        display: block;
        width: 50%;
        height: 10%;
        margin: 20px auto !important;
      }
      @media screen and ( max-width: 630px ) {
        display: block;
        width: 90%;
        height: 10%;
        margin: 20px auto !important;
      }

		}

		#block-block-228,
		.signpost-box--middle { margin:0 2.5%; }

		#block-block-249,
		.signpost-box--plain {
			.content {
				text-align: center;
				min-height: 224px;
				p:first-child {
					margin: auto;
					font-size: 150%;
				}
			}
		}

		#block-public-fleet-project-zip-code-search-alt {

			clear:both;
			margin-top:40px;
			text-align:center;

			h2.block-title {

				color:@t;
				font-size:26px;

			}

			h3 { color:@g1; .pt; font-size:16px; }

			form {

				#edit-zip-code {

					border:none;
					width:30%;
					min-width:200px;
					padding:10px;
					.boxshadow(0,6px,12px,rgba(0,0,0,.15));

				}

				.description { margin-top:20px; }

			}

		}

	}

}

.page-node-1420 #zone-content-wrapper #block-system-main .field-body p { text-align:left; }

// Narrow
@media @narrow {

	.front,.page-node-1373,.page-node-1420 {
		.zone-preface-wrapper .banner-banner .group-wrapper,
		#region-preface-second { max-width:700px; }

		.zone-preface-wrapper .banner-banner .group-wrapper .group-overlay {

			.field-banner-title { font-size:40px; }
			.field-banner-body { font-size:14px; max-width:70%; }
			.field-banner-logo img { max-width:220px; }

		}

	}

}

// Normal
@media @normal {

	.front,.page-node-1373,.page-node-1420 {
		.zone-preface-wrapper .banner-banner .group-wrapper,
		#region-preface-second { max-width:940px; }

		.zone-preface-wrapper .banner-banner .group-wrapper .group-overlay {

			.field-banner-title { font-size:52px; }
			.field-banner-body { font-size:17px; }
			.field-banner-logo img { max-width:260px; }

		}

	}

}

// Wide
@media @wide {

	.front,.page-node-1373,.page-node-1420 {
		.zone-preface-wrapper .banner-banner .group-wrapper,
		#region-preface-second { max-width:1180px; }

		.zone-preface-wrapper .banner-banner .group-wrapper .group-overlay {

			.field-banner-title { font-size:60px; }
			.field-banner-body { font-size:20px; }
			.field-banner-logo img { max-width:300px; }

		}

	}

}

// My app mobile link
#block-block-242 { display:none; }

@media @mobile {

	img { max-width:100%; height:auto; }

	.logged-in #block-block-242 {

		display:block;
		position:absolute;
		right:0;
		top:12px;

		.content a {

			width:auto;
			max-width:60px;
			text-align:center;
			border:none;
			padding:8px;
			.r(3px);
		}

	}

	.front,.page-node-1373,.page-node-1420 {

		#zone-preface { overflow:hidden; }

	}

}

/* --- [ Not Front ] --------------- */

.not-front {

	#block-system-main {

		.field-body ~ .field-files {

			display:block;
			margin:0;
			padding:0;

		}

	}

	.flexslider {

		padding:0 0 30px;
		position:relative;

		.flex-control-paging { display:none; }

		.flex-direction-nav {

			padding:0 !important;
			margin:0 !important;
			position:absolute;
			bottom:40px;
			height:48px;
			width:100%;

			li {

				a {

					display:block;
					width:38px;
					text-align:center !important;
					color:transparent;
					opacity:.75;
					font-weight:normal;
					top:auto;
					bottom:0;
					margin:0 0 -3px;
					.noshadow;
					.trans;

					&.flex-prev { left:0 !important; }
					&.flex-next { right:0 !important; }

					&:hover { opacity:1; }

					&::before { color:@w; font-size:20px; .noshadow; }

				}

			}

		}

		.slides {

			li {

				position:relative;

				.flex-caption {

					position:absolute;
					width:100%;
					bottom:0;
					padding:15px 50px;
					background:rgba(0,0,0,.5);
					color:@w;
					.sizing;

					white-space: nowrap;
					text-overflow: ellipsis;
					overflow:hidden;

				}

			}

		}

		&:hover .slides li .flex-caption {

			white-space: normal;
			text-overflow: initial;

		}

	}

	#zone-preface-wrapper {

		background:@g3;
		padding:30px 0;

		h1,
		.block-landing-page-preface-real h2 {

			font-size:52px;
			line-height:1.2;
			color:@b2;
			margin:0;
			display:inline-block;

			.m-lt;
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;

			.title-prefix { color:@g1; }

		}

		#block-block-238 { float:right; clear:right; margin:15px 0 0 0; }

		p {

			.m-rg;
			color:@g1;
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-size:18px;
			margin-top:15px;

			&:last-of-type { margin-bottom:0; }

		}

		.block-menu {

			margin:20px 0 -30px;

			.menu {

				display:block;
				list-style:none;
				list-style-image:none;
				overflow:hidden;
				margin:0;
				padding:0;

				li {

					display:inline-block;
					vertical-align:bottom;
					list-style:none;
					list-style-image:none;
					overflow:hidden;
					margin:0;
					padding:0;

					a,span {

						display:block;
						padding:10px 20px;
						border-bottom:3px solid transparent;
						font-weight:bold;
						font-size:14px;
						color:@g1;

					}

					&.active-trail {

						> a,span {

							border-color:@b2;
							color:@g0;

						}

					}

				}

			}

		}

	}

	#zone-preface-wrapper + #zone-content-wrapper { padding-top:40px; }

	#zone-content-wrapper {

		// FAQs
		.application-email-wrapper,
		.view-cvrp-faqs,
		.view-pfp-faqs {

			.view-content {

				> h3 {

					font-size:20px;
					margin:30px 0;
					padding:10px 20px;
					background:@g3;
					color:@t;

				}

				.views-row {

					border:none !important;
					border-bottom:1px solid @g3 !important;
					padding:0;
					margin:0;

					&.views-row-last { border:none; }

					.views-field a {

						background:transparent;
						font-size:16px;
						font-weight:bold;
						border:none !important;
						.pt;
						.r(0);

					}

					.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
					.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {

						background:transparent;
						font-size:16px;
						font-weight:bold;
						border:none !important;
						.pt;
						.r(0);

						a,a.active {

							color:@b1;
							background:transparent;
							font-size:16px;
							font-weight:bold;
							border:none !important;
							.pt;
							.r(0);

						}

					}

					.ui-accordion-content {

						border:none;
						background:transparent;
						.pt;

					}

				}

			}

			.view-footer { margin-top:30px; }

		}

		// Zip Search
		#block-public-fleet-project-zip-code-search {

			.block-title {

				color:@b1;
				text-align:center;
				font-size:24px;

			}

			#public-fleet-project-zip-code-search-form,
			#public-fleet-project-zip-code-search-form--2 {

				text-align:center;

				h3 {

					font-size:16px;
					padding:0 15%;
					margin:0;
					color:@g1;
					.pt;

				}

				.form-type-textfield input { width:180px; }

				.form-submit { background:@b3 !important; }
				.form-submit:hover { background:@t !important; }

				.form-submit,a.button {

					display:inline-block;
					margin:0 5px;

				}

				a.button { margin-top:20px !important; }

			}

		}

		// Node List
		.node-listing-page {

			// Program Reports
			.view-cvrp-survey {

				.views-row {

					margin:0 0 30px;
					padding:0 0 30px;
					border-bottom:1px solid @g2;

					&.views-row-last { margin-bottom:0; padding-bottom:0; border:0; }

					.field-signature-media {

						float:left;
						width:40%;
						margin-right:20px;

						img { width:100%; height:auto; }

					}

					.field-title {

						h2 { font-size:18px; margin:0; }

					}

					.field-post-date {



					}

				}

			}

		}

		// Choose Vehicle Model
		#choose-vehicle-page {

			> table {

				border:none;

				thead {

					border:1px solid @g1;

					tr th {

						color:@w;
						background:@g1;
						padding:10px;
						.m-bd;

					}

				}

				tbody {

					border:1px solid @g2;
					border-top:none;

					tr {

						td,td:hover { background:@w; }

						td {

							div img { width:100%; height:auto; }

							table {

								margin-bottom:0;
								border:none;

								tbody { border:none; }

								tr {

									border-bottom:1px solid @g2;

									&:last-child { border:none; }

									td {

										h2 {

											margin:0;
											font-size:18px;
											.m-bd;

											a {

												display:block;
												padding:5px;

												img { display:none; }

											}

										}

									}

								}

							}

						}

					}

				}

			}

		}

		// Eligible Vehicles
		.view-eligible-vehicles,
		.view-cvrp-eligible-vehicles {

			.view-header {

				h2 {

					font-size:32px;
					color:@b2;
					text-align:center;
					margin-bottom:0;

				}

			}

			.view-filters {

				text-align:center;
				margin-top:20px;

				.views-exposed-form .views-exposed-widget {

					float:none;
					padding:0;
					margin:0;
					text-align:center;

				}

			}

			.view-content {

				> h3 {

					font-size:20px;
					margin:30px 0;
					padding:10px 20px;
					background:@g3;
					color:@t;

				}

				.views-row {

					border-bottom:1px solid @g2;
					padding-bottom:30px;
					margin-bottom:30px;
					.cf;

					.group-left {

						.field-image {

							float:left;
							margin-right:20px;

							img { max-width:150px; height:auto; }

						}

						.field-title {

							h4 { margin-bottom:5px; }

						}

					}

					.group-right {

						width:auto;

						.field-rebate-amount {

							margin-bottom:10px;
							font-size:16px;
							text-align:center;
							font-weight:bold;
							color:@g1;

						}

					}

				}

				.views-row-last { border:none; margin:0; padding:0; }

			}

			.view-footer {

				margin-top:30px;
				border:1px solid @g2;
				padding:10px 20px;
				text-align:center;

			}

		}

		#energycenter-cvrp-requirements-page-form {

			.button.left {

				background:@t !important;
				&:hover { background:@b2 !important; }

			}

			.button.left + .form-submit { float:right; }

		}

		.view-application-vehicle-header {

			margin-bottom:30px;
			padding-bottom:30px;
			border-bottom:1px solid @g2;

			.views-row {

				.cf;

				.views-field-field-image { margin-right:20px; }

				.views-field-title {

					h2 { font-size:20px; margin-bottom:0; }

				}

				.views-field-title + div { color:@g1; }

				.right {

					font-size:16px;
					font-weight:bold;
					color:@g1;
					margin-top:-40px;

				}

			}

		}

		.node-form {

			.section-header {

				text-transform:uppercase;
				color:@g1;
				font-weight:bold;
				font-size:14px;
				margin-bottom:15px;
				.pt;

			}

			label { font-weight:normal; margin-bottom:3px; }

			.form-required { color:@b2; }

			.description {
        margin-top:5px;
        color:@g1;
        p {
          margin-bottom: 0;
        }
        ul {
          li {
            margin-bottom: 0;
          }
        }
      }

		}

		#block-block-236 h2,
		#block-block-237 h2 { color:@b2; text-align:center; }

		#cvrp-application-node-form,
		#pfp-application-node-form {

      .form-item-field-applicant-password-pass2 {
        label {
          margin-top: 13px;
        }
      }
      .form-item {
        input.error {
          outline: 2px solid red;
          border: none;
        }
      }
      .password-confirm {
        margin: 0;
      }

			.form-wrapper {

				display:inline-block;
				width:100%;
				vertical-align:top;

				&[id*="dealer-picklist"] {
					background-color: @g3;
					padding: 20px;
					margin-top: 20px !important;
					margin-bottom: 20px !important;
					box-sizing: border-box;

					legend {
						float: left;
						width: 100%;
						text-transform:uppercase;
						color:@t;
						font-weight:bold;
						margin-bottom:10px;


						span {
							position: relative;
							width: 100%;

						}
					}
				}
			}

      #field-increased-rebate-header-add-more-wrapper {
        label {
          font-weight: bold;
          margin-bottom: 15px;
          color: black;
          text-transform: none;
        }
      }
      #edit-field-increased-rebate-header,
      #edit-field-kicker-intent,
      #edit-field-confirm-household-income,
      #edit-field-kicker-confirmation-header,
      #edit-field-confirm-not-dependent,
      #edit-field-confirm-income-agreement,
      #edit-field-confirm-accuracy {
        background-color: @g3;
        padding-left: 15px;
        display: inline-block;
      }
      #edit-field-increased-rebate-header,
      #edit-field-kicker-confirmation-header {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
      }
      #edit-field-kicker-intent {
        input {
          margin: 10px;
        }
        .option {
          font-weight: normal;
        }
        .form-item {
          margin: 0;
        }
        label {
          font-weight: bold;
        }
        .label-extra {
          margin: 10px 0px;
        }
      }
      #edit-field-confirm-household-income {
        input {
          width: 151px;
        }
        .description {
          font-style: italic;
        }
      }
      #edit-field-kicker-confirmation-header {
        .section-header{
          text-transform: none;
          font-weight: normal;
        }
      }
      #edit-field-confirm-not-dependent,
      #edit-field-confirm-income-agreement,
      #edit-field-confirm-accuracy {
        input {
          margin-right: 10px;
        }
        .form-item {
          margin: 5px;
          margin-bottom: 15px
        }
      }


			.field-widget-markup {

				text-transform:uppercase;
				color:@g1;
				font-weight:bold;
				padding-top:20px;
				margin-bottom:10px;
				margin-top:10px;
				border-top:1px solid @g3;

				p { margin:0; }

			}

			.form-text { width:48%; }
			.chosen-container { width:48% !important; }

			#edit-field-first-name,
			#edit-field-last-name,
			.field-name-field-applicant-email,
			.form-item-field-applicant-email-confirm,
			#edit-field-state,
			#edit-field-zip-code,
			#edit-field-mailing-state,
			#edit-field-mailing-zip-code {

				width:48%;
				display:inline-block;

				.form-text { width:100%; }
				.chosen-container { width:100% !important; }

			}

			#edit-field-zip-code label,
			#edit-field-mailing-zip-code label { display:block !important; }

			#edit-field-last-name,
			.form-item-field-applicant-email-confirm,
			#edit-field-zip-code,
			#edit-field-mailing-zip-code { margin-left:2%; }

			.form-type-password-confirm > label {

				text-transform:uppercase;
				color:@g1;
				font-weight:bold;
				font-size:14px;
				margin-bottom:15px;
				.pt;

				.form-required { display:none; }

			}

			.password-strength { display:none; }

		}

	}

	#zone-content,
	#zone-postscript {

		> div {

			display:block;
			float:none;
			margin-left:auto;
			margin-right:auto;
			max-width:800px;

		}

	}

	&.responsive-layout-mobile #zone-content-wrapper #zone-content > div,
	&.responsive-layout-mobile #zone-content-wrapper #zone-postscript > div { margin-left:10px; margin-right:10px; }
  #block-system-main {
    clear: none !important;
  }

  // Highcharts
  #block-public-fleet-project-pfp-pie-250{
    h2 {
      display: none;
    }
    float: right;
    display: inline-block;
    margin: 0 !important;
    th.label {
      background-color: #fff;
      color: #000;
      font-size: 1.2em;
    }
    .highchartload {
      width: 260px !important;
      height: 200px !important;
      .highcharts-container {
        position: relative;
        overflow: hidden;
        width: 260px !important;
        height: 200px !important;
        text-align: left;
        line-height: normal;
        z-index: 0;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        color: rgb(129, 130, 134);
        font-family: Verdana, Helvetica, Arial, sans-serif;
        font-size: 10px;
        font-weight: bold;

        svg {
          font-family: Verdana, Helvetica, Arial, sans-serif;
          font-size: 10px;
          color: #818286;
          font-weight: bold;
          fill: #818286;
          width: 260px !important;
          height: 200px !important;
          .highcharts-title {
            font-size: 14px !important;
          }
          text {
            color: #818286 !important;
            font-size: 10px !important;
            fill: #818286 !important;
            text-shadow: none !important;
            //width: 736px;
            text-rendering: geometricPrecision;
          }
          g.highcharts-tooltip {
            cursor: default;
            padding: 0;
            pointer-events: none;
            white-space: nowrap;
          }
          rect.highcharts-background {
            width: 260px !important;
            height: 200px !important;
          }
        }
      }
    }
    .active-trail {
      position: absolute;
      top: 160px;
      right: 145px;
    }
  }
  #block-public-fleet-project-pfp-pie-650,
  #block-energycenter-cvrp-pie-650 {
    th.label {
      background-color: #fff;
      color: #000;
      font-size: 22px;
    }
    .highchartload {
      .highcharts-container {
        position: relative;
        overflow: hidden;
        width: 800px !important;
        height: 400px !important;
        text-align: left;
        line-height: normal;
        z-index: 0;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        color: rgb(129, 130, 134);
        font-family: Verdana, Helvetica, Arial, sans-serif;
        font-size: 10px;
        font-weight: bold;

        svg {
          font-family: Verdana, Helvetica, Arial, sans-serif;
          font-size: 10px;
          color: #818286;
          font-weight: bold;
          fill: #818286;
          width: 800px !important;
          height: 400px !important;
          text {
            color: #818286 !important;
            font-size: 10px;
            font-weight: bold;
            fill: #818286 !important;
            text-shadow: none !important;
            width: 736px;
            text-rendering: geometricPrecision;
          }
          g.highcharts-tooltip {
            cursor: default;
            padding: 0;
            pointer-events: none;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
#block-energycenter-cvrp-pie-250 {
  th.label {
    background-color: #fff;
    color: #000;
    font-size: 1.2em;
  }
  .highchartload {
    .highcharts-container {
      line-height: normal;
      z-index: 0;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      color: rgb(129, 130, 134);
      font-family: Verdana, Helvetica, Arial, sans-serif;
      font-size: 10px;
      font-weight: bold;

      svg {
        font-family: Verdana, Helvetica, Arial, sans-serif;
        font-size: 10px;
        color: #818286;
        font-weight: bold;
        fill: #818286;
        .highcharts-title {
          font-size: 14px !important;
        }
        text {
          color: #818286 !important;
          font-size: 10px !important;
          fill: #818286 !important;
          text-shadow: none !important;
          width: 736px;
          text-rendering: geometricPrecision;
        }
        g.highcharts-tooltip {
          cursor: default;
          padding: 0;
          pointer-events: none;
          white-space: nowrap;
        }
        g.highcharts-legend {
          transform: translate(85px,20px);
        }
      }
    }
  }
}

/* --- [ User Profile ] --------------- */

.logged-in.page-user.page-user- {

	#block-system-main {

		> .block-inner > .content + .form-wrapper {

			.application-info-block-footer {

				margin:-20px 0 20px 0;
				padding:20px;
				border:1px solid @g2;
				border-top:none;

				.description { font-size:12px; color:@g1; }

			}

			&:first-child {



			}

		}

		fieldset {

			display:block;
			width:100%;

			legend {

				display:block;
				width:100%;
				padding:10px 20px;
				font-weight:bold;
				color:@w;
				background:@g1;
				font-size:15px;
				text-transform:uppercase;
				.sizing;

				.fieldset-legend { padding:0; background:transparent; }

				a { color:@w; }

			}

			.fieldset-wrapper {

				border:1px solid @g2;
				border-top:none;
				padding:20px;
				.cf;

				.application-info-block-footer {

					font-weight:bold;
					font-size:15px;

				}

				.utility-logo {

					float:left;
					max-width:150px;
					margin-right:20px;

					img { width:100%; height:auto; }

				}

				#cvrp-document-page-message-greeting + .left,
				#cvrp-document-page-message-greeting + .left + .right {

					font-weight:bold;
					color:@g1;
					text-transform:uppercase;

				}

				.file-remove-widget {

					> div,input {

						display:inline-block;

					}

					.form-submit { margin-left:110px; }

				}

				.cvrp-upload-document-item {

					clear:both;
					padding:20px 0 0 0;
					margin:20px 0 0 0;
					border-top:1px solid @g2;

					> .edit-title {

						margin-top:0;
						font-weight:bold;
						color:@g1;
						text-transform:uppercase;

					}

					.document-status {

						font-weight:bold;
						color:@g1;

						&.error,
						&.rejected { color:#ed541d; }
						&.approved { color:@gr; }

					}

					.form-type-file { display:inline-block; }

				}

				.cvrp-upload-document-item:last-of-type { border-bottom:1px solid @g2; padding-bottom:20px; }

				.cvrp-upload-document-item + .form-submit {

					margin-top:30px;

				}

				img { max-width:758px; width:100%; height:auto; }

				.file {

					font-weight:bold;

					img { width:auto; height:auto; vertical-align:top; margin-right:5px; }

				}

				.row,
				.application-info-block-content { margin-bottom:20px; }

				.item {

					display:inline-block;
					vertical-align:top;
					width:30%;
					margin:0 3% 0 0;

					.item-label {

						color:@g1;
						font-size:12px;
						margin-bottom:3px;
						display:block;

					}


					.application-start-wrap + .item-content { word-break:break-all; }
					#application-start-wrap + .item-content { word-break:break-all; }

					.item-content {

						font-size:14px;

					}

				}

				#application-status-icon-wrap {

					#application-status-icon {

						display:block;
						width:100%;
						max-width:250px;
						height:45px;
						white-space:nowrap;
						text-indent:101%;
						overflow:hidden;

						&:before {

							content:" ";
							display:block;
							width:100%;
							height:100%;
							background:@w;
							background-repeat:none;
							background-position:0 0;
							background-size:100% 100%;

						}

						&.documents-pending:before { background-image:url('../images/status-1b.png'); }
						&.documents-received:before  { background-image:url('../images/status-2b.png'); }
						&.incomplete:before { background-image:url('../images/status-2r.png'); }
						&.application-approved:before { background-image:url('../images/status-3b.png'); }
						&.check-sent:before { background-image:url('../images/status-4g.png'); }
						&.cancelled:before { background-image:url('../images/status-0b.png'); }
						&.on-hold:before { background-image:url('../images/status-2y.png'); }
						&.resubmitted:before { background-image:url('../images/status-2b.png'); }

					}

				}

			}

		}

	}

}

/* --- [ PFP ] --------------- */

.page-node-1373,
.page-node-1420 {

	#zone-preface-wrapper {

		padding:0;

		h1 { color:@w; }

	}

	#zone-content > div,
	#zone-postscript > div {

		max-width:100%;

	}

	& #zone-preface-wrapper + #zone-content-wrapper { background:@w; }

	#zone-content {

		.block {

			max-width:700px;
			margin:0 auto 40px;
			clear:both;

			.block-title {

				text-align:center;
				color:@b2;
				font-size:28px;

			}

			input { margin:auto; }

		}

		#block-public-fleet-project-zip-code-search-nonajax,
		#block-views-pfp-faqs-block-1 .view-filters {

			text-align:center;

			.views-exposed-widget { float:none; padding:0; margin:0; }

		}

		#node-landing-page-1373 .field-body p { text-align:left; }

	}

}

#pfp-requirements-page-form {

	.form-item-agree {

		padding:20px;
		border:1px solid @g2;
		margin-bottom:20px;

	}

}

#energycenter-cvrp-requirements-page-form {

	.form-item-agree {

		padding:20px;
		border:1px solid @g2;
		border-bottom:0;
		margin-bottom:0;
		padding-bottom:10px;

	}

	.form-item-agree2 {

		padding:20px;
		border:1px solid @g2;
		margin-bottom:20px;
		padding-top:0;
		margin-top:0;
		border-top:none;

	}

}

/* --- [ Login ] --------------- */

.not-logged-in.page-user,
.page-create-new-password,
.page-request-new-password {

	#zone-preface-wrapper,
	#block-system-main { text-align:center; }

	#block-system-main {

		#edit-app-id { font-size:22px; font-weight:bold; color:@b2; margin-top:0; }

		.password-strength,
		div.password-confirm { display:none; }

		form {

			max-width:400px;
			margin:auto;

			.form-text { width:400px; }

			.description,
			.cvrp-application-request-password-help { font-size:12px; color:@g1; margin-top:5px; }

		}

	}

}

.group-left {
  float: left; /* LTR */
  width: 50%;
}

.group-right {
  float: right; /* LTR */
  width: 50%;
}

.view-content.ui-accordion {
	// See: /eng/faqs
	.ui-accordion-header {
		> a {
			position: relative;
			z-index: 1;
		}
		.ui-icon[class*='ui-icon-triangle'] {
			position: absolute;
			z-index: 10;
			display: block;
			background: transparent;
		  top: 0;
		  bottom: 0;
		  right: 0;
		  left: 0;
		  background-image: url(../images/blank1x1.png);
		  width: auto;
		  height: auto;


		  &:before {
		  	content: ' ';
		  	display: block;
			  text-indent: -99999px;
			  overflow: hidden;
			  background-repeat: no-repeat;
		  	width: 16px;
		  	height: 16px;
		  	position: absolute;
		  	left: .5em;
		  	top: 1em;
		  	background-image: url(/misc/ui/images/ui-icons_888888_256x240.png);
		  	background-position: -32px -16px;
		  }
		}

		&.ui-state-active {
			.ui-icon[class*='ui-icon-triangle']:before {
				background-position: -64px -16px;
			}
		}

	}
}

.front.i18n-es {

		.zone-preface-wrapper .banner-banner .group-outer-wrapper .group-overlay .field-banner-link-label-1,
		.zone-preface-wrapper .banner-banner .group-outer-wrapper .group-overlay .field-banner-link-label-2,
		.zone-preface-wrapper .banner-banner .group-outer-wrapper .group-overlay .field-banner-links {

			width:230px;
			padding-left:0;
			padding-right:0;

			a { display:block; }

			@media @mobile {

				width:43%;

			}

		}

	&.responsive-layout-mobile {

		.zone-preface-wrapper .banner-banner {

			#flexslider-1 {

				height:350px;

				.slides {

					height:350px;

					li img { height:350px; }

				}

			}

		}

		.group-outer-wrapper .group-overlay { height:350px; }

	}

}

/* --- [ Node Details ] --------------- */

#block-system-main {

	.block-inner > .content > .node {

		.action-links {

			float:right;
			margin:0 -40px 0 20px;
			padding:0 0 0 20px;
			border-left:1px solid @g2;

			.field-action-links {

				display:block;
				padding:0;

				li {

					display:block;

					a {

						display:block;
						padding:10px;
						font-weight:bold;

					}

				}

			}

		}

	}

}

/* --- [ Postscript ] --------------- */

#zone-postscript-wrapper {

	background:@g3;
	padding:40px 0;
	margin-top:30px;

	#zone-postscript {

		#region-postscript-first {

			max-width:100%;

			.block-title {

				text-transform:uppercase;
				color:@g1;
				font-weight:bold;

			}

			.view-related-content {

				.view-content {

					text-align:center;

				}

				.views-row {

					display:inline-block;
					vertical-align:top;
					width:20%;
					margin:0 5px;

					.field-name-field-signature-media,
					.field-trans-image {

						img { width:100%; height:auto; }

					}

					.field-trans-image { background:transparent url('../images/placeholder.png') center center / cover no-repeat; }

					.field-title h4 {

						margin:3px 0 0;
						font-size:16px;

					}

				}

			}

		}

	}

}

/* --- [ Share links ] ------------------------*/

.share-links:extend(.unbullet) {
  margin: 0;
  font-size: 0;
  list-style: none;
  padding: 0 9px;

  > li {
    display: inline-block;
    padding-left: 15px;

    a {
      display: block;
      clear: both;
      text-indent: -9999px;
      line-height: 0;
      transform: translate(0) translateZ(0);
      opacity: 1;
      .trans(all, 500ms);
      &:after {
        content: ' ';
        display: block;
        width: 30px;
        height: 30px;
        margin: 0 10px;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
      }

      &.facebook:after {
        background-image: url("../images/fb-logo-teal.png");
        background-size: contain;
      }

      &.twitter:after {
        background-image: url("../images/tw-logo-teal.png");
        background-size: contain;
      }
      /* AE Ticket #71: Global - Add Share Links To Node/page Headings*/
      &.email:after {
      	background-image: url("../images/Mail-Icon_noun_teal.png");
        background-size: contain;

      }
      &.facebook:hover, &.twitter:hover, &.email:hover {
      	opacity: 0.56;
      }
    }
  }


  max-width: 2000px;
  overflow: hidden;
  white-space: nowrap;
  .trans(max-width, 500ms);

  &.isClosed {
    max-width: 0;
    opacity: 1;

    @media @mobile {
        max-width:100%;
		opacity:1;
	}

    a {
      opacity: 0;
      transform: translate(300%) translateZ(0);

      @media @mobile {
        max-width:100%;
		opacity:1;
		transform:none;
		-webkit-transform:none;
      }

    }
  }
}

.share-links__toggle {
  position: absolute;
  top: 15px;
  transform: translateY(-50%) rotate(-45deg) translateZ(0);
  right: -39px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url("../images/plus-sign-stroke-teal.png"); /*AE*/
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  text-indent: -9999px;
  .trans(transform,250ms);

  	&.isClosed {
    	transform: translateY(-50%) rotate(0deg) translateZ(0);
    }

  &:hover {
    background-image: url("../images/plus-sign-stroke-gr.png");
    transition: all 0.25s ease;
  }
}

.block-ma-cvrp-share-links {
  padding: 0;
  position: absolute;
  top: 25px;
  right: 39px;

  .content {
    padding: 0;
  }
}

/* --Add to Cal -- */
.addtocal { float:left; }


/* --- [ Responsive - Mobile ] --------------- */

@media @mobile {

	overflow-x:hidden;
	width:100%;

	.not-front #zone-preface-wrapper .block-menu .menu li { width:100%; }

	.not-front #zone-preface-wrapper .block-menu .menu {

		.leaf { width:100%; display:block; }

		.active-trail {

			display:block;
			width:100%;

			span { background:@b2 !important; color:@w !important; }

		}

	}

	.logged-in.page-user.page-user- #block-system-main fieldset .fieldset-wrapper #cvrp-document-page-message-greeting {

		margin-bottom:30px;
		min-height: auto !important;
		padding-right:0 !important;
		background-image:none;

	}

	#page { border:none; }

	#section-header {

		padding:20px 0;

		#block-block-232 {

			float:none;
			padding:0 80px;
			text-align:center;

			.content {

				h1 {

					padding:0;

					img { width:100%; vertical-align:middle; }

				}

				h2 { display:none; }

			}

		}

		#block-superfish-1 {

			float:none;
			clear:both;
			width:100%;
			margin:0;
			position:static;
			.cf;

			.sf-accordion-toggle {

				top:8px;
				left:0;
				position:absolute;
				z-index:20;

				#superfish-1-toggle {

					background:transparent url('../images/menu.png') center center / 40px 40px no-repeat;
					border:none;
					overflow:hidden;
					text-indent:-9999px;
					text-align:left;
					display:block;
					padding:0;
					margin:0;
					height:40px;
					width:40px;

					&.sf-expanded { background-image:url('../images/menu-close.png'); }

				}

			}

			#superfish-1-accordion {

				background:transparent;
				float:none;
				width:100%;
				padding-top:20px;

				&.sf-hidden { height:0; overflow:hidden; margin:0; padding:0; }
				&.sf-expanded { height:auto; overflow:visible; }

				li {

					float:none;
					clear:both;
					width:100%;
					border:none;
					border-bottom:1px solid rgba(255,255,255,.2);
					background:@b2;
					background-position:right 10px / top 8px;
					background-size:20px 20px;
					background-repeat:no-repeat;
					color:@w;

					&.menuparent { background-image:url('../images/menu-down.png'); }
					&.menuparent.sf-expanded { background-image:url('../images/menu-up.png'); }

					a,span {

						display:block;
						width:100%;
						color:@w;
						background:transparent;
						border:none;
						padding:10px;
						.sizing;

					}

					ul {

						height:0;
						overflow:hidden;
						width:100% !important;
						position:static;
						clear:both;
						.sizing;

						li:last-child { border:none; }

						li { background-color:@b1; }

						li.sf-clone-parent { display:none; }

						ul li { background:darken(@b1,5%); }

					}

					&.sf-expanded {

						 > ul {

							height:auto;

						}

					}

				}

			}

			li#menu-2246-1 {

				position:absolute;
				top:10px;
				right:0;
				width:auto;
				max-width:60px;
				text-align:center;
				border:none;
				.r(3px);

				a { padding:8px; }

			}

		}

		#block-energycenter-lang {

			position:static;
			clear:both;
			width:100%;
			margin:20px 0 0;

			.content {

				a {

					.r(3px);
					display:block;
					padding:8px 0;
					text-align:center;
					font-size:14px;
								}

			}

		}

	}

	.front,.page-node-1373,.page-node-1420 {

		#zone-content-wrapper {

			#block-public-fleet-project-zip-code-search-alt  {

				h2.block-title { font-size:20px; }
				h3 { font-size:14px; }

				#edit-zip-code { width:60%; }

			}

			#block-system-main {

				.field-body {

					h2 { font-size:20px; }
					p { font-size:14px; }

				}

			}

		}

		.jcarousel-container .jcarousel-clip .jcarousel-item .field-rebate-amount { -webkit-transform:translate(3px,-2px); -ms-transform:translate(3px,-2px); transform:translate(3px,-2px); }

		#region-preface-second { padding-left:10px !important; padding-right:10px !important; }

		.zone-preface-wrapper .banner-banner {

			#flexslider-1 {

				height:320px;
				width:100%;
				clear:both;
				position:static;
				float:none;
				clear:both;

				.slides {

					height:300px;
					width:100%;
					clear:both;
					position:static;
					float:none;
					clear:both;

					left:50%;
					-webkit-transform:translateX(-50%);
					-ms-transform:translateX(-50%);
					transform:translateX(-50%);

					li img { height:300px; width:auto !important; max-width:none !important; }

				}

			}

			.group-outer-wrapper .group-overlay {

				display:block;
				height:300px;

				> div {

					display:block;
					clear:both;
					width:90%;
					max-width:90%;
					margin:0 auto;
					text-align:center;

				}

				.field-banner-title {

					font-size:26px !important;
					text-align:center !important;
					display:block !important;
					padding:10px 0;

				}

				.field-banner-body { font-size:14px; padding-bottom:10px; }

				.field-banner-links {

					a {

						width:100%;
						padding:12px 5px !important;
						text-align:center;
						font-size:12px;
						.sizing;

					}

				}

				.field-banner-link-label-1,
				.field-banner-links {

					float:left;
					clear:left;
					width:43%;
					padding:0;
					margin:0;
					margin-left:5%;
					margin-right:2%;

				}

				.field-banner-link-label-2,
				.field-banner-links + .field-banner-links {

					float:right;
					clear:right;
					width:43%;
					padding:0;
					margin:0;
					margin-right:5%;
					margin-left:2%;

				}

				.field-banner-link-label-1,
				.field-banner-link-label-2 { padding-bottom:5px; }

				.field-banner-logo {

					float:none;
					padding-top:20px;

					img { width:100%; max-width:240px; margin:auto; }

				}

			}

		}

	}

	.not-front #zone-preface-wrapper {

		h1 { font-size:38px; }

	}

	.not-front #zone-preface-wrapper #block-block-238 { float:none; }

	.logged-in.page-user.page-user- #block-system-main fieldset .fieldset-wrapper .item {

		margin:0 0 10px 0;
		display:block;
		width:100%;
		clear:both;

	}

	.not-front #zone-content-wrapper #cvrp-application-node-form,
	.not-front #zone-content-wrapper #pfp-application-node-form {

		.form-wrapper {

			display:block;
			width:100% !important;
			margin:0 !important;
			clear:both;

			.form-text { width:100% !important; }

		}

	}

	.not-front #zone-content-wrapper #cvrp-application-node-form,
	.not-front #zone-content-wrapper #pfp-application-node-form {

		.form-item-field-applicant-email-confirm,
		#edit-field-zip-code,
		.form-text {

			display:block !important;
			width:100% !important;
			margin:0 !important;
			clear:both;

			.form-text { width:100% !important; }

		}

	}

/*AE */
	.block-ma-cvrp-share-links {
	  position: absolute;
	  top: 60px;
	  left: -16px;
	}

	.share-links__toggle {
		display:none;
	}

	.field-overview-text {
		margin: 60px 0 0 0 ;
	}
}

@media @mobile {

	.front #block-views-cvrp-eligible-vehicles-block-1,
	.page-node-1373 #block-views-cvrp-eligible-vehicles-block-1,
	.page-node-1420 #block-views-cvrp-eligible-vehicles-block-1 {

		h2.block-title { font-size:20px; }

		.view-header { font-size:14px; }

		.jcarousel-prev,
		.jcarousel-next { display:none !important; }

		.jcarousel-container .jcarousel-clip {

			overflow:visible !important;

			.jcarousel { width:100% !important; position:static !important; left:0 !important; overflow:visible !important; }

			.jcarousel-item {

				display:block;
				position:static;
				float:none;
				width:100% !important;
				clear:both;
				margin:0 0 30px !important;

			}

			.jcarousel-item:nth-child(n+4) {

				display:none !important;

			}

		}

	}

	#block-energycenter-cvrp-pie-250,
  #zone-content-wrapper #block-block-228,
	#zone-content-wrapper #block-block-229,
  #block-block-247,
  #block-block-246,
  #block-block-249,
  .signpost-box {
		clear:both;
		float:none;
		width:100%;
		margin:0 0 20px;
		.sizing;
	}

	#block-energycenter-cvrp-pie-250 {
    height: 170px;
    margin-bottom: -36px;
  }

	footer {

		#region-footer-first {

			#block-menu-menu-footer-menu {

				width:100%;
				clear:both;
				float:none;
				border:none;
				margin-bottom:20px;

				.content {

					ul {

					    -webkit-column-count: 1;
					    -moz-column-count: 1;
					    column-count: 1;

					}

				}

			}

		}

		#region-footer-second {

			#block-block-231 {

				.content {

					text-align:center;

					p {

						width:100%;
						clear:both;
						display:block;
						float:none;
						text-align:center;
						padding:0;
						margin:0 0 10px;

						img { max-width:80% !important; }

					}

				}

			}

		}

	}

}

/* --- [ Responsive - Narrow ] --------------- */

.responsive-layout-narrow {

	#section-header {

		#block-block-232 {

			float:none;
			clear:both;
			text-align:center;

		}

		#block-superfish-1 {

			float:none;
			clear:both;
			text-align:center;

			#superfish-1 {

				float:none;
				display:inline-block !important;
				text-align:center;
				margin:auto;

			}

		}

	}

}

/* --- [ Responsive - Normal ] --------------- */

.responsive-layout-normal {

	#section-header {

		#block-block-232 {

			h1 {

				img { width:220px; }

			}

			h2 { font-size:15px; max-width:220px; }

		}

		#block-superfish-1 {

			margin-top:30px;

			#superfish-1 {

				> li {

					& > a,
					& > span { font-size:15px; }

				}

				> li.last a { font-size:15px !important; }

			}

		}

	}

}

/* --- [ Responsive - Wide ] --------------- */

.responsive-layout-wide {



}


#pfp-requirements-page-form {

	#edit-back {

		background:@b3 !important;

		&:hover { background:@t !important; }

	}

	#edit-submit { float:right; }

}

#edit-field-tax-identification-number-und-0-value { width:200px; }

.not-front #zone-content-wrapper #cvrp-application-node-form {

	#edit-field-date-of-purchase-und-0-value-datepicker-popup-0 { width:100px; }

}

// Event Lists
.context-local-events-and-workshops,
.page-node-1499,
.page-node-1500 {

	&.node-type-listing-page {

		#block-system-main {

			.view-events {

				.views-row {

					h4 { margin-bottom:5px; }

					.meta { color:@g1; margin-bottom:5px; }

					.field-signature-media ~ div {

						float:left;
						width:~"calc(80% - 20px)";

					}

				}

			}

		}

	}

	#block-system-main {

		.node-listing-page {

			.view-events {

				h3 {

					font-size:20px;
					margin:30px 0;
					padding:10px 20px;
					background:@g3;
					color:@t;

				}

				.views-row {

					overflow:hidden;
					clear:both;
					margin:0 0 20px;
					padding:0 0 20px;
					border-bottom:1px solid @g3;

					.field-signature-media {

						float:left;
						width:20%;
						margin-right:20px;

						background:transparent url('../images/placeholder.png') center center / cover no-repeat;

						img { width:100%; height:auto; }

					}

				}

				.views-row-last { border:none; margin:0; padding:0; }

			}

		}

	}

}

.page-apply {

	#block-block-236 + .block  {

		.block-title { display:none; }

		.view-application-vehicle-header .view-content {

			.views-field-field-image {

				width:30%;
				margin-right:20px;

				img { width:100%; height:auto; }

			}

			.right {

				float:none;
				margin:0;

			}

		}

	}
  #edit-field-mailing-address {
    .form-item-field-mailing-address-und {
      display: inline-block;
      width: 50%;
    }
    .addresstext {
      text-transform:uppercase;
      font-size:10px;
      .pt;
      width: 50%;
      line-height: 27px;
      display: inline-block;
      text-align: left;
      float: right;
    }
    img {
      width: 100px;
      height: auto;
      margin: 5px;
    }
  }
  #edit-dealer-picklist {
    .form-item-field-dealer-zipcode {
      display: inline-block;
      width: 75%;
    }
    .dealershiptext {
      text-transform:uppercase;
      color:@g1;
      font-size:10px;
      .pt;
      width: 125px;
      display: inline-block;
      text-align: center;
    }
    img {
      width: 90px;
      height: auto;
    }
  }
  #zone-postscript-wrapper #zone-postscript {
    margin-left: auto;
    margin-right: auto;
    @media @narrow {
      width: 720px;
    }
    @media @normal {
      width: 960px;
    }
    @media @wide {
      width: 1220px;
    }
    #region-postscript-first {
      max-width: 800px;
    }
  }


}

// Site status modifications
#region-page-top{
  .region-inner.region-page-top-inner {
      background-color: #FFFF66;
  }
}
#site-status {
  background-color: #FFFF66;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  color: #777;
  box-shadow: none;
}

// Site status modifications
#region-page-top{
  .region-inner.region-page-top-inner {
      background-color: #d32101;
  }
}
#site-status {
  background-color: #d32101;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  color: #FFF;
  box-shadow: none;
}

// Temporary
body { margin-left:0 !important; }
#environment-indicator { display:none !important; }

/* --- [ Landing Page ] --------------- */

.block-landing-page-preface-real {
  h2.block-title {
    display: none !important;
  }
}

.not-front #zone-content > div.region-content-landing_page_real {
  max-width: none;
}

.node-type-landing-page-real {

  .field-banner-body {
    font-size: 16px;
    margin-top: 10px;
  }
  .field-body,
  .field-footer-text {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .field-body,
  .field-body p,
  .field-footer-text {
    font-size: 14px;
  }

  .field-overview-text {
    font-size: 18px;
    color: @g1;
    -webkit-font-smoothing: antialiased;
    .m-rg;
    margin-top: 15px;
  }

}

.view-landing-page-menu {
  .view-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .views-row {
    flex-basis: ~"calc(33% - 10px)";
    padding: 10px 0;
    box-sizing: padding-box;
    @media (max-width: 740px) {
      flex-basis: 100%;
    }
    img {
      height: auto;
      width: 100%;
    }
    &:hover {
      a {
        text-decoration: underline;
      }
      .field-signature-media,
      .field-menu-image {
        position: relative;
        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background-color: #00B4AE;
          opacity: .6;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 99;
        }
      }
    }
    .field-signature-media {
      .flexslider {
        .not-front & {
          padding-bottom: 0;
        }
      }
    }
  }
  .views-field-link-title {
    text-align: center;
    a {
      color: @b2;
      font-size: 16px;
      margin: .5em 0 .3em;
      display: block;
    }
  }
  .views-field-description {
    text-align: center;
    font-size: 14px;
  }
}



/* --- [ Stackable Incentives ] --- */

#block-cvrp-stackable-stackable {

  &.not-front #zone-content > div {
    max-width: none;
  }

  .zone-content-wrapper {
    background-color: @g3;
  }


  h2 {
    font-size: 28px;
    color: @b2;
    text-align: center;
  }

  .messages.error {
    background-color: #ff5d5e;
    border-color: #ff5d5e;
    background-image: none;
    color: white;
    padding: 10px 20px;
    .dismiss {
      display: none;
    }
  }


  #cvrp-stackable-incentives-form {
    > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 2em 0;

      @media @mobile {
        display: block;
      }

      .form-description {
        flex-basis: 100%;
        margin-bottom: 2em;
        /*flex-basis: 200%;
        width: 200%;
        min-width: 200%;
        text-align: center;*/
      }

      #edit-rebate {
        flex-basis: ~"calc(50% - 2em)";

        @media @wide {
          flex-basis: ~"calc(50% - 4em)";
        }

        height: 100%;
        background-color: white;
        box-shadow: 0px 3px 5px 2px rgba(0,0,0,.11);
        padding: 2em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        box-sizing: border-box;

        label {
          display: block !important;
          .form-required {
            color: @b2;
          }
        }
        input,
        select {
          margin: .5em 0;
          color: @g0;
          width: 100%;
          height: 45px;
        }

        input {
          &::placeholder {
            color: white;
          }
        }
        select {
          width: 100%;
        }

        .form-item-postal-code,
        .form-item-city,
        .form-item-street {
          flex-basis: 100%;
        }

        .form-item-household-size,
        .form-item-household-income,
        .form-item-vehicle-type,
        .form-item-vehicle-age,
        .form-item-vehicle-retire {
          flex-basis: ~"calc(50% - 1em)";
          @media all and (max-width: 980px) and (min-width: 740px) {
            flex-basis: 100%;
          }
          @media all and (max-width: 415px) {
            flex-basis: 100%;
          }
        }

        .form-item-vehicle-retire {
          margin-right: 50px; // arbitrary value — pushes the buttons down.
          @media all and (max-width: 980px) and (min-width: 740px) {
            margin-right: 0px;
          }
          @media all and (max-width: 415px) {
            margin-right: 0px;
          }
        }

        // may not be necessary now
/*
        .submit-button {
          flex-basis: ~"calc(50% - 1em)";
          @media @wide {
            flex-basis: 27%;
          }
        }
*/

        .submit-button,
        .reset-button {
          flex-basis: ~"calc(50% - 1em)";

          // may not be necessary now
/*
          @media all and (max-width: 980px) and (min-width: 740px) {
            flex-basis: ~"calc(50% - .5em)";
          }
          @media @mobile {
            flex-basis: ~"calc(25% - 1em)";
          }
          @media all and (max-width: 415px) {
            flex-basis: ~"calc(50% - .5em)";
          }
*/
          input {
            padding: 10px 20px;
            margin-top: 0em;
          }
        }
        .description a {
          text-decoration: underline;
          color: @b2;
        }
      }

      #edit-incentives {
        flex-basis: ~"calc(50% - 2em)";
        width: ~"calc(50% - 2em)";
        box-sizing: border-box;

        @media @wide {
          flex-basis: ~"calc(50% - 4em)";
          width: ~"calc(50% - 4em)";
          height: auto;
        }

        @media @mobile {
          margin-top: 1em;
          width: 100%;
        }

        .incentive-wrap {
          color: white;
          padding: 2em;
          margin: 0 0 1em;
          .name {
            font-size: 20px;
            width: ~"calc(100% - 120px)";
            display: inline-block;
            vertical-align: middle;
          }
          .amount {
            font-size: 28px;
            display: inline-block;
            width: 100px;
            margin-left: 20px;
            text-align: right;
            vertical-align: middle;
          }
          .message {
            margin-top: 1em;
            margin-left: 1.7em;
            a {
              color: white;
              text-decoration: underline;
            }
            &:before {
              content: "i";
              display: inline-block;
              width: 1.25em;
              height: 1.25em;
              background-color: white;
              line-height: 1.5em;
              border-radius: 50%;
              text-align: center;
              font-weight: bold;
              margin-left: -1.25em;
              position: relative;
              right: .5em;
            }
          }
          &.total-wrap {
            background-color: white;
            color: @b2;
            box-shadow: 0px 3px 5px 2px rgba(0,0,0,.11);
            padding: 2em 2em 2em;
          }
        }

        // set colors for one element with varying colors
        @colors: ~"0c5998", ~"2daae1", ~"8dc63f", ~"159e98", ~"7199b5";

        .for(@colors); .-each(@name) {
          .incentive-color-@{name} {
            .message:before {
              color: ~"#@{name}";
            }
          }
        }



        .fine-print {
          position: relative;
          left: 2em;
          color: @g1;
        }

        input {
          width: 100%;
          &[type="text"] {
            height: 45px;
          }
          &[type="checkbox"] {
            width: auto;
          }
        }

        .not-submitted,
        .no-incentives,
        .incentives-message {
          background-color: #FFF685;
          padding: 2em;
          margin-bottom: 1em;
          a {
            color: @b2;
            text-decoration: underline;
          }
        }
      }



    }
  }

  sup {
    font-size: 75%;
    vertical-align: super;
    line-height: 0;
  }
}