/* NOTE EVERYTHING TO DO WITH COLORS HAS MOVED INTO COLORPICKERS WITH THE DEFAULTS FROM THIS FILE */

* {
	
	border:none;
	margin:0;
	padding:0;
	
}

html { font-family:Arial, Helvetica, sans-serif; }

body {
	
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	
}

.wrap { margin:30px auto; width:60%; }

table,th,tr,td {
	
	border-collapse:collapse;
	vertical-align:top;
	font-family:Arial, Helvetica, sans-serif;
	
}

img { vertical-align:bottom; }

a { text-decoration:none; }

a:hover { text-decoration:underline; }

a.button {
	
	border: none;
	margin: 0;
	padding: 7px 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	-webkit-box-shadow:inset 0 0 3px rgba(255,255,255,.3);
	-moz-box-shadow:inset 0 0 3px rgba(255,255,255,.3);
	box-shadow:inset 0 0 3px rgba(255,255,255,.3);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
}

#logo { margin-bottom:20px; text-align:center; }

h1 {
	
	font-size:26px;
	padding:10px 15px;
	margin:0;
	font-weight:normal;
	/*text-align:center;*/
	
}

h2 {
	
	font-size: 22px;
	font-weight: normal;
	
	}

h2 a {
	
	font-size: inherit;
	color: inherit;
	
	}

.node-newsletter { margin-top:15px; }

.node-newsletter img { width:100%; height:auto; }

#newsletter-table .field-name-field-newsletter-image img { width:700px; }

.node-newsletter .views-field-field-signature-media img { width:200px; }

.image-field-caption { font-style:italic; text-align:right; }

.edit,
.views-ui-edit { display:none; }


/*-------Heading/Featured Story-----------------------------*/

.field-name-field-newsletter-image,
.field-name-body { padding:15px; }

.field-name-field-newsletter-link {padding: 20px 5px 10px 15px;}

.field-name-field-newsletter-topic { 
	
	padding: 10px 0 0 15px;
	text-transform: uppercase;
	font-size: 13px;
	
	}


/*-------Sections/Lists-------------------------------------*/

.view-newsletter-section { margin-top:20px; }

caption { 
	
	font-size:20px; 
	border-top:solid 2px; 
	padding: 5px 0 20px 0; 
	text-align:left;
	text-transform:uppercase; 
	
	}

.view-newsletter-section td { padding:0 0 40px 0; }

.view-newsletter-section .views-field-title { padding:0 40px 40px 0;}
.view-newsletter-section .views-field-title { width:70%; }
.view-newsletter-section .views-field-title p { padding:15px 0 20px 0; }

.view-newsletter-section .views-field-field-signature-media { width:30%; text-align:right; }


/*-------Footer-----------------------------------------------*/

#footer td div.footer-links { margin:25px 10px; }

#footer td div.footer-links a {padding: 0 10px; text-transform: uppercase;}

#footer td div.social { margin:20px 10px; text-align:right; }

#footer-second td p {padding:10px 0;}
