/**
 * Javascript (global.js)
 * ================================
**/

.js_hide {
  display: none !important;
}

/* we use masquerade. do not need this:  */
/*#admin-menu-account { display: none; }*/

/* --- [ Drupal.behaviors.toggleAdmin ] --------------- */

body.js_no-admin-margin {
  margin-top: 0 !important;
  margin-left: 0 !important;
  padding-top: 0 !important;
}
body.js_no-admin-margin:before {
  content: none !important;
}