* {
	
	background:#fff;
	color:#333;
	
}

html,
body {
	
	font-family:Helvetica, Arial, sans-serif;
	font-size:13.5px;
	line-height:1.4;
	
}

a { color:#212e84; }

table {
	
	border-collapse:collapse;
	
}

table td { border:1px solid #ccc; padding:3px; }