
// Billboard
// ================================

.billboard(
  @text-color: @white;
  @background-color: @brand-primary;
  @billboard-outter-wrapper: ~'.outter-wrapper';
  @billboard-wrapper: ~'.wrapper';
  @billboard-content: ~'.group-overlay';
  @image-field: ~'.field-banner-images';
  @title-area: ~'.ds-first';
  @intro-text: ~'.ds-second';
  @links-tray: ~'.ds-third';
  @links: ~'[class*="links-w-title"]';
  @banner-logo: false;
  ) {

  background-color: @background-color;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: @text-color;

  .resp-range(@mobilemax + 1,  @tabletmax, {
    text-align: center;
  });

  .h-overrides({
    color: @text-color;
    margin: 0;
  });

  @{image-field} {
    display: none;
  }


  @{links} {
    display: inline-flex;
    flex-direction: row;
    margin-right: 2.9rem;

    .resp-range(@mobilemax + 1,  @tabletmax, {
      width: 100%;
      margin-right: 0;
      justify-content: center;
    });

    .resp(@mobilemax, {
      margin: 0;
      display: block;
    });

    [class*="label"] {
      margin-bottom: .9rem;
      .classic_mode({
        font-weight: bold;
      });
      .resp-range(@mobilemax + 1,  @tabletmax, {
        margin-bottom: .8rem;
      });
      .resp(@mobilemax, {
        margin-bottom: .4rem;
      });
    }
    a {
      .btn(@color: @white;);.quiet(@link-color);.huge();
      .resp(@tabletmax, {
        .btn(@color: @white;);.quiet(@link-color);.huge-ish();
      });
    }

    > .field-contents {
      text-align: center;
      width: auto;
      margin-right: 2.5rem;

      .resp(@mobilemax, {
        margin: 0;
        margin-bottom: 1.1rem;
        display: block;

        &:last-child {
          margin-bottom: 0;
        }
      });

      &:first-child {
        a {
          .btn(@color: @brand-secondary;);.cta--contrast();.huge();
          .resp(@tabletmax, {
            .btn(@color: @brand-secondary;);.cta--contrast();.huge-ish();
          });
        }

      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  @{banner-logo} {
    width: 30%;
    flex-grow: 1;
    .resp-range(@mobilemax + 1,  @tabletmax, {
      margin-top: 2.9rem;
      width: 100%;
      max-width: 14.375rem;
    });

    .resp(@mobilemax, {
      width: 100%;
      margin-top: 1.75rem;
    });

    a {
      display: block;
    }
    img {
      width: 100%;
      height: auto;
      max-width: 19.25rem;
      margin-right: 0;
      margin-left: auto;
      .resp(@mobilemax, {
        max-width: 14.5rem;
        margin: 0 auto;
      });
    }
  }


  @{billboard-outter-wrapper} {
    height: 38.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    .classic_mode({
      height: auto;
      min-height: 28.5vw;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      /* IE10+ CSS styles go here */
        min-height: 0;
      }
    });

    .resp(@tabletmax, {
      height: auto;
    });
  }
  @{billboard-wrapper} {
    padding-top: 3rem;
    padding-bottom: 3.95rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .resp-range(@mobilemax + 1,  @tabletmax, {
      padding-top: 2.1rem;
      padding-bottom: 2.35rem;
    });
    .resp(@mobilemax, {
      padding-top: 1.25rem;
      padding-bottom: 1.8rem;
      text-align: center;
    });

    @{title-area} {
      width: 100%;
      .inner {
        max-width: 54rem;
      }
      .resp(@mobilemax, {
        h1 { line-height: 1; }
      });
    }
    @{intro-text} {
      width: 100%;
      .p--xlarge();
      line-height: 1.3;
      .font-smoothing(antialiased);
      &:not(:first-child) {
        margin-top: .9rem;
        .resp(@mobilemax, {
          margin-top: .85rem;
        });
      }
      .inner {
        max-width: 54rem;
      }
    }
    @{links-tray} {
      width: 100%;
      &:not(:first-child) {
        margin-top: 1.7rem;

        .classic_mode({
          font-size: 0;
        });

        .resp(@tabletmax, {
          margin-top: 1rem;
          .classic_mode({
            margin-top: 1rem;
          });
        });
      }
      .inner {
        width: 100%;
        max-width: 100%;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-end;

        .resp-range(@mobilemax + 1,  @tabletmax, {
          flex-wrap: wrap;
          justify-content: center;
          align-items: flex-start;
          align-items: initial;
        });

        .resp(@mobilemax, {
          display: block;
        });
      }
    }
  }
}

.region-preface-first {
  &.banner[data-banner-images] {
    > .region-inner {
      padding-top: 0;
      padding-bottom: 0;
    }
    .billboard(
      @banner-logo: ~'.field-banner-logo';
    );
  }
}
