
// Block Styles
// ================================

/* --- [ Mixins ] --------------- */

.default-block-style(@title-bg: none; @body-bg: transparent; @title-color: @text-color; @body-color: @text-color;) {

  .title() {
    .block-title-style();
    #grid();.span(10; @full_bleed: true);
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 0;

    .resp-range(@mobilemax + 1,  @tabletmax, {
      #grid();.span(12; @full_bleed: true);
    });

    .resp(@mobilemax, {
      #grid();.span(12; @full_bleed: true);
      margin-top: .7rem;
    });
  }
  .body() {
    .p--xlarge();
    background-color: @body-bg;
    color: @body-color;
    #grid();.span(10; @full_bleed: true);
    margin: 0 auto;
    margin-top: .7rem;

    .resp-range(@mobilemax + 1,  @tabletmax, {
      #grid();.span(12; @full_bleed: true);
      margin-top: .65rem;
    });

    .resp(@mobilemax, {
      #grid();.span(12; @full_bleed: true);
      margin-top: 0;
    });
  }

  form {
    .body();
  }
}

.card-block(@bg-color: @white; @color: @text-color;) {
  background: @bg-color;
  color: @text-color;
  padding: 1.3rem 2.4rem 2rem;

  .block-title {
    color: inherit;
    .block-title-style();.not-underlined();
  }

  .form() {
    .views-exposed-widget {
      margin-bottom: 1.7rem;
      &:last-child { margin-bottom: 0; }
    }
    .form-item {
      margin-bottom: 1.5rem;
    }
    .select-widget {
      .form-item { margin: 0; }
    }

    [id*="edit-advanced-link"] {
      .meta();
      display: inline-block;
      margin-bottom: 1.25rem;
      display: none;
    }
    input[type="submit"] {
      width: 100%;
      .button();
    }
  }
}

.plain-block-style() {
  .form-actions {
    margin-top: 2rem;
  }
}

.titular-block() {
  text-align: center;
  .h-overrides({
    margin-bottom: 1.6rem;
  });
}


.notification-bar(@bar; @severity: high; @float-on-mobile: FALSE) {
  @{bar} {
    padding: @gutter-width;
    margin-bottom: 3rem;
    position: relative;
    background-image: none;
    border:@input-border-width solid @input-border-color;

    & when (@severity = high) {
      border-color: @brand-danger;
      color: @brand-danger;
    }

    & when (@severity = warning) {
      border-color: @yellow;
      color: @dark-text-color;
    }

    & when (@severity = success) {
      border-color: @green;
      color: @dark-text-color;
    }

    & when (@severity = normal) {
      border-color: @input-border-color;
      color: @medium-text-color;
    }

    & when (@float-on-mobile = true) {
      .resp(@mobilemax, {
        position: absolute;
        top: 3.45rem;
        left: -.75rem;
        right: -.75rem;
        z-index: 10;
      });
    }
    &.hasClose {
      display: block;
      padding-right: 8.75rem;
      max-height: 2000px;
      overflow: hidden;
      display: block;
      transform-origin: top center;
      backface-visibility: hidden;
      position: relative;
      .transform(scale3d(1,1,1));
      .trans(transform, 150ms, ease, 0ms);
      .trans(max-height, 150ms, ease, 0ms);
      .trans(margin-bottom, 150ms, ease, 0ms);
      .trans(padding, 0ms, ease, 150ms);

      .resp(@mobilemax, {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 0;
        padding: 1.75rem 2rem 1.3rem;
      });
    }

    &.isClosed {
      padding: 0;
      max-height: 0;
      margin-bottom: 0;
      .transform(scale3d(1,0,1));
    }
    a {
      color: inherit;
      text-decoration: underline;
      &:hover {
        color: @brand-success;
      }
      & when not (@severity = high) {
        &, &:hover { color: @brand-primary; }
        text-decoration: none;
        &:hover { text-decoration: underline; }
      }
    }
    .button,
    button {
      color: @white;
      border-color: @white;
    }
    .close {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: auto;
      border: none;
      width: 8.75rem;
      .text { .element-invisible; }

      .resp(@mobilemax, {
        .abs(0,0,auto,auto);
        width: 2.6rem;
        padding: 0;
        line-height: 1;
      });

      &:after {
        content: '\00d7';
        font-size: 2.25rem;
      }
    }

    .resp(@tabletmax, {
      margin-bottom: 2.5rem;
    });
  }
}

/* --- [ Use ] --------------- */

.faux-block {
  .default-block-style();
  > .block-inner {
    > .block-title { .title(); }
  }

  .item-list ul {
    .unbullet();
  }

  .description {
    line-height: 1;
    font-weight: 500;
    color: @text-color;
  }

  &.block-application-status {
    > .block-inner > .content {
      > * {
        margin: 0;
        .body();
        border-top: 1px solid @brand-mono-medium;
        &:first-child {
          border-top: none;
        }
      }
    }
    .progress {
      .message, .percentage {
        .element-invisible();
      }
    }
    .started-msg {
      .h5();
      font-weight: bold;
      color: @text-color;
      text-align: center;
      margin-top: 1.1rem;
    }
  }

  &.block-upload-documents {
    .doc-form {
      margin: 0;

      > .form-item {
        margin: 0;
      }
      .body();
      border-top: 1px solid @brand-mono-medium;
      &:first-child {
        border-top: none;
      }
    }
  }

  &.block-rebate-information {
    > .block-inner > .content {
      .form-item {
        margin: 0;
        .body();
        border-top: 1px solid @brand-mono-medium;

        &:first-child {
          border-top: none;
        }
      }
    }
  }
}

.block-views[class*="eligible-vehicles"] {
  .default-block-style();
  .block-title {
    .title();
  }
  .view-header {
    .body();
    margin-bottom: 3.6rem;
    .resp-range(@mobilemax + 1,  @tabletmax, {
      margin-bottom: 2.4rem;
    });
    .resp(@mobilemax, {
      margin-bottom: 1.2rem;
    });
  }
  .view-footer {
    margin-top: 3.1rem;
    border: none;
    padding: 0;
    .button { .btn();.cta();.huge(); }
    .resp-range(@mobilemax + 1,  @tabletmax, {
      margin-top: 2rem;
      .button { .btn();.cta();.huge-ish(); }
    });
    .resp(@mobilemax, {
      margin-top: .4rem;
    });
  }
}

.front .block-main ~ .block {
  .default-block-style();

  &.block-public-fleet-project {
    .block-title { .block-title-style(@brand-secondary); }
  }
}

// See: /user
.plain-block {
  .plain-block-style();

  ~ .plain-block {
    margin-top: 3rem;
  }
}

.page-apply .block[class*="apply-workflow-heading"] {
  .titular-block();
}

.block-public-fleet-project[class*="pfp-pie"],
.block-public-fleet-project[class*="zip-code-search"] {
  // See: /eng/pfp
  // See: /eng/pfp/eligibility?zip=90201
  text-align: center;
  .messages {
    text-align: left;
    text-align: initial;
  }
}