
// Carousel
// ================================
// Using Owl Carousel

.carousel() {
  #grid();.make();

  .owl-carousel {
    .span(10);
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    .resp(@babybear, {
      .span(11);
    });

    .owl-stage-outer {
      overflow: visible;
    }

    .owl-stage {
      .resp(@babybear, {
        transform: none !important;
        transition: none !important;
        width: 100% !important;
      });
    }

    .owl-item {
      .resp(@babybear, {
        margin-bottom: 2rem;

        &:nth-child(3) ~ .owl-item {
          display: none;
        }
      });
    }

  }

}

.owl-controls {
  #grid();

  .abs(0,0,auto,0);

  .owl-prev,
  .owl-next {
    .span(1);
    color: @brand-primary;
    cursor: pointer;

    .classic_mode({
      color: @brand-primary-light;
    });

    &:hover {
      color: @brand-secondary;
      .classic_mode({
        color: @brand-success;
      });
    }
    .icon {
      display: block;
      width: 2.5rem;
      margin: 0 auto;
      z-index: 10;
      .trans();
      .classic_mode({ width: .75rem; });
    }
    .text { .element-invisible(); }
  }
  .owl-prev {
    .abs(0,auto,auto,0);
    .icon {
      margin-left: 0;
      .classic_mode({ margin: 0 auto; });
    }
  }
  .owl-next {
    .abs(0, 0, auto, auto);
    .icon {
      margin-right: 0;
      .classic_mode({ margin: 0 auto; });
    }
  }
}

.view-cvrp-eligible-vehicles.view-display-id-block_1 {
  // See: <front>
  > .view-content {
    position: relative;
    .carousel();
  }
}
