
// Footer
// ================================

.region-footer-first {
  background-color: @brand-primary-light;
  color: @white;

  .classic_mode({
    background-color: transparent;
    color: @text-color;
  });

  .resp(@babybear, {
    text-align: center;
  });

  a {
    .link(
      @color: @white;
      @hover-color: @white;
      @active-color: @white;
      @underline: true;
      @active-underline: true;
    );

    .classic_mode({
      .link();
    });
  }

  .block-title {

    .h5();
    font-weight: bold;
    color: @white;
    margin-bottom: 1.1rem;

    .classic_mode({
      color: @brand-mono;
    });
  }

  .menu {
    line-height: 2.1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    a {
      .font-smoothing(antialiased);
    }

    li {
      width: 50%;
      padding-right: @gutter-width;
      line-height: 1.5;
      margin-top: .5rem;

      .resp(@babybear, {
        width: 100%;
        padding: 0;
      });
    }
  }


  > .region-inner {
    padding-top: 1.65rem;
    padding-bottom: 1.05rem;

    .resp-range(@babybear + 1,  @tabletmax, {
      padding-top: 1.4rem;
      padding-bottom: .65rem;
    });
    .resp(@babybear, {
      padding-top: 1.45rem;
      padding-bottom: 1.1rem;
    });

    .blockgroup {
      padding: 0;

      ~ .blockgroup {
        margin-top: 1.2rem;
        .resp-range(@babybear + 1,  @tabletmax, {
          // margin-top: -.2rem;
        });
        .resp(@babybear, {
          margin-top: 0.7rem;
        });
      }

      > .region-inner {
        max-width: none;
        width: auto;
        margin: 0 auto;
        #grid();.make();

        > .block {
          .span(6);
          .resp(@babybear, {
            .span(12);
            margin-bottom: 1.1rem;
            &:last-child { margin-bottom: 0; }
          });
        }
      }
      .classic_mode({
        &[id*="top"] > .region-inner > .block:nth-child(even) {
          border-left: 1px solid @hr-color;
          .resp(@babybear, {
            border-left: none;
          });
        }

      });

      &[id*="bottom"] > .region-inner > .block {
        margin-bottom: .2em;
        &:last-child { margin-bottom: 0; }

        .classic_mode({
          border-top: 1px solid @hr-color;
          padding-top: 2rem;
        });
      }
    }


    .footer---contact {
      > .block-inner {
        float: right;
        .resp(@babybear, {
          float: none;
        });
      }
      .content {
        font-size: 0;
        > * {
          position: relative;
          padding-left: 2.5rem;
          font-size: @base-font-size;
          line-height: 1.5;
          margin-top: .5rem;

          .resp(@babybear, {
            padding: 0;
          });

          + * {
            margin-top: .75rem;

            .resp-range(@babybear + 1,  @tabletmax, {
              margin-top: .25rem;
            });
          }

          .icon {
            width: 1.2rem;
            height: 1.4rem;
            .abs(.1875rem,auto, auto, 0);

            .resp(@babybear, {
              position: static;
              width: 1.2rem;
              height: 1.2rem;
              margin-bottom: .2rem;
            });

            .classic_mode({
              color: @brand-secondary;
            });
          }

          p {
            margin: 0;
            .font-smoothing(antialiased);
          }
        }
      }
    }

    .social-links---footer {
      // (see footer-social.less for styling)
      display: inline-flex;
      flex-direction: row;
      align-items: flex-end;
      .resp(@babybear, {
        justify-content: center;
      });
    }

    .privacy-and-copyright {
      text-align: right;
      color: @brand-primary;

      .classic_mode({
        color: @text-color;
      });

      .font-smoothing(antialiased);
      line-height: 1.6;

      .resp(@babybear, {
        text-align: center;
      });

      p { margin: 0; }

      a { .link(@brand-primary); }
    }
  }
}

.region-footer-second {
  > .region-inner {
    padding-top: 1.05rem;
    padding-bottom: 1.25rem;
    padding-bottom: .25rem; // fit icons

    .resp(@babybear, {
      padding-top: .7rem;
    });
    .classic_mode({
      border-top: 1px solid @hr-color;
    });
  }
}
.footer-second {
  // See: / (very bottom)
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    .resp(@babybear, {
      flex-wrap: wrap;
      justify-content: center;
      &:before, &:after { content: none; }
    });

    > * {
      margin: 0 1.7rem 1rem;
      .resp(@babybear, {
        // margin: auto;
        // &:nth-child(1) { margin-left: 0; }
        // &:nth-child(2) { margin-right: 0; }
        // &:nth-child(3) { margin-top: 1rem; }
      });
    }

    a {
      display: block;
    }

    img {
      width: auto;
      height: 3rem;
      &[src*="ARB"] {
        height: 2rem;
      }
      &[src*="cci"] {
        width: 7.5rem;
        height: auto;
      }
      &[src*="CSE"] {
        height: 3.375rem;
        .resp(@babybear, {
          height: 3.6rem;
        });
      }
    }
  }
}