
// Login
// ================================

/* --- [ Stock Login ] --------------- */

.stock-login-form {
  #grid();.make();
  > div {
    .span(10);
    margin-left: auto;
    margin-right: auto;

    .resp(@tabletmax, {
      .span(12);
    });
  }

  .form-item,
  [class*="request-password-help"] {
    display: block;
    width: 40.7%;
    min-width: 17.5rem;
    margin-left: auto;
    margin-right: auto;
    .resp(@babybear, {
      width: 100%;
    });
  }

  .form-actions {
    text-align: center;
    margin-top: 2rem;

    input[type="submit"] {
      .btn();.cta();.huge();
      margin: 0;
    }
  }
}

#user-login,
#energycenter-cvrp-forgot-password-form,
[id*="forgot-password-form"] {
  .stock-login-form();
}

#energycenter-cvrp-forgot-password-form,
[id*="forgot-password-form"] {
  [id*="edit-submit"] {
    display: block;
    width: 40.7%;
    min-width: 17.5rem;
    margin-top: 1.8rem;
    margin-left: auto;
    margin-right: auto;
    .resp(@babybear, {
      width: 100%;
    });
  }
}



/* --- [ Login Tobaggan ] --------------- */

.toboggan_login() {
  max-width: 50rem;

  #login-links {
    display: flex;
    flex-direction: row;

    .login-link {
      display: inline-block;
      text-align: center;
      flex: 1;
      border-bottom: 4px solid transparent;

      .block-title-style(@text-color);
      border-color: transparent;

      &:hover {
        color: @text-color;
      }
      &.lt-active {
        color: @brand-primary;
        border-color: inherit;
        cursor: default;
      }

      .text { border-color: transparent; }
    }
  }

  #login-form,
  #register-form {
    background-color: @brand-mono-light;
    padding: 1.6rem;

    legend > span {
      background-color: transparent;
      padding: 0;
      margin: 0;
      .field-label-small();
    }

    .fieldset-wrapper {
      background-color: transparent;
      padding: 0;
    }
  }

  #login-form {

    #user-login {
      > div { .prep-inline-grid(); }
      .form-item-name,
      .form-item-pass {
        .__half-width();
        display: block;
        .__p-right();
      }
    }
  }

  #register-form {

    // Name and Email

    #edit-account,
    #edit-account > .form-item-pass {
      .prep-inline-grid();
    }

    .field-type-text[class*="field-name-"],
    #edit-account  > .form-item[class*="mail"],
    #edit-account > .form-item-pass > .form-item[class*="form-item-pass"] {
      .__half-width();
    }
    #edit-account > .form-item-pass > .form-item[class*="form-item-pass"] {
      display: inline-flex;
    }

    .field-type-text[class*="field-name-"][class*="first-name"],
    .field-type-text[class*="field-name-"][class*="phone"],
    #edit-account  > .form-item[class*="mail"].form-item-mail,
    #edit-account > .form-item-pass > .form-item[class*="form-item-pass"].password-parent {
      .__p-right();
    }

    .field-type-text[class*="field-name-"][class*="last-name"],
    #edit-account  > .form-item[class*="mail"].form-item-conf-mail,
    #edit-account > .form-item-pass > .form-item[class*="form-item-pass"].confirm-parent {
      .__p-left();
    }

    // Address Fieldset

    .field-type-addressfield {
      .fieldset-wrapper {
        .prep-inline-grid();
      }
      .street-block,
      .addressfield-container-inline {
        .__half-width();
        .__p-right();
        display: block;
      }
      .form-item[class*="postal-code"] input {
        display: block;
        width: auto;
      }
    }
  }

  .login-forgot {
    margin-bottom: 1rem;
    a {
      .h6();
      .a();
      border-bottom: 1px dashed;
    }
  }
  .form-actions {
    border-top: 1px solid @hr-color;
    padding: 1.4rem 1.6rem 1.6rem;
    margin: 0 -1.6rem -1.6rem;
    input {
      width: auto;
    }
  }
}

.toboggan-unified {
  .toboggan_login();
}

