
// Main Content
// ================================

.region-content {
  .front & { background-color: @brand-mono-light; }

  .region-inner {
    padding-top: 2.9rem;
    padding-bottom: 3.1rem;

    .resp(@mobilemax, {
      padding-top: 1.85rem;
      padding-bottom: 2.65rem;
    });

    .front & {
      padding-top: 3.15rem;
      padding-bottom: 5.25rem;

      .resp-range(@mobilemax + 1,  @tabletmax, {
        padding-top: 2.45rem;
        padding-bottom: 2.65rem;

        .cvrp-workflow &,
        .pfp-workflow & {
          padding-top: 3.4rem;
        }
      });
      .resp(@mobilemax, {
        padding-top: 1.75rem;
        padding-bottom: 2.65rem;
      });
    }

    .block {
      margin-bottom: 2.5rem;

      &[class*="-heading"] {
        .resp-min(@tabletmax, {
          text-align: center;
        });
      }

      &.block-main {
        margin-bottom: 0;

        + .block-zip-code-search-nonajax {
          margin-top: 2.5rem;
        }
      }

      &:last-child { margin-bottom: 0; }

      &.block-public-fleet-project,
      &.block-views {
        .form__filter-block--search-input();
      }
    }
  }

  .node-type-page &,
  .node-type-cvrp-survey &,
  .node-type-listing-page &,
  .node-type-landing-page &,
  .node-type-event &,
  .cvrp-workflow &,
  .pfp-workflow &,
  .page-user[class*="page-user-"] & {
    .lining {
      #grid();.make();

      > *:not(.messages) {
        .span(10);
        margin-left: auto;
        margin-right: auto;

          &.region-blockgroup_signposts-landing_page {
            .classic_mode({
              .span(12);
            });
          }

        .resp(@tabletmax, {
          .span(12);
        });
      }
    }
  }

  .front &,
  .node-type-landing-page-real & {
    .lining {
      // CSESUPP-189870
      // AJC
      // Make the children (usu. blocks) full width
      #grid();.make();
      > * {
        .span(12);
        margin-left: auto;
        margin-right: auto;

          &.region-blockgroup_signposts-landing_page {
            .classic_mode({
              .span(12);
            });
          }
      }
      // End CSESUPP-189870

      .block.block-main {
        // CSECVRP-180
        // AJC
        // Make sure that blocks that follow block-main on the homepage get
        // get the same whitespacing as signposts blockgroup
        ~ * {
          margin-top: 2.75rem;
          margin-bottom: 0;

          .resp-range(@mobilemax + 1,  @tabletmax, {
            margin-top: 2.45rem;
          });

          .resp(@mobilemax, {
            margin-top: 1.25rem;
          });
        }
      }
    }
  }
}
