
// Masthead
// ================================

.header-scaffold() {

  .section--inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: none;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  .region {
    padding: 0;
    .region-inner {
      flex-basis: 100%;
      margin: 0;
      max-width: none;
    }
  }

  .zone {
    flex: 1 0 auto;
  }

  .zone-menu-wrapper {
    width: 100%;
  }

  > * {
    flex: 1 0 auto;
    display: flex;
  }
}

.desktop-header() {
  .header-scaffold();
  > * .content {
    // display: flex;
    display: block;
  }

  // Zone menu
  .zone-menu-wrapper {
    width: 100%;
    z-index: 40;

    .navigation {
      display: flex;
      margin-left: auto;
      margin-right: 0;

        a {
          .top-menu-link(@white);
          display: block;
          display: flex;
          align-items: center;
          position: relative;
          background-color: fade(@black, 50%);
          padding: 1.25rem;

          .resp(@tabletmax, { padding: 1rem; });

          * { height: auto; }
          .text {
            border: none;
          }

          &:after {
            content: ' ';
            display: block;
            .abs(auto, 0, 0, 0);
            height: 4px;
            background-color: transparent;
          }

          &:hover {
            background-color: fade(@white, 15%);
          }

          &:hover:after,
          &.active:after {
            background-color: @white;
          }
        }
    }
  }

  .region-menu {
    display: block; // cure inline-block stairstep
    margin: 0 auto;

    &-inner {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      position: static;

      .classic_mode({
        align-items: center;
      });

      > * {
        flex: 0 1 auto;
      }

      .block {
        &.logo-block {
          width: 30%;
          max-width: ~'calc(1180px * .3 + 3.25rem)';
          padding-top: 1.4rem;
          padding-bottom: .85rem;
          padding-right: .625rem;

          .classic_mode({
            padding-top: 0;
            padding-bottom: 1.4rem;
            align-items: flex-end;
            .resp-min(@papabear + 1, {
              width: 50%;
              max-width: ~'calc(1180px * .5 + 3.25rem)';
              padding-bottom: 2.75rem;
            });
          });

          .block-inner {
            &, .content, .content * {
              width: 100%;
            }
          }
        }
        &.top-level-nav {
          width: 70%;
          max-width: ~'calc(1180px * .7 + 3.25rem)';
          display: flex;
          justify-content: center;
          padding-top: .7rem;
          padding-bottom: 1.4rem;
          padding-left: .625rem;
          flex-direction: column;
          min-height: 1px; // IE bug: <https://stackoverflow.com/questions/43024415/how-to-fix-flex-column-height-bug-in-ie>

          > * {
            min-height: 1px; // IE bug: <https://stackoverflow.com/questions/43024415/how-to-fix-flex-column-height-bug-in-ie>
          }

          .block-inner {
            margin-right: 0;
          }
        }
        &.block-lang {
          order: -1;
          width: 100%;
          background-color: @brand-primary-light;
          text-align: right;
          &, a, .text {
            color: @white;
          }

          .classic_mode({
            background-color: transparent;
            border-top: .25rem solid @brand-primary-light;
            .content {
              font-size: 0;
            }
            a {
              .btn();.quiet();
              border-top-left-radius: 0;
              border-top-right-radius: 0;
              background-color: @brand-primary-light;
              border-color: @brand-primary-light;
              &:hover {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                background-color: @brand-success;
                border-color: @brand-success;
              }
            }
          });

          a {
            margin-left: auto;
            margin-right: 0;
            line-height: 1.4;
            padding-top: .125rem;
          }
        }
        &.block-mobile-myapp,
        &.mobile-app-button-block,
        &.block-my-app-button {
          display: none;
        }
      }

      .mainMenuToggle {
        display: none;
      }

    }
  }
}

.desktop-HD-header() {
  .desktop-header();
  > * .content {
    display: flex;
    flex-wrap: wrap;
    .classic_mode({
      .i18n-eng & {
        flex-wrap: nowrap;
      }
    });
  }

  .region-menu {
    &-inner {
      .block {
        .classic_mode({
          &.logo-block {
            width: 30%;
            padding-bottom: 1.75rem;
            .i18n-eng & {
              width: 50%;
              max-width: ~'calc(1180px * .5 + 3.25rem)';
              padding-bottom: 2.75rem;
            }
          }
          &.top-level-nav {
            width: 70%;
            .i18n-eng & {
              width: 50%;
              max-width: ~'calc(1180px * .5 + 3.25rem)';
            }
          }
          &.block-lang {
            padding-bottom: .6rem;
          }
        });
      }
    }
  }
}

.tablet-header() {
  .header-scaffold();
  > * .content { display: block; }

  .region-menu {
    display: block; // cure inline-block stairstep
    margin: 0 auto;

    &-inner {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
      position: static;
      border-top: .3125rem solid @brand-primary-light;

      .block {
        &.logo-block {
          order: 1;
          width: 60%;
          padding-top: 1.4rem;
          padding-bottom: 0;
          padding-right: .625rem;

          .block-inner {
            &, .content, .content * {
              width: 100%;
            }
          }
        }
        &.top-level-nav {
          order: 3;
          width: 100%;
          max-width: ~'calc(1180px * .7 + 3.25rem)';
          display: flex;
          justify-content: center;
          padding-left: .625rem;
          padding-top: .15rem;
          padding-bottom: .75rem;
          flex-direction: column;
          min-height: 1px; // IE bug: <https://stackoverflow.com/questions/43024415/how-to-fix-flex-column-height-bug-in-ie>

          > * {
            min-height: 1px; // IE bug: <https://stackoverflow.com/questions/43024415/how-to-fix-flex-column-height-bug-in-ie>
          }

          .front & { padding-bottom: 1.55rem; }

          .block-inner {
            width: 100%;
          }
        }
        &.block-lang {
          order: 2;
          width: auto;
          padding: 1.3rem 1.875rem;
          a {
            .btn(@color: @menu-button-color);
          }
          .classic_mode({
            a {
              .btn();.quiet();
              background-color: @brand-primary-light;
              border-color: @brand-primary-light;
              &:hover {
                background-color: @brand-success;
                border-color: @brand-success;
              }
            }
          });
        }
        &.block-mobile-myapp,
        &.mobile-app-button-block,
        &.block-my-app-button {
          display: none;
        }
      }
      .mainMenuToggle {
        display: none;
      }
    }
  }
}

.mobile-header() {
  padding: 0;
  .header-scaffold();
  .region-menu {
    display: block; // cure inline-block stairstep
    margin: 0 auto;

    &-inner {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
      position: static;
      border-top: .3125rem solid @brand-primary-light;
      padding-bottom: .1875rem;

      .block {
        &.logo-block {
          order: 1;
          width: 61%;
          padding: 0;
          padding-top: .8rem;
          padding-bottom: 1.2rem;
          padding-left: 1rem;
          margin-right: 1rem;

          .block-inner {
            &, .content, .content * {
              width: 100%;

              img {
                display: block;
                height: 2.75rem;
                width: auto;
              }
            }
          }
        }

        &.top-level-nav {
          order: 10;
          width: 100%;
          display: block;

          #ma-toggle();.pane();
          z-index: 30;
          padding: 0;

          .block-inner {
            width: 100%;
            padding-top: .1875rem;
          }
        }
        &.block-lang {
          order: 2;
          width: auto;
          padding: 0;
          padding-top: 1.05rem;
          padding-right: 1rem;
          a {
            .btn(@color: @menu-button-color);.small();
          }
          .classic_mode({
            a {
              .btn();.quiet();.small();
            }
          });
        }
        &.block-mobile-myapp,
        &.mobile-app-button-block,
        &.block-my-app-button {
          display: flex;
          order: 5;
          width: ~'calc(50% - .09375rem)';
          padding: 0;
          color: @white;
          text-align: center;

          * {
            width: 100%;
            height: 100%;
          }

          .block-inner {
            min-height: 2.625rem;
            display: table;
          }

          .button {
            .tab-button();
            width: 100%;
            max-width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex-direction: column;
            min-height: 1px; // IE bug: <https://stackoverflow.com/questions/43024415/how-to-fix-flex-column-height-bug-in-ie>

            > * {
              min-height: 1px; // IE bug: <https://stackoverflow.com/questions/43024415/how-to-fix-flex-column-height-bug-in-ie>
            }

            .text { height: auto; }
          }
        }
      }

      .mainMenuToggle {
        .tab-button();
        #ma-toggle();.X-standalone();
        order: 4;
        .tab-button();
        width: ~'calc(50% - .09375rem)';
      }
    }
  }
}


.section-header {
  .clearfix { &:before, &:after { content: none; } }
  .resp-min(@papabear + 1, {
    .desktop-HD-header();
  });
  .resp-range(@tabletmax + 1, @papabear, {
    .desktop-header();
  });
  .resp-range(@babybear + 1,  @tabletmax, {
    .tablet-header();
  });
  .resp(@babybear, {
    .mobile-header();
  });
}

