
// Postscript
// ================================

.region-postscript-first {

  > .region-inner > * {
    padding: 1.75rem 0 4.75rem;

    .front & { padding-bottom: 3.85rem; }
    &:last-child {
      padding-bottom: 2.3rem;
    }
  }
  .block-title {
    padding-bottom: 3.125rem;
    margin-bottom: 1.15rem;
    .resp-range(@mobilemax + 1, @tabletmax, {
      padding-bottom: 3.15rem;
    });
  }

}