
// Preface
// ================================

.region-preface-first {
  background-color: @brand-mono-light;

  .resp(@mobilemax, {
    text-align: center;
  });

  .region-inner {
    padding-top: 2.4rem;
    padding-bottom: 1.75rem;

    .resp-range(@babybear + 1,  @tabletmax, {
      padding-top: 1.8rem;
      padding-bottom: 1.95rem;
    });

    .resp(@babybear, {
      padding-top: .75rem;
      padding-bottom: 1.95rem;
    });

    .front & {
      padding-bottom: 4.2rem;
    }

    > .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .page-user & {
        flex-wrap: nowrap;
      }

      .block,
      .region-to-block {
        width: 100%;
      }

      .logout-button {
        margin: 0;
        width: auto;
      }

      .button {
        .btn();.big();
      }
    }

    .page-user.not-logged-in &,
    .page-user-login &,
    .page-request-new-password & {
      text-align: center;
      > .content {
        #grid();.make();
        > * {
          .span(10);
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  .title[id="page-title"] {
    ~ * {
      margin-top: 1.1rem;

      .resp(@babybear, {
        margin-top: .25rem;
      });
    }
  }

  .block {
    .p--xlarge();
    line-height: 1.35;

    &.block-menu-cvrp-apply-workflow,
    &.block-menu-pfp-apply-workflow {
      margin-top: 3.1rem;

      .resp(@mobilemax, {
        margin-top: 2.8rem;
        text-align: initial;
      });

      &:last-child {
        margin-bottom: -1.75rem;
      }
      .resp-range(@mobilemax + 1,  @tabletmax, {
        margin-top: 3.3rem;
        &:last-child { margin-bottom: -1.95rem; }
      });

    }
  }

  .menu {
    display: flex;
    flex-direction: row;
    .font(@base-font, 'normal', @base-font-size);

    .resp(@babybear, {
      display: block;
    });

    li {
      font: inherit;
      color: @medium-text-color;
      font-weight: bold;
      text-transform: capitalize;
      margin-right: 2.4rem;
      &:last-child { margin-right: 0; }

      .resp(@babybear, {
        margin: 0;
        margin-bottom: 1.35rem;
        padding: 0 @gutter-width;
      });

      a, .nolink {
        display: block;
        .menu-item-inner {
          position: relative;
          .resp(@mobilemax, {
            display: inline-block;
          });
          &:after {
            content: ' ';
            display: block;
            border-bottom: .3125rem solid transparent;
            padding-top: .125rem;
          }
        }

        &.active, &.active-trail {
          .menu-item-inner {
            &:after {
              border-color: @brand-primary-light;
            }
          }
        }
      }
    }

    &:before, &:after { content: none; }
  }
}

.region-preface-second {

  .region-inner {
    padding-top: 2.75rem;
    padding-bottom: 4.2rem;

    .resp-range(@mobilemax + 1,  @tabletmax, {
      padding-top: 1.3rem;
      padding-bottom: 3.8rem;
    });

    .resp(@mobilemax, {
      padding-top: .95rem;
      padding-bottom: 2.6rem;
    });

    .block:not(.messages) {
      text-align: center;
    }
  }
}
