
// Sidebar Menus
// ================================

.list-to-grid-to-list(@items) {
  @items: ~'> li';
  .makeGrid(
    @gridItems: @items;
    @gutter: 2.9rem 4rem;
    @cols: 4;
  );
  margin: 0;

  .menu {
    .makeGrid(
      @gridItems: @items;
      @gutter: 2.9rem 4rem;
      @cols: 1;
    );
    margin: 0;
    margin-top: .75rem;
    @{items} {
      padding-left: 0;
      padding-right: 0;
      padding-top: .75rem;
      padding-bottom: .75rem;
    }
  }

  @{items} {
    padding-left: 0;
    padding-top: .75rem;
    padding-bottom: .75rem;
    > * { max-width: 90%; }

    .resp-min(@mamabear + 1, {
      width: 100%;
      padding-left: 0;
      padding-right: 0;

      > * { max-width: 100%; }
    });

    .resp(@mamabear, {
      width: 50%;
    });

    .resp(@mobilemax, {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      > * { max-width: 100%; }
    });
  }
}

.region-sidebar-second {
  &-inner > * ~ * {
    margin-top: 4.5rem;
  }

  .block-menu-block {
    .block-title {
      .aside-menu-title();
    }

    .menu {
      a { .aside-menu-link(@padding: 0;); }
      .menu a {
        .h6();
        color: @faint-text-color;
        &:hover { color: @medium-text-color; }
        .text { .trans(border-color, 0ms); }
      }
    }

    .menu-block-wrapper > .menu {
      .list-to-grid-to-list(~'> li');
    }
  }
}
