
// Preface
// ================================

.region-blockgroup-signposts {
  &,
  .region-content & { padding: 0; }
  margin-top: 2.75rem;

  .resp-range(@mobilemax + 1,  @tabletmax, {
    margin-top: 2.45rem;
  });

  .resp(@mobilemax, {
    margin-top: 1.25rem;
  });

  &:first-child {
    margin-top: 0;
  }

  .region-inner {
    #grid();.make();
    justify-content: center;
    width: auto;
    max-width: none;
    margin-bottom: -1.2rem;

    &,
    .region-content & {
      padding-top: 0;
      padding-bottom: 0;
    }

    > .block {
      .span(4);
      min-width: 24rem;
      min-height: 21.125rem; // for highcharts
      text-align: center;
      &, &:last-child {
        margin-bottom: 1.2rem;
      }

      .resp(@tabletmax, {
        min-width: 0;
        width: 50%;
      });
      .resp(@babybear, {
        width: 100%;
      });

      .p--large();

      img {
        margin: 0 auto;
        &[style*="width"] {
          width: 100% !important;
        }
        &[style*="height"] {
          height: auto !important;
        }
      }

      > .block-inner {
        color: @medium-text-color;
        background-color: @white;
        padding: 2rem 2rem 2.2rem;
        height: 100%;

        .classic_mode({
          .box-shadow--dramatic();
        });

        .resp-range(@mobilemax + 1,  @tabletmax, {
          padding: 1rem 1.5rem 3.5rem;
        });

        .resp(@mobilemax, {
          padding: 1.7rem 1.5rem 1.9rem
        });

        > .content {
          height: 100%;
          min-height: 15rem;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          position: relative;
          flex-direction: column;
          min-height: 1px; // IE bug: <https://stackoverflow.com/questions/43024415/how-to-fix-flex-column-height-bug-in-ie>

          > * {
            min-height: 1px; // IE bug: <https://stackoverflow.com/questions/43024415/how-to-fix-flex-column-height-bug-in-ie>
          }

          .highchartload {
            flex: 1 0 auto;
            width: 100%;
            min-height: 12.4rem;

            ~ br {
              display: none;
            }
          }

          &:before, &:after { content: none; }

          > * {
            width: 100%;
            margin: auto;
          }
          h4 {
            margin-bottom: 0;
            font-weight: bold;
            margin-top: 2.45rem;

            .resp(@mobilemax, {
              margin-top: 1.4rem;
            });
            a {
              .link(
                @color: @brand-secondary;
                @hover-color: @brand-action;
                @active-color: @brand-action;
                @underline: false;
                @active-underline: false;
              );
              .classic_mode({
                .btn(@color: @white;);.cta();.huge-ish();
                width: 100%;
              });
            }
          }
          .button {
            position: relative;
            margin-bottom: 0;

            .link(
              @color: @brand-secondary;
              @hover-color: @brand-action;
              @active-color: @brand-action;
              @underline: false;
              @active-underline: false;
            );
            .classic_mode({
              .btn(@color: @white;);.cta();.huge-ish();
              width: 100%;
            });
          }
        }

      }
    }
  }
}


