
// Vertical Tabs
// ================================

div.vertical-tabs {

  border: none;
  ul.vertical-tabs-list {
    border-color: @input-border-color;
    margin-top: 0;
  }
  .vertical-tabs-panes {
    padding: 1.5rem;
    border: 1px solid @input-border-color;
  }
}