
// Views
// ================================

/* --- [ Mixins ] --------------- */

.views-rows-ruled(
  @row_el: ~'.views-row';
  @padding: 1.8rem;
  @margin: @padding;
  @mobile-padding: 1.8rem;
  @mobile-margin: 2.15rem;
  ) {
  @{row_el} ~ @{row_el} {
    border-top: .1875rem solid @hr-color;
    padding-top: @padding;
    margin-top: @margin;
    .resp(@mobilemax, {
      padding-top: @mobile-padding;
      margin-top: @mobile-margin;
    });
    .classic_mode({
      border-top: .0625rem solid @hr-color;
    });
  }
}
.views-rows-ruled--classic() {
  .views-rows-ruled(
    @padding: 1.4rem;
    @margin: 1rem;
    @mobile-padding: 1rem;
    @mobile-margin: 1rem;
  );
}
.views-footer-ruled(
  @padding-top: 3.7rem;
  @margin: 1.8rem;
  @mobile-padding-top: 3.7rem;
  @mobile-margin: 2.15rem;
  ) {
  border-top: .1875rem solid @hr-color;
  padding-top: @padding-top;
  margin-top: @margin;

  .resp(@mobilemax, {
    padding-top: @mobile-padding-top;
    margin-top: @mobile-margin;
  });
  .classic_mode({
    border-top: .0625rem solid @hr-color;
  });
}

.views-footer-ruled--classic() {
  .views-footer-ruled(
    @padding-top: 1.8rem;
    @margin: 3rem;
    @mobile-padding-top: 2.4rem;
    @mobile-margin: 2.4rem;
  );
}

.views-bottom-rule(
  @padding-bottom: 3.7rem;
  @margin: 1.8rem;
  @mobile-padding-top: 3.7rem;
  @mobile-margin: 2.15rem;
  ) {
  border-bottom: .1875rem solid @hr-color;
  padding-bottom: @padding-bottom;
  margin-bottom: @margin;
  .resp(@mobilemax, {
    padding-bottom: @mobile-padding-top;
    margin-bottom: @mobile-margin;
  });
  .classic_mode({
    border-bottom: .0625rem solid @hr-color;
  });
}

.views-bottom-rule--classic() {
  .views-bottom-ruled(
    @padding-top: 1.4rem;
    @margin: 1.4rem;
    @mobile-padding-top: 1.4rem;
    @mobile-margin: 1.4rem;
  );
}


.views-row-diptych() {
  display: flex;
  flex-direction: row;

  .resp(@babybear, {
    flex-wrap: wrap;
    display: block;
  });
  .resp(@mobilemax, {
    text-align: center;
  });

  .views-fieldset,
  .views-fieldsets-fieldset {
    &.left,
    &:nth-child(1) {
      width: 18.7%;
      display: inline-flex;
      flex-direction: column;
      min-height: 1px; // IE bug: <https://stackoverflow.com/questions/43024415/how-to-fix-flex-column-height-bug-in-ie>

      > * {
        min-height: 1px; // IE bug: <https://stackoverflow.com/questions/43024415/how-to-fix-flex-column-height-bug-in-ie>
      }

      .classic_mode({
        display: block;
      });
      justify-content: center;
      margin-right: 2.6rem;

      .resp(@tabletmax, {
        width: 24.9%;
        flex-shrink: 0;
        justify-content: flex-start;
      });
      .resp(@babybear, {
        width: 100%;
        margin: 0;
        margin-bottom: 1.1rem;
        flex-basis: 100%;
      });
    }
    &.right,
    &:nth-child(2) {
      flex: 1;
      display: inline-flex;
      flex-direction: column;
      min-height: 1px; // IE bug: <https://stackoverflow.com/questions/43024415/how-to-fix-flex-column-height-bug-in-ie>

      > * {
        min-height: 1px; // IE bug: <https://stackoverflow.com/questions/43024415/how-to-fix-flex-column-height-bug-in-ie>
      }

      .classic_mode({
        display: block;
      });
      justify-content: center;

      .resp(@tabletmax, {
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
      });
      .resp(@mobilemax, {
        margin-top: 1.2rem;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        flex-basis: 100%;
      });
    }
    img { width: 100%; }
  }
}

.views-row-triptych() {
  display: flex;
  flex-direction: row;

  .resp(@babybear, {
    // flex-wrap: wrap;
    display: block;
  });
  .resp(@mobilemax, {
    text-align: center;
  });

  .views-fieldset,
  .views-fieldsets-fieldset {
    &.left,
    &:nth-child(1) {
      width: 18.7%;
      display: inline-flex;
      flex-direction: column;
      min-height: 1px; // IE bug: <https://stackoverflow.com/questions/43024415/how-to-fix-flex-column-height-bug-in-ie>

      > * {
        min-height: 1px; // IE bug: <https://stackoverflow.com/questions/43024415/how-to-fix-flex-column-height-bug-in-ie>
      }

      .classic_mode({
        display: block;
      });
      justify-content: center;
      margin-right: 2.6rem;


      .resp(@tabletmax, {
        width: 24.9%;
        flex-shrink: 0;
        justify-content: flex-start;
      });
      .resp(@babybear, {
        width: 100%;
        margin: 0;
        margin-bottom: 1.6rem;
      });
      .resp(@mobilemax, {
        margin-bottom: 1rem;
      });
    }
    &.middle,
    &:nth-child(2) {
      width: 56.75%;
      padding: 0;
      margin: 0;
      margin-right: 2rem;
      display: inline-flex;
      flex-direction: column;
      min-height: 1px; // IE bug: <https://stackoverflow.com/questions/43024415/how-to-fix-flex-column-height-bug-in-ie>

      > * {
        min-height: 1px; // IE bug: <https://stackoverflow.com/questions/43024415/how-to-fix-flex-column-height-bug-in-ie>
      }

      .classic_mode({
        display: block;
      });
      &:first-child { padding-left: 0; }
      &:last-child { padding-right: 0; }

      .resp(@tabletmax, {
        width: 50%;
        justify-content: flex-start;
        flex-grow: 1;
      });
      .resp(@mobilemax, {
        width: 100%;
        margin: 0;
      });
    }
    &.right,
    &:nth-child(3) {
      flex: 1;
      display: inline-flex;
      flex-direction: column;
      min-height: 1px; // IE bug: <https://stackoverflow.com/questions/43024415/how-to-fix-flex-column-height-bug-in-ie>

      > * {
        min-height: 1px; // IE bug: <https://stackoverflow.com/questions/43024415/how-to-fix-flex-column-height-bug-in-ie>
      }

      .classic_mode({
        display: block;
      });
      justify-content: center;
      align-items: center;

      .resp(@tabletmax, {
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        flex-grow: 0;
      });
      .resp(@mobilemax, {
        margin-top: .8rem;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
      });
    }
    img {
      width: 100%;
      .resp(@mobilemax, {
        max-width: 9.35rem;
        margin: 0 auto;
      });
    }
  }
}


/* --- [ General ] --------------- */

.view {

  // Admin buttons
  .attachment-before {
    position: relative;
    .admin {
      margin-bottom: 1.5rem;
    }
  }

  .views-widget {
    > .form-item:last-child {
      margin-bottom: 0;
    }
  }

  .views-field-title,
  .views-field[class*="field-part-of-vehicle-group"] {
    .h3();
    .h-overrides({ .h3(); });
    margin-top: -.4rem; // font fudge
    .classic_mode({ margin-top: 0; });

    .resp(@mobilemax, {
      .h3--small();
      .h-overrides({ .h3--small(); });
    });
  }

  .group-header {
    .bounded-title(); // titling.less
    &--views-accordion {
      // See: /eng/faqs
      text-align: left;
      text-align: initial;
    }
  }

  .group-content {
    &--views-accordion {
      .views-rows-ruled();
      .classic_mode({
        .views-rows-ruled--classic();
      });

      .ui-accordion-header {
        position: relative;
        padding-left: 2.75rem;
        display: block;
        cursor: pointer;

        a {
          pointer-events: none;
        }

        .h4();
        .resp(@babybear, { .h4--small(); });
        font-weight: bold;
        .h-overrides({
          .h4();
          .resp(@babybear, { .h4--small(); });
          font-weight: bold;
        });
        &:focus { outline: none; }

        .ui-accordion-header-icon {
          .abs(0,auto,0,0);
          width: 2rem;
          display: block;
          &:before {
            content: '';
            display: block;
            background-image: @arrow-right--blue;
            background-repeat: no-repeat;
            background-position: center;
            width: 2rem;
            height: 2rem;
            .classic_mode({
              width: 1.2rem;
              height: 1.2rem;
            });
            .transform(rotate(0));
            .trans();
          }
        }
        &.ui-accordion-header-active {
          .ui-accordion-header-icon:before {
            .transform(rotate(90deg));
          }
        }
      }
      .ui-accordion-content {
        margin-top: 1rem;
        &:first-child { margin-top: 0; }
      }
    }
  }

  .view-footer {
    text-align: center;
    .views-footer-ruled();
    .classic_mode({ .views-footer-ruled--classic(); });
    .button {
      .btn();.cta();.huge();
      margin: 0 auto;
    }
  }

  &-rebate-selector {
    // From rebate-platform.pantheonsite.org
    &.view-display-id-page {
      > .view-content {
        > .view-content-inner {
          .views-rows-ruled();
          .classic_mode({
            .views-rows-ruled--classic();
          });
          .views-row {
            .views-row-triptych();
          }
        }
      }

      .field-name-field-rebate-amount {
        .h6();
        font-weight: 500;
        padding: 0 1.6rem;
        .resp(@tabletmax, {
          margin-bottom: .6rem;
        });
        .resp(@mobilemax, {
          padding: 0;
          padding-right: 1.6rem;
          margin: 0;
        });
      }

      .application-link {
        white-space: nowrap;
        .button();.cta();
        .resp(@babybear, {
          .button();.cta();.small();
        });
      }
    }
  }

  &-application-vehicle-header {
    // See: /eng/apply/1171
    &.view-display-id-block {

      [class*="field-year-s-"] {
        .h4();
        .resp(@mobilemax, {
          .h4--small();
        });
      }

      [class*="field-rebate-amount"] {
        .h4();
        .resp(@mobilemax, {
          .h4--small();
        });
      }

      > .view-content {
        > .view-content-inner {
          .views-row {
            .views-rows-ruled();
            .classic_mode({
              .views-rows-ruled--classic();
            });
            .views-row-diptych();
          }
        }
      }

      .field-name-field-rebate-amount {
        .h6();
        font-weight: 500;
        padding: 0 1.6rem;
        .resp(@tabletmax, {
          margin-bottom: .6rem;
        });
        .resp(@mobilemax, {
          padding: 0;
          padding-right: 1.6rem;
          margin: 0;
          font-weight: bold;
        });
      }

      .application-link {
        white-space: nowrap;
        .button();.cta();
        .resp(@babybear, {
          .button();.cta();.small();
        });
      }
    }
  }

  &-cvrp-eligible-vehicles {
    .field-year-s- {
      .h4();
      .resp(@mobilemax, {
        .h4--small();
      });
    }

    .field-apply-now-link {
      margin-top: 1rem;
      width: 100%;
      text-align: center;

      .resp(@mobilemax, {
        margin-top: .85rem;
      });

      .button {
        .btn();.cta();.huge();
        width: 100%;
        white-space: nowrap;
        .resp(@mobilemax, {
          width: auto;
          min-width: 0;
        });
      }
    }

    .field-manufacturer-s-website {
      margin-top: auto;
      margin-bottom: 0;
      text-transform: capitalize;

      .resp(@mobilemax, {
        margin-top: -.2rem;
        font-weight: bold;
      });
    }

    &.view-display-id-page {
      // See: /eng/eligible-vehicles

      .field-rebate-amount,
      .field-pfp-rebate-amount {
        .h4();
        .resp(@mobilemax, {
          .h4--small();
          font-weight: bold;
        });
        width: 100%;
        text-align: center;
      }

      > .view-content {
        > .view-content-inner {
          .views-rows-ruled();
          .classic_mode({
            .views-rows-ruled--classic();
          });
          .views-row {
            .views-row-triptych();
          }
        }
      }
    }

    &.view-display-id-block_3 {
      // See: /eng/pfp/eligibility?zip=search

      .field-rebate-amount,
      .field-pfp-rebate-amount {
        .h4();
        .resp(@mobilemax, {
          .h4--small();
          font-weight: bold;
        });
        width: 100%;
        text-align: center;
      }

      > .view-content {
        > .view-content-inner {
          .group-content {
            .views-rows-ruled();
            .classic_mode({
              .views-rows-ruled--classic();
            });
            > .views-row { .views-row-triptych(); }
          }
        }
      }
    }
  }

  &-cvrp-survey {
    &.view-display-id-default {
      > .view-content {
        > .view-content-inner {
          .views-rows-ruled();
          .classic_mode({
            .views-rows-ruled--classic();
          });
        }
      }
    }
  }

  &-events {
    &.view-display-id-default {
      // See: /eng/local-events-and-workshops
      .group-content {
        .views-rows-ruled();
        .classic_mode({
          .views-rows-ruled--classic();
        });
      }
    }
  }
}


/* --- [ Grids ] --------------- */

.view {
  &.view-landing-page-menu {
    // See: /eng/community
    &.view-display-id-menu_entity_view {
      > .view-content {
        #grid();.make();
        justify-content: center;
        width: auto;
        max-width: none;

        > .views-row {
          .span(4);
          min-width: 20rem;
          text-align: center;
          color: @medium-text-color;
          background-color: @white;
          height: 100%;
          margin-bottom: 1.2rem;

          .resp(@tabletmax, {
            min-width: 0;
            width: 50%;
          });
          .resp(@babybear, {
            width: 100%;
          });

          .views-field-link-title {
            .h3();
            margin-top: 1rem;
            &:first-child { margin-top: 0; }
          }

          .views-field-description {
            .h5();
            margin-top: .5rem;
            &:first-child { margin-top: 0; }
          }

          .field-menu-image {
            position: relative;
            &:after {
              content: ' ';
              .abs-0();
              z-index: 50;
              display: block;
              background-color: transparent;
              opacity: .4;
              mix-blend-mode: multiply;
              .trans();
            }
          }

          &:hover {
            .field-menu-image:after {
              background-color: @brand-secondary;
            }
          }

        }
      }

      ~ .field-footer-text {
        text-align: center;
        .views-footer-ruled();
        .classic_mode({ .views-footer-ruled--classic(); });
        .button {
          .btn();.cta();.huge();
          margin: 0 auto;
          max-width: 20rem !important;
        }
      }
    }
  }
}


/* --- [ Region based ] --------------- */

.region-content {
  .view {

    > * {
      margin-left: auto;
      margin-right: auto;
    }

    .view-header {
      text-align: center;
      margin-top: -.25rem;
      margin-bottom: 1.3rem;

      .resp-range(@mobilemax + 1,  @tabletmax, {
        margin-bottom: 2.4rem;
      });
      .resp(@mobilemax, {
        margin-bottom: 1.2rem;
      });

      .front & {
        margin-bottom: 3.3rem;
      }
    }
    .view-filters {
      .form__filter-block(); // forms.less
    }
  }
}
