
// Buttons
// ================================

/* --- [ Mixins ] --------------- */

.btn(@color: @brand-primary; @skin: true;) {

  @text: @color;
  @field: transparent;
  @border: @color;

  @text-invert: @white;
  @field-invert: @color;
  @border-invert: @color;

  @hover-text: @text-invert;
  @hover-field: @field-invert;
  @hover-border: @border-invert;

  @active-text: @text;
  @active-field: @field;
  @active-border: @border;

  & when not (@skin) {
   @color: @skin;
  }

  & when (@classic_mode = true) {
    @text: @white;
    @field: @brand-secondary;
    @border: @brand-secondary;

    @text-invert: @white;
    @field-invert: @brand-primary-light;
    @border-invert: @brand-primary-light;

    @hover-text: @text-invert;
    @hover-field: @field-invert;
    @hover-border: @border-invert;

    @active-text: @text;
    @active-field: @field;
    @active-border: @border;
  }

  display: inline-block;
  //margin: 0 auto;
  .font(@heading-font, 700, @fine-print-font-size);
  .resp(@mobilemax, { .font(@heading-font, 700, @h6-font-size); });
  line-height: 1.3;
  letter-spacing: .04rem;
  word-spacing: .09em;
  text-transform: uppercase;
  padding: .7rem 1.2rem .5rem;
  text-decoration: none;
  box-shadow: none;
  border-radius: 200rem;
  appearance: none;
  opacity: 1;
  border: none;
  .trans(color);
  .trans(background-color);
  .trans(border-color);
  background-color: transparent;
  .font-smoothing(antialiased);
  text-align: center;
  color: @text;
  background-color: @field;
  border: 2px solid @border;
  user-select: none;
  cursor: pointer;
  & when (@classic_mode = false) {
    text-shadow: none;
  }

  .link(
    @color: @text;
    @hover-color: @hover-text;
    @active-color: @active-text;
    @underline: false;
    @active-underline: false;
  );

  .classic_mode({
    border-radius: .1875rem;
    background-color: @field;
    #text-shadow.extrude-hard();
    background-color: @brand-secondary;
    border-color: @brand-secondary;
    color: @white;
  });
  .text {
    color: @text;
    .trans();
    .classic_mode({
      color: @white;
    });
  }

  &:hover {
    color: @hover-text;
    border-color: @hover-border;
    background-color: @hover-field;
    text-decoration: none;

    .classic_mode({
      color: @white;
      background-color: @brand-success;
      border-color: @brand-success;
      border-radius: .1875rem;
    });

    .text {
      color: @hover-text;
      .classic_mode({
        color: @white;
      });
    }
  }
  &.active,
  &:active {
    color: @active-text;
    border-color: @active-border;
    background-color: @active-field;
    transition: none;
    .text { color: @active-text; }

    .classic_mode({
      color: @white;
      background-color: @brand-secondary;
      border-color: @brand-secondary;
      border-radius: .1875rem;
      .trans();
      .text {
        color: @white;
      }

      &:hover {
        background-color: @brand-success;
        border-color: @brand-success;
        .text {
          color: @white;
        }
      }
    });
  }


  &.contextual-links-trigger {
    padding: 0 2px;
    border: 1px solid transparent;
    background-color: transparent;
    color: @text-color;
    &:hover {
      background-color: @white;
    }
  }

  &:focus {
    outline: none;
  }

  .huge() {
    padding: 1.1rem 2rem .9rem;
    min-width: 0;
    font-size: @base-font-size;
    letter-spacing: .025rem;

    .classic_mode({
      padding: .7rem 1.2rem .5rem;
      .font(@heading-font, 700, @fine-print-font-size);
      .resp(@mobilemax, { .font(@heading-font, 700, @h6-font-size); });
    });
  }
  .huge-ish() {
    min-width: 0;
    font-size: @base-font-size;
    letter-spacing: .025rem;
    padding: .9rem 1.4rem .8rem;
    font-size: @caption-font-size;

    .classic_mode({
      padding: .7rem 1.2rem .5rem;
      .font(@heading-font, 700, @fine-print-font-size);
      .resp(@mobilemax, { .font(@heading-font, 700, @h6-font-size); });
    });
  }
  .big() {
    padding: .65rem 2.7rem;
    .resp(@tabletmax, {
      padding: .8rem 1.5rem .75rem;
    });
    .classic_mode({
      padding: .7rem 1.2rem .5rem;
      .font(@heading-font, 700, @fine-print-font-size);
      .resp(@mobilemax, { .font(@heading-font, 700, @h6-font-size); });
    });
  }
  .small() {
    padding: .55rem .65rem .35rem;
    .classic_mode({
      padding: .4rem .65rem .25rem;
    });
  }
  .tiny() {
    font-size: 75%;
    padding: .3125rem .625rem .1125rem;
  }

  .alt() {
    background-color: @field-invert;
    border-color: @border-invert;
    color: @text-invert;
    .text { color: @text-invert; }
    &:hover {
      background-color: @field;
      border-color: @border;
      color: @text;
      text-shadow: none;
      .text { color: @text; }
    }
  }

  .cta(@bg-hover-color: @brand-success) {
    background-color: @brand-secondary;
    border-color: @brand-secondary;
    color: @text-invert;
    .text { color: @text-invert; }

    .classic_mode({
      background-color: @brand-success;
      border-color: @brand-success;
      color: @text-invert;
      .text { color: @text-invert; }
    });
    &:hover {
      background-color: @bg-hover-color;
      border-color: @bg-hover-color;
      color: @text-invert;
      .text { color: @text-invert; }

      .classic_mode({
        background-color: @brand-secondary;
        border-color: @brand-secondary;
        color: @text-invert;
        .text { color: @text-invert; }
      });
    }
  }
  .cta--contrast(@bg-hover-color: @brand-success) {
    background-color: @brand-secondary;
    border-color: @brand-secondary;
    color: @text-invert;
    .text { color: @text-invert; }

    .classic_mode({
      background-color: @brand-success;
      border-color: @brand-success;
      color: @text-invert;
      .text { color: @text-invert; }
    });
    &:hover {
      background-color: @bg-hover-color;
      border-color: @bg-hover-color;
      color: @text-invert;
      .text { color: @text-invert; }

      .classic_mode({
        background-color: @brand-primary-light;
        border-color: @brand-primary-light;
        color: @text-invert;
        .text { color: @text-invert; }
      });
    }
  }

  .quiet(@text-hover-color: @text) {
    background-color: transparent;
    color: @white;
    border-color: @white;
    .text { color: @white; }

    .classic_mode({
      background-color: @brand-secondary;
      border-color: @brand-secondary;
      color: @text-invert;
      .text { color: @white; }
    });

    &:hover {
      background-color: @white;
      color: @text-hover-color;
        border-color: @white;
      .text { color: @text-hover-color; }

      .classic_mode({
        background-color: @brand-primary-light;
        border-color: @brand-primary-light;
        color: @white;
        .text { color: @white; }
      });
    }
  }


  .disabled() {
    @color: @brand-mono;
    &, &:hover {
      text-shadow: none;
      background-color: @field-invert;
      color: @text-invert;
      border-color: @border-invert;

      .text{ color: @text-invert; }
    }
  }

  .dim() {
    @color: fade(@faint-text-color, 75%);
    @border-invert: transparent;

    text-shadow: none;
    background-color: @field;
    color: @text;
    border-color: @border;
    .text{ color: @text; }

    &:hover {
      background-color: @field-invert;
      color: @text-invert;
      border-color: @border-invert;
      .text{ color: @text-invert; }
    }
  }
}

.tab-button(
  @color: @white;
  @bg-color: @brand-primary-light;
) {
  .unbutton(@color);
  background-color: @bg-color;
  .font(@base-font; 'bold'; @caption-font-size);
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  padding: .5rem .5rem .25rem;
  cursor: pointer;
  .classic_mode({
    #text-shadow.extrude-hard();
  });
  &.isOpen {
    text-shadow: none;
    &, .text { color: transparent; }
  }
}

.unbutton(@color: @link-color) {
  .font(@base-font; 'normal'; @base-font-size);
  margin: 0;
  text-transform: none;
  letter-spacing: normal;
  padding: 0;
  border: none;
  background-color: transparent;
  border-radius: 0;

  &, .text {
    color: @color;
    text-shadow: none;
  }
  .text {
    border-bottom: none;
    padding-bottom: 0;
  }

  &:hover {
    color: @color;
  }

}

.contextual-links a {
  font-size: .9rem !important;
  font-weight: normal !important;
  text-transform: none !important;
  text-align: inherit !important;
  color: @black !important;
  display: block !important;
  margin: 0.25rem 0 !important;
  padding: 0.25rem 1rem 0.25rem 0.5rem !important;
  border: 1px solid transparent !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  .text {
    color: @black !important;
  }
}


/* --- [ General Instances ] --------------- */

.button {
  .btn();
}

.button.admin-extra,
.button.admin {
  .btn(@brand-mono) !important;
  .dim() !important;
  .small() !important;
}