


/* --- [ Chosen Choice insertion helper ] --------------- */

// Detect Chosen Choice insertion
// See: <http://davidwalsh.name/detect-node-insertion>

// Visually Undetectable animation
@keyframes nodeInserted {
  from { opacity: 0.99; }
  to { opacity: 1; }
}

// Animate really fast and look for
// animationstart webkitAnimationStart oanimationstart MSAnimationStart
// on these elements with jQuery event delegation
// See: Drupal.behaviors.facetsFixes in global.js
.chosen-container .chosen-choices > .search-choice,
.chosen-container .chosen-results > li {
  animation-duration: 0.001s;
  animation-name: nodeInserted;
  //.element-invisible();
}


.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  width: 100% !important;

  .chosen-drop {
    z-index: 1010;
    width: 100%;
    background: @input-bg-color;
  }
  a {
    cursor: pointer;
  }
  .search-choice {
    .group-name {
      margin-right: unit(unit(4px)/16,rem);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: normal;
      &:after {
        content: ":";
        padding-left: unit(unit(2px)/16,rem);
        vertical-align: top;
      }
    }
  }
  .chosen-single {
    .group-name {
      margin-right: unit(unit(4px)/16,rem);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: normal;
      &:after {
        content: ":";
        padding-left: unit(unit(2px)/16,rem);
        vertical-align: top;
      }
    }
  }
  .chosen-results {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    .unbullet();
    padding: 0;
    max-height: none;
    -webkit-overflow-scrolling: touch;
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-touch-callout: none;
      &:extend(.label);
      border: none;
      padding: @input-padding !important;
      padding-left: 2rem !important;
      border-radius: 0;
      cursor: pointer;

      &:before {
        content: ' ';
        .tick-base(@left-pos: .5rem);
        .checkbox();
        position: absolute;
      }
      &.result-selected {
        display: block !important;
        &:before {
          .tick-base(@left-pos: .5rem);
          .checkbox();
          .checked();
        }
      }

      em {
        font-style: normal;
        text-decoration: none;
      }
      &:hover {
        background-color: fade(@input-border-color, 12.5%);
      }
    }
    li.active-result {
      display: list-item;
      cursor: pointer;
    }
    li.disabled-result {
      display: list-item;
      cursor: default;
    }
    li.highlighted {
      background-color: fade(@input-border-color, 10%);
    }
    li.no-results {
      display: list-item;
      background: fade(@input-border-color, 12.5%);
    }
    li.group-result {
      display: list-item;
      font-weight: bold;
      cursor: default;
    }
    li.group-option {
      padding-left: unit(unit(15px)/16,rem);
    }
  }
}
.chosen-container.chosen-with-drop {
  .chosen-drop {
    left: 0;
  }
}
.chosen-container-single {
  .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    span {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    abbr {
      .abs(.375rem,1.625rem,auto,auto);
      display: block;
      width: .75rem;
      height: .75rem;
      font-size: unit(unit(1px)/16,rem);
      &:hover {
        background-position: unit(unit(42px)/16,rem) unit(unit(10px)/16,rem);
      }
    }
    div {
      .abs(0,0,auto,auto);
      display: block;
      width: 1.125rem;
      height: 100%;
      b {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
  .chosen-default {

  }
  .chosen-single-with-deselect {
    span {
      margin-right: 2.375rem;
    }
  }
  .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    white-space: nowrap;
  }
  .chosen-drop {
    background-clip: padding-box;
  }
}
.chosen-container-single.chosen-disabled {
  .chosen-single {
    abbr {
    }
  }
}
.chosen-container-single.chosen-container-single-nosearch {
  .chosen-search {

  }
}
.chosen-container-multi {
  .chosen-choices {
    .unbullet();
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: auto !important;
    height: 1%;
    background-color: #fff;
    cursor: text;

    li {
      float: left;
      list-style: none;
    }
    li.search-field {
      margin: 0;
      padding: 0;
      white-space: nowrap;
      width: 100%;
      display: block;
      input[type="text"] {
        .input();.field();
        width: 100% !important;
        border-color: transparent;
        background-color: @input-border-color;
      }
    }
    li.search-choice {
      position: relative;
      max-width: 100%;
      background-repeat: repeat-x;
      background-clip: padding-box;
      cursor: default;
      .element-invisible();
      span {
        word-wrap: break-word;
      }
      .search-choice-close {
        position: absolute;
        top: unit(unit(4px)/16,rem);
        right: unit(unit(3px)/16,rem);
        display: block;
        width: unit(unit(12px)/16,rem);
        height: unit(unit(12px)/16,rem);
        background: url('chosen-sprite.png') unit(unit(42px)/16,rem) unit(unit(1px)/16,rem) no-repeat;
        font-size: unit(unit(1px)/16,rem);
        &:hover {
          background-position: unit(unit(42px)/16,rem) unit(unit(10px)/16,rem);
        }
      }
    }
    li.search-choice-disabled {
      background-color: #e4e4e
    }
    li.search-choice-focus {
      background: #d4d4d4;
      .search-choice-close {
        background-position: unit(unit(42px)/16,rem) unit(unit(10px)/16,rem);
      }
    }
  }
  .chosen-results {
    margin: 0;
    padding: 0;
  }
  .chosen-drop {
    .result-selected {
      display: list-item;
    }
  }
}
.chosen-container-active {
  .chosen-single {
    border-bottom: 0;
  }
  .chosen-choices {
    .unbullet();
    border-bottom: 0;
    li.search-field {
      width: 100%;
      input[type="text"] {

      }
    }
  }
}
.chosen-container-active.chosen-with-drop {
  .chosen-single {
    div {
      background: transparent;
      b {
        background-position: unit(unit(18px)/16,rem) unit(unit(2px)/16,rem);
      }
    }
  }
}
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
  .chosen-single {
    cursor: default;
  }
  .chosen-choices {
    .unbullet();
    .search-choice {
      .search-choice-close {
        cursor: default;
      }
    }
  }
}
.chosen-rtl {
  text-align: right;
  .chosen-single {
    overflow: visible;
    span {
      margin-right: 0;
      margin-left: unit(unit(26px)/16,rem);
      direction: rtl;
    }
    div {
      right: auto;
      left: unit(unit(3px)/16,rem);
    }
    abbr {
      right: auto;
      left: unit(unit(26px)/16,rem);
    }
  }
  .chosen-single-with-deselect {
    span {
      margin-left: unit(unit(38px)/16,rem);
    }
  }
  .chosen-choices {
    .unbullet();
    li {
      float: right;
    }
    li.search-field {
      display: block;
      width: 100%;
      input[type="text"] {
        direction: rtl;
      }
    }
    li.search-choice {
      .search-choice-close {
        right: auto;
        left: unit(unit(4px)/16,rem);
      }
    }
  }
  .chosen-drop {
    left: unit(unit(9999px)/16,rem);
  }
  .chosen-results {
    li.group-option {
      padding-right: unit(unit(15px)/16,rem);
      padding-left: 0;
    }
  }
  .chosen-search {
    input[type="text"] {
      direction: rtl;
    }
  }
}
.chosen-rtl.chosen-container-single-nosearch {
  .chosen-search {

  }
}
.chosen-rtl.chosen-container-single {
  .chosen-results {
    margin: 0 0 unit(unit(4px)/16,rem) unit(unit(4px)/16,rem);
  }
  .chosen-single {
    div {
      b {
        background-position: unit(unit(6px)/16,rem) unit(unit(2px)/16,rem);
      }
    }
  }
}
.chosen-rtl.chosen-container-active.chosen-with-drop {
  .chosen-single {
    div {
      border-right: none;
    }
  }
}
.chosen-rtl.chosen-container-single.chosen-with-drop {
  .chosen-single {
    div {
      b {
        background-position: unit(unit(12px)/16,rem) unit(unit(2px)/16,rem);
      }
    }
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .chosen-rtl {
    .chosen-search {
      input[type="text"] {
        background-image: url('chosen-sprite@2x.png') !important;
        background-size: unit(unit(52px)/16,rem) unit(unit(37px)/16,rem) !important;
        background-repeat: no-repeat !important;
      }
    }
  }
  .chosen-container-single {
    .chosen-single {
      abbr {
        background-image: url('chosen-sprite@2x.png') !important;
        background-size: unit(unit(52px)/16,rem) unit(unit(37px)/16,rem) !important;
        background-repeat: no-repeat !important;
      }
      div {
        b {
          background-image: url('chosen-sprite@2x.png') !important;
          background-size: unit(unit(52px)/16,rem) unit(unit(37px)/16,rem) !important;
          background-repeat: no-repeat !important;
        }
      }
    }
    .chosen-search {
      input[type="text"] {
        background-image: url('chosen-sprite@2x.png') !important;
        background-size: unit(unit(52px)/16,rem) unit(unit(37px)/16,rem) !important;
        background-repeat: no-repeat !important;
      }
    }
  }
  .chosen-container-multi {
    .chosen-choices {
      .unbullet();
      .search-choice {
        .search-choice-close {
          background-image: url('chosen-sprite@2x.png') !important;
          background-size: unit(unit(52px)/16,rem) unit(unit(37px)/16,rem) !important;
          background-repeat: no-repeat !important;
        }
      }
    }
  }
  .chosen-container {
    .chosen-results-scroll-down {
      span {
        background-image: url('chosen-sprite@2x.png') !important;
        background-size: unit(unit(52px)/16,rem) unit(unit(37px)/16,rem) !important;
        background-repeat: no-repeat !important;
      }
    }
    .chosen-results-scroll-up {
      span {
        background-image: url('chosen-sprite@2x.png') !important;
        background-size: unit(unit(52px)/16,rem) unit(unit(37px)/16,rem) !important;
        background-repeat: no-repeat !important;
      }
    }
  }
}
@media only screen and (min-resolution: 144dpi) {
  .chosen-rtl {
    .chosen-search {
      input[type="text"] {
        background-image: url('chosen-sprite@2x.png') !important;
        background-size: unit(unit(52px)/16,rem) unit(unit(37px)/16,rem) !important;
        background-repeat: no-repeat !important;
      }
    }
  }
  .chosen-container-single {
    .chosen-single {
      abbr {
        background-image: url('chosen-sprite@2x.png') !important;
        background-size: unit(unit(52px)/16,rem) unit(unit(37px)/16,rem) !important;
        background-repeat: no-repeat !important;
      }
      div {
        b {
          background-image: url('chosen-sprite@2x.png') !important;
          background-size: unit(unit(52px)/16,rem) unit(unit(37px)/16,rem) !important;
          background-repeat: no-repeat !important;
        }
      }
    }
    .chosen-search {
      input[type="text"] {
        background-image: url('chosen-sprite@2x.png') !important;
        background-size: unit(unit(52px)/16,rem) unit(unit(37px)/16,rem) !important;
        background-repeat: no-repeat !important;
      }
    }
  }
  .chosen-container-multi {
    .chosen-choices {
      .unbullet();
      .search-choice {
        .search-choice-close {
          background-image: url('chosen-sprite@2x.png') !important;
          background-size: unit(unit(52px)/16,rem) unit(unit(37px)/16,rem) !important;
          background-repeat: no-repeat !important;
        }
      }
    }
  }
  .chosen-container {
    .chosen-results-scroll-down {
      span {
        background-image: url('chosen-sprite@2x.png') !important;
        background-size: unit(unit(52px)/16,rem) unit(unit(37px)/16,rem) !important;
        background-repeat: no-repeat !important;
      }
    }
    .chosen-results-scroll-up {
      span {
        background-image: url('chosen-sprite@2x.png') !important;
        background-size: unit(unit(52px)/16,rem) unit(unit(37px)/16,rem) !important;
        background-repeat: no-repeat !important;
      }
    }
  }
}
@media only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl {
    .chosen-search {
      input[type="text"] {
        background-image: url('chosen-sprite@2x.png') !important;
        background-size: unit(unit(52px)/16,rem) unit(unit(37px)/16,rem) !important;
        background-repeat: no-repeat !important;
      }
    }
  }
  .chosen-container-single {
    .chosen-single {
      abbr {
        background-image: url('chosen-sprite@2x.png') !important;
        background-size: unit(unit(52px)/16,rem) unit(unit(37px)/16,rem) !important;
        background-repeat: no-repeat !important;
      }
      div {
        b {
          background-image: url('chosen-sprite@2x.png') !important;
          background-size: unit(unit(52px)/16,rem) unit(unit(37px)/16,rem) !important;
          background-repeat: no-repeat !important;
        }
      }
    }
    .chosen-search {
      input[type="text"] {
        background-image: url('chosen-sprite@2x.png') !important;
        background-size: unit(unit(52px)/16,rem) unit(unit(37px)/16,rem) !important;
        background-repeat: no-repeat !important;
      }
    }
  }
  .chosen-container-multi {
    .chosen-choices {
      .unbullet();
      .search-choice {
        .search-choice-close {
          background-image: url('chosen-sprite@2x.png') !important;
          background-size: unit(unit(52px)/16,rem) unit(unit(37px)/16,rem) !important;
          background-repeat: no-repeat !important;
        }
      }
    }
  }
  .chosen-container {
    .chosen-results-scroll-down {
      span {
        background-image: url('chosen-sprite@2x.png') !important;
        background-size: unit(unit(52px)/16,rem) unit(unit(37px)/16,rem) !important;
        background-repeat: no-repeat !important;
      }
    }
    .chosen-results-scroll-up {
      span {
        background-image: url('chosen-sprite@2x.png') !important;
        background-size: unit(unit(52px)/16,rem) unit(unit(37px)/16,rem) !important;
        background-repeat: no-repeat !important;
      }
    }
  }
}
