
// Fields
// ================================
// Various fields


/* --- [ Fields ] --------------- */

.field-body {
  // .h-overrides({ color: inherit; });

  .front .region-preface-first & {
    .field-contents {
      &, * {
        .p--xxlarge();
      }
    }
  }
  .not-front .region-preface-first & {
    .field-contents {
      &, * {
        .p--xlarge();
      }
    }
  }

  .context-electric-vehicles-101 &,
  .context-introducción-los-vehículos-eléctricos & {
    h2 { text-align: center; }
  }

  & .bounded-title {
    .bounded-title();
    text-align: center;
    margin-top: 4.7rem;
    margin-bottom: 2.5rem;


    &:first-child {
      margin-top: 0;
    }

    .classic_mode({
      margin-top: 3rem;
      &:first-child {
        margin-top: 0;
      }
    });

    ~ .intro {
      text-align: center;
      ~ .box {
        margin-top: 3rem;
      }
    }
  }

  h2 {
    margin-top: 5.75rem;
    &:first-child {
      margin-top: 0;
    }
    + .bounded-title {
      margin-top: 3.25rem;
      .classic_mode({
        margin-top: 2.5rem;
      });
    }
  }

  .layout--row {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &:first-child {
      margin-top: 0;
    }


    .context-contact &,
    .context-contáctenos & {
      position: relative;
      &:before {
        content: ' ';
        background-color: @hr-color;
        .abs(0,50%,0,50%);
        width: .1875rem;

        .classic_mode({
          width: .0625rem;
          width: .1rem; // IE
        });

        .resp(@babybear, {
          content: none;
        });
      }
    }

    > img {
      margin: .75rem auto !important;
    }
  }

  .box {
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
    padding: @gutter-width / 2;

    *[style*="margin-left"] {
      margin-left: 0 !important;
      margin-left: initial !important;
    }

    .context-contact &,
    .context-contáctenos & {
      padding: 0 @gutter-width * 2;
      text-align: left;
      text-align: initial;
    }

    .resp(@babybear, {
      max-width: 100%;
      width: 100%;
      padding: 0;
      + .box {
        margin-top: 2rem;


        .context-contact &,
        .context-contáctenos & {
          padding-top: 2rem;
          border-top: 1.875rem solid @hr-color;
          .classic_mode({
            border-top: .0625rem solid @hr-color;
          });
        }
      }
    });

    img {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }

    .title {
      .h3();
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}


ul, ol {
  &.field-contents { .unbullet(); }
}

.field-link(@display: inline-block) {
  font-weight: 700;
  display: @display;
  position: relative;
  letter-spacing: .015em;

  .link-icon-before(
    @icon;
    @width;
    @parent-padding-left;
    @hover-icon: @icon;
    ) {
    padding-left: @parent-padding-left;
    &:before,
    &:after, {
      content: ' ';
      display: block;
      .abs(0,auto,0,0);
      width: @width;
      background-size: contain;
      background-repeat: no-repeat;
      .trans();
    }
    &:before {
      opacity: 1;
      background-image: @icon;
    }
    &:after {
      opacity: 0;
      background-image: @hover-icon;
    }
    &:hover {
      &:before { opacity: 0; }
      &:after { opacity: 1; }
    }
  }
}

.field:not(.field-body) {
  ul, ol {
    li { font-size: @base-font-size; }
  }
}

/* --- [ Field files ] --------------- */

.field-files,
.field-filesets {
  .field-contents {
    .unbullet();
    margin-top: 1.8rem;
    li {
      margin-top: .3rem;
    }
  }
}

.file {
  > span {
    font-size: 0;

    > * { font-size: @base-font-size; }
  }
  img { display: none; }
  a {
    .field-link(inline-block);
    vertical-align: middle;
    width: 100%;
    .field-files & {
      width: auto;
    }
    overflow: hidden;
    text-overflow: ellipsis;
    .link-icon-before(
      @icon: @download;
      @hover-icon: @download--blue;
      @width: 1.65rem;
      @parent-padding-left: 2.5rem;
    );
    &.hasSvgIcon {
      &:before, &:after {
        content: none;
      }
    }
  }
  .file-size {
    .font(@base-font, 'normal', @fine-print-font-size);
    letter-spacing: .015em;
    text-transform: uppercase;
    color: @medium-text-color;
    margin-left: .9rem;
    margin-top: 3px;
    display: inline-block;
    vertical-align: middle;
  }
}


/* --- [ Field files ] --------------- */

.field-links {
  .field-contents {
    .unbullet();
    margin-top: 1.8rem;
    li {
      margin-top: .9rem;
    }
    a {
      .field-link();
    }
  }
}


/* --- [ Fieldset Wrapper field ] --------------- */

.fieldset-wrapper {
  .clearly;
  > .field {
    &:first-child { margin-top: .7rem; }

    ~ * { margin-top: 1rem; }
  }
}


.meta--term {

  .field-label {
    .meta();
  }

  .field-contents {
    .block-title-style();
    &, a {
      display: inline-block;
      &:after {
        content: "\00a0|\00a0";
        color: @medium-text-color;
      }
      &:first-child:last-child,
      &:last-child {
        &:after { content: none; }
      }
    }
  }

  + * {
    margin-top: .6rem;
  }
}
