
// Form Elements
// ================================

._forms_vars() {

  // Defaults
  .return() {
    /* --- [ Variables ] --------------- */

    @input-height: 2.5rem; // IE and Firefox compat
    @placeholder-color: @faint-text-color;
    @placeholder-line-height: 1;
    @input-padding: .6rem 1.2em .5rem;

    @input-border-width: .1875rem;
    @input-border-color: @hr-color;
    @input-border-active-color: darken(@hr-color, 12.5%);
    @input-bg-color: @white;
    @input-bg-active-color: @white;

    @error-color: @brand-error;

    @select-arrow: @arrow-down;

    @input-checked-bg-color: @brand-primary-light;

    @checkbox-tick: @checkmark--white;
    @radio-true-dot: @radio-dot--blue;

    @label-color: @medium-text-color;

    @item-margin: 1.2rem;

    @inline-grid-padding: @gutter-width/2;
  }

  // Classic Mode Override
  .return() when (@classic_mode = true) {
    @input-border-width: .125rem;
  }

  // Return call
  .return();
}

// Fonts function call
._forms_vars();


/* --- [ Mixins ] --------------- */

.kill-phantom-space() {
  font-size: 0;
  > *:not(label) {
    font-size: @h6-font-size;
  }
}

.__full-width {
  .kill-phantom-space();
  display: inline-block;
  vertical-align: top;
  width: 100%;
  float: none;
  margin-left: 0;
  margin-right: 0;
}
.__half-width {
  .kill-phantom-space();
  display: inline-block;
  vertical-align: top;
  width: 50%;
  float: none;
  margin-left: 0;
  margin-right: 0;

  .resp(@babybear, {
    width: 100%;
  });
  .resp(@mobilemax, {
    width: 100%;
  });
}
.__one-fifth-width {
  .kill-phantom-space();
  display: inline-block;
  vertical-align: top;
  width: 20%;
  float: none;
  margin-left: 0;
  margin-right: 0;
  .resp(@babybear, {
    width: 33.33%;
  });
  .resp(@mobilemax, {
    width: 100%;
  });
}
.__two-fifths-width {
  .kill-phantom-space();
  display: inline-block;
  vertical-align: top;
  width: 40%;
  float: none;
  margin-left: 0;
  margin-right: 0;

  .resp(@babybear, {
    width: 50%;
  });
  .resp(@mobilemax, {
    width: 100%;
  });
}
.__three-fifths-width {
  .kill-phantom-space();
  display: inline-block;
  vertical-align: top;
  width: 60%;
  float: none;
  margin-left: 0;
  margin-right: 0;
  .resp(@babybear, {
    width: 66.66%;
  });
  .resp(@mobilemax, {
    width: 100%;
  });
}
.__four-fifths-width {
  .kill-phantom-space();
  display: inline-block;
  vertical-align: top;
  width: 80%;
  float: none;
  margin-left: 0;
  margin-right: 0;
  .resp(@babybear, {
    width: 100%;
  });
  .resp(@mobilemax, {
    width: 100%;
  });
}
.__auto-width {
  .kill-phantom-space();
  display: inline-block;
  vertical-align: top;
  width: auto;
  max-width: 100%;
}
.__p-left {
  padding-left: @inline-grid-padding;
  padding-right: 0;
  .resp(@babybear, {
    padding-left: 0;
    padding-right: 0;
  });
}
.__p-right {
  padding-left: 0;
  padding-right: @inline-grid-padding;
  .resp(@babybear, {
    padding-left: 0;
    padding-right: 0;
  });
}
.__m-top {
  margin-top: @item-margin;
}
.__m-top-0 {
  margin-top: 0;
}

.hidden {
  display: none;
}

.__inputs-no-border() {
  textarea,
  select,
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  input[type="checkbox"],
  input[type="radio"] {
    border-color: @input-bg-color;
    box-shadow: 0 6px 12px -5px rgba(0,0,0,.05);
  }
  input[type="checkbox"],
  input[type="radio"] {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1);
  }
}

.__inputs-has-border() {
  textarea,
  select,
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  input[type="checkbox"],
  input[type="radio"] {
    border: @input-border-width solid @input-border-color;
    box-shadow: none;
  }
  input[type="checkbox"],
  input[type="radio"] {
    box-shadow: none;
  }
}


.reset-views-exposed-form() {
  .views-exposed-form {
    margin-bottom: 0;

    .no-sidebars & {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;

      .resp(@tabletmax, {
        max-width: 100%;
        padding: 0;
      });
    }

    .views-exposed-widget {
      float: none;
      padding: 0;
    }

    > .views-exposed-widgets {
      letter-spacing: normal;
      margin: 0;

      > .views-exposed-widget {
        letter-spacing: inherit;
        width: 100%;
        display: block;
        vertical-align: top;
        padding: 0;

        .resp(@mobilemax, {
          width: 100%;
          padding: 0;
        });

        &.views-submit-button {
          padding: 0;
        }
      }
    }
  }
}




/* --- [ Input, Select, Textarea ] --------------- */

.input {
  &:extend(.h6);
  font-weight: 600;
  color: @text-color;
  line-height: 1;

  &:focus,
  &:active {
    box-shadow: none;
    outline: none;
  }


  &:disabled {
    opacity: .5;
    pointer-events: none;
  }

  .field() {
    box-sizing: border-box;
    height: @input-height;
    width: 100%;
    appearance: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    border: @input-border-width solid @input-border-color;
    background-color: @input-bg-color;
    padding: @input-padding;

    &:focus {
      border-color: @input-border-active-color;
      background-color: @input-bg-active-color;
    }

    .placeholder({
      font: inherit;
      line-height: @placeholder-line-height;
      color: @placeholder-color;
    });

    &.error {
      color: @error-color;
      border-color: @error-color;
    }
  }
}

textarea,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  .input();.field();
}

.select-box(
  @select: native;
  @toggle: none;
  @pane: none;
  @padded-pane: false;
) {
  @padding-right: 3rem;

  @steez: {
    &:extend(.h6);
    font-weight: 600;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    appearance: none;
    outline: none;
    border-radius: 0;
    box-shadow: none;
    border: @input-border-width solid @input-border-color;
    background-color: @input-bg-color;
  };

  & when (@select = native) and (@toggle = none) {
    @steez();
    padding: @input-padding;
    padding-right: @padding-right;
    &::-ms-expand {
      display: none;
    }
  }
  & when (@toggle = none) and not (@select = native) {
    padding: @input-padding;
    padding-right: @padding-right;
  }
  & when not (@toggle = none) {
    @{toggle} {
      @steez();
      > * {
        padding: @input-padding;
        padding-right: @padding-right;
      }
    }
  }

  & when (@pane = none) and (@select = native) { @steez(); }
  & when not (@pane = none) {
    @{pane} {
      @steez();
      border-top: none;
      margin-top: -1 * (@input-border-width);
      & when (@padded-pane = true) {
        padding: @input-padding;
      }
    }
  }

  & when (@select = native) {
    height: @input-height;
    line-height: 1;
  }
  & when not (@select = native) {
    min-height: @input-height;
  }

  .icon() {
    background-image: @select-arrow;
    background-size: auto .6rem;
    background-repeat: no-repeat;
    background-position: right 1rem top .8rem;
    cursor: pointer;

    & when not (@toggle = none) {
      width: @padding-right;
    }
  }
}

select {
  .select-box();
  .icon();
}

.select-widget {
  // global.js: Drupal.behaviors.filterToggles
  .dropdown-filter();
}

.tick-base(@background-color: @input-bg-color, @checked-background-color: @input-checked-bg-color, @left-pos: 0) {
  appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  border: @input-border-width solid @input-border-color;
  background-color: @background-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  left: @left-pos;
  box-sizing: border-box;

  .checked,
  &:checked {
    outline: none;
    box-shadow: none;
    border-color: inherit;
  }

  .checkbox() {
    .checked(@background-color: @checked-background-color) {
      background-color: @background-color;
      border-color: @background-color;
      background-image: @checkbox-tick;
    }
  }
  .radio() {
    border-radius: 100%;
    background-size: auto 75%;
    border-width: 2px;
    .checked(@background-color: @checked-background-color, @icon-color: true) {
      & when (@icon-color) { background-image: @radio-true-dot; }
      & when (@icon-color = @brand-primary) { background-image: @radio-true-dot; }
      border-color: @background-color;
    }
  }

  &:focus,
  &:active {}
}

input[type="checkbox"] {
  .tick-base();
  .checkbox();
  &:checked {
    .checked();
  }
  .form-type-checkbox &,
  .form-type-radios & {
    position: absolute;
    margin-right: 0;
  }
}
input[type="radio"] {
  .tick-base();
  .radio();
  &:checked {
    .checked();
  }
  .form-type-checkbox &,
  .form-type-radios & {
    position: absolute;
    margin-right: 0;
  }
}

input::-ms-check {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* Good browsers :) */
  opacity: 0;
}


textarea {
  height: auto;
  line-height: @base-line-height;
}

input {
  &.password-confirm,
  &.password-field {
    margin-bottom: 0;
  }
}

input[type="email"] {}

input[type="submit"] {
  .button();.cta();
}
[id*="submit-loading-wait"] {
  animation: fadeinout 1s infinite;

  .button()!important;
    .huge()!important;
    .disabled()!important;
    display: table !important;
    width: auto;
    margin: 0 auto;
}
input[type="submit"][id*="add-more"] {
  .button();.alt();
}
input.upload-button[type="submit"] {
  .button();.dim();
  &.file-chosen { .button();.alt(); }
}
input[type="reset"] {
  .button();.dim();
}
button {
  .button();
}


/* --- [ File upload ] --------------- */

.fieldset-wrapper > .field-type-file {
  padding: 1rem 1.5rem;
  background-color: @input-bg-color;

  &:nth-child(even) {
    background-color: fade(@brand-mono, 7.5%);
  }
}

.form-managed-file,
.file-widget {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &:before, &:after { content: none; }

  > * {
    display: inline-block;
    vertical-align: top;
  }

  .file-wrapper {
    margin-left: 0;
    margin-right: auto;
  }
  .file-size {
    margin-left: .5rem;
    margin-right: auto;
  }
  .form-submit {
    margin-left: 1rem;
    margin-right: 0;
  }
}
.file-wrapper {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 50%;
  width: 100%;
  position: relative;

  input[type="file"] {
    .abs-0();
    z-index: 20;
    opacity: 0;
  }
  label {
    .btn(@brand-secondary);.small();
    margin: 0;
    width: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 200rem 0 0 200rem;
    .classic_mode({
      border-radius: .1875rem 0 0 .1875rem;
    });
    &:hover {
      cursor: pointer;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .label-mate {
    .input();.field();
    font-style: italic;
    height: auto;
    border-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0 200rem 200rem 0;
    color: @faint-text-color;
    .classic_mode({
      border-radius: 0 .1875rem .1875rem 0;
    });
  }
  .reset {
    border-radius: 100%;
    .abs(0,0,0,auto);
    z-index: 30;
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    .close {
      color: @brand-secondary;
      display: block;
      width: 2.5rem;
      display: flex;
      align-items: center;
      .icon {
        width: 1rem;
        height: 1rem;
        margin: auto;
        .trans();
      }
    }

    &:hover .close { color: @brand-error; }

    .text {
      .element-invisible();
    }
  }
  &.file-chosen {
    label {
      .btn(@brand-secondary);.alt();.small();
      border-radius: 200rem 0 0 200rem;
      display: inline-flex;
      .classic_mode({
        .btn(@brand-secondary);.small();
        display: inline-flex;
        &, &:hover { border-radius: .1875rem 0 0 .1875rem; }
      });
    }
    .label-mate {
      border-color: @brand-secondary;
      color: @text-color;
      font-style: normal;
      font-weight: bold;
      padding-right: 3rem; // to accommodate reset
    }
  }
}

.document-widget {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .resp(@babybear, {
    display: block;
  });
  .resp-range(@tabletmax + 1, @goldilocks, {
    display: block;
  });

  > .form-item {
    margin: 0;
    flex: 1;
  }

  > .upload-button {
    margin-left: 1.6rem;
    .button();.alt();

    .resp(@babybear, {
      margin: 0;
      margin-top: 1rem;
      .button();.alt();.small();
      width: 100%;
    });
    .resp-range(@tabletmax + 1, @goldilocks, {
      margin: 0;
      margin-top: 1rem;
      .button();.alt();.small();
      width: 100%;
    });
  }
}
.document-message {
  .h6();
  margin-top: .8rem;
  .resp(@babybear, {
    margin-top: .5em;
  });
  .resp-range(@tabletmax + 1, @goldilocks, {
    margin-top: .5em;
  });
}



/* --- [ Label ] --------------- */
.label {
  .font(@base-font; 'bold'; @base-font-size);
  color: @label-color;
  background: none;
  background: initial;
  text-align: left;
  text-align: initial;
  padding: 0;
  margin: 0;
}
label {
  .label();
  margin-bottom: .375rem;
  display: inline-block;
}

.label-extra {
  // See: /eng/apply/1171
  .font(@base-font; 'normal'; @base-font-size);
  color: @label-color;
  margin-bottom: .75rem;
}


/* --- [ Form type Radios and Checkbox ] --------------- */
// Since it is impossible to cross browser style checkboxes
// and radios, we will use the mixin on a before element
// of the label.
// It's easily possible that we don't need to care about the
// wrapper (.form-type-checkbox), and instead just target
// input[type="radio"]:checked + label
// Nevertheless, this wrapper is useful for hanging state via
// js.

.form-type-checkbox,
.form-type-radio {
  > input {
    .element-invisible();
  }
  > label {
    font-weight: normal;
    margin: 0;
    display: block;
    padding-left: 2rem;
    position: relative;

    &:before {
      content: ' ';
      position: absolute;
      left: 0;
    }
  }
}

.form-checkboxes,
.form-radios {
  > .form-item ~ .form-item {
    margin-top: .5rem;
  }
}

.checklist() {
  margin-top: 2.4rem;
  .bounded() {
    border: @input-border-width solid @input-border-color;
    padding: @gutter-width;
  }

  > .form-item:last-child {
    margin-bottom: 0;
  }
}

.form-wrapper.checks {
  // See: /eng/requirements/919
  // See: /eng/pfp/requirements
  .checklist();.bounded();
}

.form-wrapper.form-actions {
  // margin-top: 2.5rem;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;

  // > * {
  //   margin-right: 2.5rem;
  //   &:last-child {
  //     margin-right: 0;
  //   }
  // }
  // .button {
  //   .btn();.huge();
  // }
  // input[type="submit"] {
  //   .btn();.cta();.huge();
  // }

  .views-footer-ruled();
}

/* --- [ Form type checkbox ] --------------- */

.form-type-checkbox {
  input[type="checkbox"] {
    + label:before {
      .tick-base();
      .checkbox();
    }
    &:checked + label:before {
      .tick-base();
      .checkbox();
      .checked();
    }
  }
}
.form-type-radios {
  input[type="radio"] {
    + label:before {
      .tick-base();
      .radio();
    }
    &:checked + label:before {
      .tick-base();
      .radio();
      .checked();
    }
  }
}



/* --- [ Autocomplete spinner ] --------------- */

html.js input.form-autocomplete {
  background-position: right 10px center !important;
}



/* --- [ Form item ] --------------- */

.form-item {
  .h4();
  margin-bottom: @item-margin;
}




/* --- [ Form description ] --------------- */

form .description,
form [class*="request-password-help"] {
  .h6();
  font-weight: normal;
  margin-top: .5rem;
  color: @medium-text-color;

  *, ul li, ol li { font: inherit; }

  ul, ol {
    margin-top: .4rem;
    &:first-child { margin-top: 0; }
  }
}

.form-actions {
  .views-footer-ruled();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: -1 * @gutter-width / 2;

  > * {
    margin: 0 @gutter-width / 2;
  }

  input {
    display: block;

    &[type="submit"][id*="submit"] {
      .button();.cta();.huge();

      &[disabled="disabled"] {
        .button();.dim();.huge();
        pointer-events: none;
      }
    }
    &[type="submit"][id*="reset"] {
      .button();.dim();.huge();
    }
  }
  .button {
    .button();.dim();.huge();
  }
}


/* --- [ Combine Filter ] --------------- */

.form-item-combine {
  position: relative;
  input { padding-right: 3.5rem; }
  &:before {
    content: ' ';
    .abs(0,0,0,auto);
    width: 3rem;
    background-image: @search--mono;
    .classic_mode({
      background-image: @search--teal;
    });
    background-position: center;
    background-size: 1.25rem auto;
    background-repeat: no-repeat;
  }
}
label[for*="combine"] {
  .element-invisible();
}




/* --- [ Keys filter ] --------------- */

.form-item-keys {
  label { display: none !important; }
  input {
    padding-right: 2.5em;
    font-size: @h5-font-size;
    background-size: 1rem 1rem;
    background-image: @search--mono;
    .classic_mode({
      background-image: @search--teal;
    });
    padding-right: 3rem;
    background-position: right 1rem center !important;
    background-repeat: no-repeat;
  }
}


/* --- [ Container inline ] --------------- */

.container-inline {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;

  > * {
    display: inline-block;
  }

  > .form-item {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    margin-right: 1rem;
  }
  > .form-submit {
    display: inline-block;
  }
}

.date-no-float {
  width: 100%;
}


/* --- [ Legend ] --------------- */

legend {
  float: left;
  width: 100%;
  box-sizing: border-box;
  font-size: @base-font-size;
  line-height: @base-line-height;
  letter-spacing: normal;
  color: inherit;
  .bounded-legend(
    @color: @white;
    @bg-color: @brand-mono;
  );

  .date-combo & {
    &, > .fieldset-legend { .label(); }
    + .fieldset-wrapper {
      border: none;
      border: initial;
      padding: 0;
      padding: initial;
      position: static;
      position: initial;
    }
  }

  + * {
    clear: left;
    .clearly;
  }

  > span {
    display: block;
    .field-label();

    a {
      display: block;
      &:link { color: inherit; }
      &:hover {
        text-decoration: none;
      }
    }

  }

}


/* --- [ Fieldset ] --------------- */

fieldset {
  position: relative;
  padding: 0;
  border: none;
  margin: 0 auto;
  min-width: 0; // ahem, IE?
  min-width: initial; // Fix Chrome browser overflow issue

  @-moz-document url-prefix() {
    display: table-column; // Fix FF overflow issue
  }

  .form-wrapper & {
    margin-top: 2.5rem;
  }
  .form-wrapper:first-child & {
    margin-top: 0;
  }

  ~ fieldset,
  ~ .field,
  ~ [id*="ajax-wrapper"] {
    margin-top: 2.5rem;
  }

  legend {
    float: left;
    width: 100%;

    + * {
      clear: left;
    }

    > span {
      .h3();
    }

    ~ .fieldset-wrapper {

    }
  }
}

.fieldset-wrapper {
  &:before, &:after {
    content: none !important;
  }
}

.node-form {

  legend {
     > span {
      .h3();
    }
    ~ .fieldset-wrapper {

    }
  }
  > div {
    [class*="field-type"] {
      .form-item { margin-bottom: 0; }
      label {
        display: block;
      }
      input {
        max-width: 100%;
      }
    }
    .rebate-info-wrap {
      .item-list ul {
        .unbullet();
        font-weight: bold;
      }
      ~ [class*="field-type"]:not(.field-type-datetime) {

        border-top: 1px solid @brand-mono-medium;

      }
    }
  }
}



/* --- [ Collapsible ] --------------- */

.collapsible {

  .fieldset-wrapper {
    overflow: auto; // override admin_menu.css

    html.js fieldset& {
      &[class*="fieldset-wrapper"] {
        overflow: auto; // override stupid **expletive** admin_menu.css
      }
    }

    fieldset {
      margin-top: 1.875rem;
    }
  }


  .fieldset-title {
    position: relative;

    &:after {
      content: ' ';
      .select-box(@select: not-native);
      .icon();
      .abs-0();
      .trans(transform, 100ms, ease, 0ms);
      min-height: 0;
      margin-top: -.2rem;
      background-position: right 1rem top 50%;
    }
  }
  .fieldset-wrapper .fieldset-title:after {
    background-image: @select-arrow;
  }

  &.collapsed {

    html.js & {
      height: auto;
    }
    .fieldset-title:after {
      transform: scale3d(1,-1,1);
    }
  }
}


/* --- [ Filter block form ] --------------- */

.form__filter-block() {
  margin-bottom: 3.7rem;
  text-align: center;

  .resp-range(@mobilemax + 1,  @tabletmax, {
    margin-bottom: 2.35rem;
  });
  .resp(@mobilemax, {
    margin-bottom: 2.1rem;
  });
  .form__filter-block--search-input();
}

.form__filter-block--search-input() {

  .block-title,
  .view-filters,
  .form-type-textfield { text-align: center; }

  .form-type-textfield {
    width: 100%;
  }

  .messages {
    width: 100%;
  }

  input[type="text"] {
    text-align: left;
    text-align: initial;
    padding-right: 3.5rem;
    background-size: 1.25rem auto;
    background-image: @search--mono;
    .classic_mode({
      background-image: @search--teal;
    });
    background-position: right 1rem center;
    background-repeat: no-repeat;
    &[type="text"] {
      width: auto;
      min-width: 40.7%;

      .resp(@mobilemax, { min-width: 100%; });
    }
  }
  .form-item-combine {
    &:before {
      content: none;
    }
  }

  .form-submit {
    display: block;
    margin: 0 auto;
    margin-bottom: 1.2rem;
    &:last-child {
      margin-bottom: 0;
    }
    &.js-hide {
      .element-invisible();
    }
  }
}

/* --- [ Webform ] --------------- */

.webform-client-form {
  fieldset ~ fieldset {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid @input-border-color;
  }

  label {
    display: inline-block;
    margin-bottom: 8px;
  }

  .fieldset-description,
  .description {
    font-size: @caption-font-size;
    letter-spacing: normal;
    color: @medium-text-color;
  }
}



/* --- [ Form Element ] --------------- */

form {
  &.node-form,
  .page-references-dialog &,
  .region-preface-first & {
    max-width: 100%;
  }

  // label,
  // .group-subscribe > div > span,
  // .group-demo > div > span {
  //   margin: 6px 0;
  //   font-weight: bold;
  //   font-size: @caption-font-size;
  //   line-height: @caption-line-height;
  //   color: @label-color;
  //   display: inline-block;
  //   vertical-align: middle;
  // }

  .form-type-checkbox,
  .form-type-radio {
    position: relative;
    label {
      text-transform: none;
    }

    .ajax-progress-throbber {
      .abs(0,0,0,0);
      background-color: fade(@white, 50%);
      display: block;

      .message { .element-invisible; }

      .throbber {
        .abs(0,0,0,0);
        margin: 0 auto;
        background-image: url(../images/white-dots.svg);
        background-position: center;
        background-repeat: no-repeat;
        width: auto;
        height: auto;
        margin: 0;
        animation: fadeinout 750ms infinite;
      }
    }

  }

  .form-wrapper + fieldset,
  fieldset + .form-wrapper {
    margin-top: 1.875rem;
  }

  .fieldset-description {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid  @brand-secondary;
    background-color: fade(@white, 75%);
    color: @brand-mono;

    > * {
      margin-top: 12px;
      &:last-child { margin-bottom: 0; }
    }
    ul,
    ol {
      margin-left: 0 !important;
      li ~ li {
        margin-top: 8px;
      }
    }
  }

  .form-required,
  .name-required-component-marker {
    color: @error-color;
  }



  /* --- [ Field multiple table ] --------------- */
  // Usually References dialog
  // See: /data/request/new_request

  .field-multiple-table {
    width: 100%;
    margin-bottom: 1.875rem;
    thead {
      display: none;
    }
    td,
    .ajax-new-content {
      > * {
        display: inline-block;
        vertical-align: top;
        margin: 0;
      }
    }

    tr ~ tr td { padding-top: 1rem; }

  }

  .field-multiple-drag {
    padding: 0;
    vertical-align: top;
    width: 2.5rem;

    display: none; // hide the drag on forms
  }

  .references-dialog-links {
    .unbullet();
    margin: 0;
    padding: 0 .5rem;

    li {
      display: inline-block;
      vertical-align: top;
      padding: 0 .5rem;
    }
    a {
      .button();
      background-image: none;
      &.search-dialog {
        .button();.alt();
        .icon-before(@search--white, @search--mono, @size:1rem,  @absolute:true) !important;
        .classic_mode({
          .icon-before(@search--white, @search--teal, @size:1rem,  @absolute:true) !important;
        });
      }
    }
  }


  /* --- [ Commerce ] --------------- */

  &#commerce-registration-node-registrations-settings-form {
    // See: /node/1718/registrations/settings?destination=node/1718

    input[type="submit"] {
      margin-left: auto;
      margin-right: 0;
      display: block;
      width: 100%;
      margin-top: 30px;
    }

    > div {
      > .form-item,
      > .container-inline-date {
        border-bottom: 1px solid @hr-color;
        padding-bottom: 20px;
        margin-bottom: 20px;
        position: relative;
      }
    }

    .container-inline-date {
      + .container-inline-date {
        margin-top: 20px;
        border-top: 1px solid @hr-color;
        padding-top: 12px;
      }

      > .form-type-date-popup {
        width: 100%;
        margin-right: 0;
        float: none;

        > label {
          float: none;
          display: inline-block;
          vertical-align: middle;
          width: 20%;
        }

        input,
        select {
          margin-left: 10px;
          margin-right: 10px;
        }

        > .form-select,
        > .form-text,
        > .date-padding {
          display: inline-block;
          vertical-align: middle;
          width: auto;
          float: none;

          label,
          .form-item {
            float: none;
            display: inline-block;
            vertical-align: middle;

            input {
              width: auto;
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
        .description {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }

  }


  // See: /eng/apply/1171
  &[id^="cvrp-application-node-form"],
  &[id^="pfp-application-node-form"] {
    margin: 0 auto;
    box-sizing: border-box;


    > div {
      > fieldset:not(.cart_contents):not(.checkout-buttons):not(.registration_information) > .fieldset-wrapper,
      > div[id*="ajax-wrapper"] > fieldset > .fieldset-wrapper {
        background-color: @brand-mono-lightest;
        padding: @gutter-width;
        font: inherit;
      }
    }

    .field-name-field-mailing-address {
      font-size: 0;
      > * {
        font-size: @base-font-size;
      }
    }

    .field-type-markup[class*="-header"]:not([class*="-confirmation"]),
    .field-type-markup[class*="-head"]:not([class*="-confirmation"]),
    .field-type-markup[class*="-informat"],
    .field-type-markup[class*="-status"] {
      @padding-top: 3.7rem;
      @margin: 1.8rem;
      @mobile-padding-top: 3.7rem;
      @mobile-margin: 2.15rem;

      border-top: .1875rem solid @hr-color;
      padding-top: @padding-top;
      margin-top: @margin;

      .resp(@mobilemax, {
        padding-top: @mobile-padding-top;
        margin-top: @mobile-margin;
      });

      .h3();

      .classic_mode({
        border-top: .0625rem solid @hr-color;
      });
    }


    // CSESUPP-189944
    .field-type-list-boolean,
    .field-type-list-integer,
    .field-type-list-text,
    .field-type-list-integer,
    .field-type-date {
      &.field-widget-options-buttons,
      &.field-widget-options-select,
      &.field-widget-date-popup {
        .__full-width();
        .__m-top;
        select {
          width: auto;
          max-width: 100%;
        }
      }
    }

    .field-name-field-vehicle-owner,
    .field-name-field-dealer-name,
    .field-name-field-household-size,
    .field-name-field-household-income,
    .field-name-field-kicker-intent,
    .field-name-field-confirm-household-income,
    .field-name-field-tax-filing-status,
    .field-name-field-gross-annual-income,
    .field-name-field-tax-identification-number,
    .field-name-field-rental-or-car-share-fleet-,
    .field-name-field-ca-driver-license-number,
    .field-name-field-date-of-purchase,
    .field-name-field-mailing-zip-code,
    .field-name-field-mailing-city,
    .field-name-field-mailing-street,
    .field-name-field-mailing-state.field-widget-options-select,
    .field-name-field-dealer-contact-title,
    .field-name-field-dealer-phone,
    .field-name-field-dealer-contact-person,
    .field-name-field-interest-in-special-pev-ra,
    .field-name-field-cvrp-home-energy-efficienc,
    .field-name-field-cvrp-interested-in-install,
    .field-name-field-applicant-info-line-9,
    .field-name-field-applicant-info-line-10,
    .field-name-field-applicant-info-line-11,
    .field-name-field-applicant-info-line-12,
    .field-name-field-applicant-info-line-13,
    .field-name-field-applicant-info-line-14,
    .field-name-field-applicant-info-line-15,
    .field-name-field-applicant-info-line-16,
    .field-name-field-applicant-info-line-19,
    .field-name-field-applicant-info-line-20,
    .field-name-field-applicant-info-line-21,
    .field-name-field-applicant-info-line-22,
    .field-name-field-pfp-applicant-type,
    .field-name-field-have-you-already-taken-del,
    .field-name-field-have-you-already-ordered-t,
    .field-name-field-applicant-age-range,
    .field-name-field-applicant-gender,
    .field-name-field-applicant-race-ethnic,
    .field-name-field-cvrp-solar-system-owner,
    .field-name-field-lease-term,
    .field-name-field-purchase-or-lease,
    .field-name-field-vehicle-year,
    .field-name-field-vin,
    .form-item-field-mailing-address-und,
    .addresstext,
    .field-name-field-city,
    .field-name-field-street-address,
    .form-type-password,
    .field-name-field-applicant-type-front-facin,
    .field-name-field-first-name,
    .field-name-field-last-name,
    .field-name-field-company,
    .field-name-field-race-ethnicity,
    .field-name-field-gender,
    .field-name-field-sexual-orientation,
    .field-name-field-year-of-birth,
    .field-name-field-phone,
    .form-item[class*="locality"],
    .form-item[class*="administrative-area"] {
      .__half-width;
      .__m-top;
    }
    .field-name-field-applicant-type-front-facin,
    .field-name-field-mailing-state.field-widget-options-select,
    .field-name-field-zip-code,
    .field-name-field-mailing-zip-code,
    .form-item[class*="postal-code"] ,
    .field-name-field-state.field-widget-options-select {
      .__two-fifths-width;
      .__m-top;
    }

    .form-item-email-confirm,
    .form-item-field-applicant-email-confirm,
    .form-item-FirstName,
    .form-item-Middle-Name--c,
    .form-item-Suffix,
    .form-item-LastName,
    .form-item-Title,
    .form-item-Account,
    .form-item-Attorney-ID-Number--c,
    .form-item-BillingStreet,
    .form-item-BillingCity,
    .form-item-BillingState,
    .form-item-BillingPostalCode,
    .form-item-Phone,
    .field-name-field-applicant-email,
    .form-item-MobilePhone,
    .form-item-Fax,
    .form-item-Website {
      .__half-width();
      .__m-top;
    }

    .field-name-field-help-text-for-rental-or-ca,
    .form-wrapper[id="edit-dealer-picklist"],
    .field-name-field-applicant-race-other,
    .field-name-field-confirm-not-dependent,
    .field-name-field-confirm-income-agreement,
    .field-name-field-confirm-accuracy {
      .__full-width();
      .__m-top;
    }

    .form-item-field-dealer-zipcode,
    .form-item-field-dealer-zipcode-list {
      .__four-fifths-width();
      margin-top: 0;

      .resp-range(@babybear + 1,  @tabletmax, {
        .__four-fifths-width();
      });
    }
    .dealershiptext {
      .__one-fifth-width();
      margin-top: 0;
      .resp-range(@babybear + 1,  @tabletmax, {
        .__one-fifth-width();
      });
    }

    .field-name-field-vehicle-owner,
    .field-name-field-dealer-name,
    .field-name-field-household-size,
    .field-name-field-household-income,
    .field-name-field-kicker-intent,
    .field-name-field-confirm-household-income,
    .field-name-field-tax-filing-status,
    .field-name-field-gross-annual-income,
    .field-name-field-rental-or-car-share-fleet-,
    .field-name-field-tax-identification-number,
    .field-name-field-help-text-for-rental-or-ca,
    .field-name-field-mailing-zip-code,
    .field-name-field-mailing-street,
    .field-name-field-dealer-contact-title,
    .field-name-field-dealer-phone,
    .field-name-field-dealer-contact-person,
    .field-name-field-interest-in-special-pev-ra,
    .field-name-field-cvrp-home-energy-efficienc,
    .field-name-field-cvrp-interested-in-install,
    .field-name-field-applicant-info-line-9,
    .field-name-field-applicant-info-line-10,
    .field-name-field-applicant-info-line-11,
    .field-name-field-applicant-info-line-12,
    .field-name-field-applicant-info-line-13,
    .field-name-field-applicant-info-line-14,
    .field-name-field-applicant-info-line-15,
    .field-name-field-applicant-info-line-16,
    .field-name-field-applicant-info-line-19,
    .field-name-field-applicant-info-line-20,
    .field-name-field-applicant-info-line-21,
    .field-name-field-applicant-info-line-22,
    .field-name-field-pfp-applicant-type,
    .field-name-field-have-you-already-taken-del,
    .field-name-field-have-you-already-ordered-t,
    .field-name-field-applicant-age-range,
    .field-name-field-applicant-gender,
    .field-name-field-applicant-race-ethnic,
    .field-name-field-applicant-race-other,
    .field-name-field-cvrp-solar-system-owner,
    .field-name-field-lease-term,
    .field-name-field-purchase-or-lease,
    .field-name-field-vehicle-year,
    .field-name-field-vin,
    .field-name-field-zip-code,
    .field-name-field-phone,
    .field-name-field-street-address,
    .field-name-field-help-text-for-rental-or-ca,
    .field-name-field-applicant-type-front-facin,
    .field-name-field-ca-driver-license-number,
    .field-name-field-confirm-not-dependent,
    .field-name-field-confirm-income-agreement,
    .field-name-field-confirm-accuracy {
      display: block;
    }

    .field-name-field-vehicle-owner,
    .field-name-field-dealer-name,
    .field-name-field-household-size,
    .field-name-field-household-income,
    .field-name-field-kicker-intent,
    .field-name-field-confirm-household-income,
    .field-name-field-tax-filing-status,
    .field-name-field-gross-annual-income,
    .field-name-field-tax-identification-number,
    .field-name-field-rental-or-car-share-fleet-,
    .field-name-field-ca-driver-license-number,
    .form-item-field-dealer-zipcode,
    .form-item-field-dealer-zipcode-list,
    .field-name-field-date-of-purchase,
    .field-name-field-mailing-zip-code,
    .field-name-field-mailing-city,
    .field-name-field-mailing-street,
    .field-name-field-dealer-contact-title,
    .field-name-field-dealer-phone,
    .field-name-field-dealer-contact-person,
    .field-name-field-interest-in-special-pev-ra,
    .field-name-field-cvrp-home-energy-efficienc,
    .field-name-field-cvrp-interested-in-install,
    .field-name-field-cvrp-solar-system-owner,
    .field-name-field-lease-term,
    .field-name-field-purchase-or-lease,
    .field-name-field-vehicle-year,
    .field-name-field-vin,
    .form-item-field-mailing-address-und,
    .field-name-field-city,
    .field-name-field-street-address,
    .field-name-field-first-name,
    .field-name-field-company,
    .field-name-field-race-ethnicity,
    .field-name-field-sexual-orientation,
    .field-name-field-applicant-email,
    .field-name-field-phone,
    .form-item[class*="locality"] {
      .__p-right;
    }
    .dealershiptext,
    .field-name-field-mailing-state,
    .field-name-field-state,
    .field-name-field-last-name,
    .field-name-field-gender,
    .field-name-field-year-of-birth,
    .form-item-field-applicant-email-confirm,
    .form-item[class*="administrative-area"]  {
      .__p-left;
    }


    .field-type-markup[class*="-header"][class*="-confirmation"] {
      .label();
    }

    .field-name-field-date-of-purchase {
      legend > span {
        .label();
        margin-bottom: .375rem;
      }
      // label[for*="datepicker"][for*="datepicker"] {
      //   .element-invisible();
      // }
      fieldset {
        margin-top: 0;
      }
      fieldset.date-combo .container-inline-date .date-padding {
        padding: 0;
      }
    }

    .field-name-field-phone  {
      margin-bottom: 2.4rem;
    }
    .form-type-password-confirm + .field-name-field-street-address {
      margin-top: 3.625rem;
    }

    .addressfield-container-inline {
      letter-spacing: -1em;
    }

    .addresstext {
      .font(@base-font; 'normal'; @caption-font-size);
      text-transform: uppercase;

      .text {
        .font(@base-font; 'normal'; @caption-font-size);
        display: inline-block;
      }
      a {
        display: inline-block;
      }
      img {
        display: inline;
        vertical-align: middle;
        height: 1.5rem;
        margin-left: .75rem;
      }
    }

    .form-wrapper[id="edit-dealer-picklist"] {
      label {
        display: block;
      }
      input[id="edit-field-dealer-zipcode"] {
        width: ~'calc(60% - '@gutter-width/2~')';
        margin-right: @gutter-width/2;
        background-repeat: no-repeat;
        background-position: .5rem center;
        padding-left: 2.25rem;
        background-image: @search--mono;
        .classic_mode({
          background-image: @search--teal;
        });
        .resp(@mobilemax, {
          width: 100%;
        });
      }
      input[id="edit-field-dealer-zipcode-button"] {
        width: ~'calc(40% - '@gutter-width/2~')';
        margin-left: @gutter-width/2;
        .resp(@mobilemax, {
          width: 100%;
          margin-left: 0;
          .__m-top();
        });
        .btn();.cta();
      }

      [class*="picklist-msg"] {
        color: @brand-error;
      }

      .dealershiptext {
        vertical-align: bottom;
        text-align: right;
      }
      a {
        display: inline-block;
      }
      img {
        display: inline;
        vertical-align: middle;
        height: 3rem;
        margin-left: .75rem;
      }
    }

    .field-name-field-rental-or-car-share-fleet- {
      position: relative;
      .resp-min(@tabletmax + 1, {
        .form-field-help {
          .abs(auto,auto,0,100%);
          margin-left: .2rem;
          margin-bottom: .4rem;
        }
      });
    }

    .field-name-field-help-text-for-rental-or-ca {
      &:extend(form .description);
      padding-top: .8rem;
      padding-left: 2.4rem;
      padding-right: 2.4rem;
      padding-bottom: .8rem;
      border: @input-border-width solid @input-border-color;
    }

    .field-name-field-gross-annual-income .description {
      // ul, ol {
      //   padding-top: .8rem;
      //   padding-left: 2.4rem;
      //   padding-right: 2.4rem;
      //   padding-bottom: .8rem;
      //   border: @input-border-width solid @input-border-color;
      // } // CSESUPP-189933
    }

    .field-widget-options-buttons > .form-item {
      > label {
        .label();
        padding: 0;
        margin-bottom: .5rem;
      }
    }

    .field-widget-options-onoff ~ .field-widget-options-onoff  {
      margin-top: .5rem;
    }

    .addressfield-container-inline > .addressfield-container-inline,
    .addressfield-container-inline > .form-item,
    .street-block {
      .__m-top;
      float: none;
    }

    .name-block > .form-item:first-child {
      .__m-top-0;
    }

    .field-type-addressfield:not([id^="edit-customer-profile-billing"]),
    [id*="billing"] > [id^="addressfield-wrapper"],
    .group-subscribe,
    .group-demo {

    }

    #payment-details {
      > .form-item,
      > .commerce-credit-card-expiration {
        .__m-top;
      }

      .form-type-select,
      .form-type-textfield {
        .__auto-width;
        vertical-align: bottom;
      }

      .commerce-month-year-divider {
        color: transparent;
        text-indent: -9999px;
        height: 100%;
        display: inline-block;
        padding: 9px 4px 8px;
        position: relative;
        margin: 0 8px 0 6px;

        &:after {
          content: ' ';
          position: absolute;
          top: 10%;
          bottom: 10%;
          left: 50%;
          transform: translateX(-50%) rotate(15deg);
          width: 2px;
          background-color: @faint-bg;
        }
      }

      .form-item[class*="credit-card-type"] {
        .__p-right;
      }
      .form-item[class*="credit-card-number"] {
        .__p-left;
      }
      .form-item[class*="credit-card-exp-month"],
      .form-item[class*="credit-card-code"] {
        white-space: nowrap;
        margin-bottom: 0;

        label {
          margin-right: 10px;
        }
        label,
        select,
        .form-text {
          display: inline-block;
          vertical-align: middle;
          width: auto;
        }
      }
      .form-item[class*="credit-card-exp-year"] {
        margin-bottom: 0;
      }
      > .commerce-credit-card-expiration {
        display: inline-block;
        margin-top: 24px;
        .__p-right;
      }
      .form-item[class*="credit-card-code"] {
        .__p-left;
      }

    }
  }

}


/* --- [ Form Type Password ] --------------- */

.form-type-password-confirm {
  label[for="edit-field-applicant-password"] {
    .element-invisible();
  }
  .form-type-password {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    > label {
      order: 0;
    }
    > div {
      order: 1;
    }
    > .description {
      order: 11;
    }
    > input {
      width: 100%;
      order: 2;
    }
  }

  .password-strength:extend(form label) {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &-text {
      .h6();
      color: @text-color;
      order: 2;
    }
    &-title {
      .label();
      order: 1;
      margin-right: .4rem;
    }

    .password-indicator {
      order: 0;
      background-color: @brand-mono-light;
      width: 100%;
      height: @input-border-width;
      margin-top: -@input-border-width;
      .indicator {
        height: 100%;
        width: 0%;
        background-color: @brand-success;
      }
    }
  }

  .password-confirm:not(input):extend(form label) {
    .label();
    .error {
      color: @brand-error;
    }
    .ok {
      color: @brand-success;
    }
  }

  .password-suggestions {
    padding: @input-padding;
    padding-bottom: .8rem;
    border: @input-border-width solid @input-border-color;

    ul {
      margin-top: 1rem;
    }
  }

}

.form-item-pass,
.form-item-field-applicant-password {
  font-size: 0;

  div.form-type-password {
    .__half-width();
    display: inline-flex;

    &.password-parent {
      .__p-right();
    }
    &.confirm-parent {
      .__p-left();
    }

    .password-indicator {
      margin-top: .5rem;
      margin-bottom: .25rem;
    }
    div.password-strength {
      order: 10;
      width: 100%;
    }
    div.password-confirm {
      order: 2;

      span {
        font-weight: bold;
        float: right;
        margin-left: .25em;
      }
    }
  }
  .notification-bar(~'div.password-suggestions',  @severity: normal);
  div.password-suggestions {
    width: 100%;
    .__m-top();
    font-size: @base-font-size;
    line-height: @base-line-height;
    ul, ol {
      margin: 0;
      li { font: inherit; }
    }
  }
}






/* --- [ Sidebar forms ] --------------- */

.region[class*="sidebar"] {
  .form-item {
    label {
      display: inline-block;
      margin-top: 6px;
    }
    &.form-type-checkbox,
    &.form-type-radio {
      label {
        margin-top: 0;
      }
    }
  }
  .form-submit {
    display: block;
    margin-top: 16px;
    width: 100%;
  }

  .front & {
    [id^="search-block-form"] label { .element-invisible; }
  }

  .field-registration-product {
    margin-bottom: 20px;
    &:last-child { margin-bottom: 0; }
  }

  .commerce-add-to-cart {
    > div > * ~ * {
      margin-top: 20px;
    }

    .quantity-wrapper {
      padding: 20px 30px;
      box-sizing: border-box;
      background-color: @input-border-color;
      min-width: 100%;
      width: calc(~"100% + 60px");
      margin: 20px -30px;

      > * {
        display: table-cell;
        vertical-align: middle;
        width: 50%;

        &:nth-child(odd) {
          padding-right: 10px;
        }
        &:nth-child(even) {
          padding-left: 10px;
        }
      }
    }
    .price {
      font-size: 24px;
      color: @brand-secondary;
      width: auto;
    }
    .form-item-quantity {
      position: relative;
      width: 500px;  // A hack to get the thing be full width
      label { .element-invisible; }
    }
    .quantity-buttons {
      position: absolute;
      .abs(0,0,0,auto);
      border: 1px solid transparent; // prevent overlap of input border
      &:after {
        content: ' ';
        height: 1px;
        .abs(50%,0,auto,0);
        background-color: darken(@hr-color, 5%);
      }

      .commerce-quantity-plusminus-link {
        display: block;
        float: none;
        height: 50%;
        width: 30px;

        a {
          margin: 0;
          display: block;
          height: 100%;
          border: none;
          border-radius: 0;
          padding: 0;
          line-height: 1;
          text-indent: -9999px;
          position: relative;
          background-color: @input-border-color;

          &:before {
            content: ' ';
            background-repeat: no-repeat;
            background-color: transparent;
            background-size: 10px 10px;
            background-position: center;
            display: block;
            .abs(0,0,0,0);
          }

          &:focus {
            transform: none;
          }
          &:active {
            background-color: @hr-color;
          }
        }

        &[class*="increase"] a:before {
          background-image: url(../images/arrowup--gray.svg);
        }
        &[class*="decrease"] a:before {
          background-image: url(../images/arrowdown--gray.svg);
        }
      }
    }

    label[for="edit-quantity"] {
      .element-invisible;
    }

  }
}
