// Links
// ================================

@link-color:                                @brand-primary;
@link-hover-color:                          @brand-primary;
@link-active-color:                         @brand-primary;

@contrast-link-color:                       @brand-neutral;
@contrast-link-hover-color:                 @brand-neutral;
@contrast-link-active-color:                @brand-neutral;

@link-color: @brand-primary;
@link-hover-color: @brand-primary;
@link-active-color: @brand-secondary;
@menu-button-color: @teal;

.link(
  @color: @link-color;
  @hover-color: @link-hover-color;
  @active-color: @link-active-color;
  @underline: true;
  @active-underline: false;
  ) {
  color: @color;
  text-decoration: none;
  .trans();

  .text {
    color: @color;
    .trans();
  }
  & when (@underline = true) {
    .text {
      border-bottom: 1px solid;
      border-color: transparent;
      padding-bottom: 2px;
      position: relative;
    }
  }
  & when (@underline = false) {
    .text {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &:hover {
    color: @hover-color;
      .text {
        color: @hover-color;
      }
  }
  & when (@underline = true) {
    &:hover .text {
      border-color: @hover-color;
    }
  }

  &.active {
    &, & .text,
    &:hover, &:hover .text {
      color: @active-color;
      border-color: @active-color;
    }
  }
  & when (@active-underline = false) {
    &.active {
      & .text {
        border-color: transparent;
      }
    }
    &.active:hover .text {
      color: @hover-color;
      border-color: @hover-color;
    }
  }
  & when (@active-underline = true) {
    &.active .text {
      border-color: @active-color;
    }
  }
}

.a, a {
  .link();
}

#admin-menu-wrapper {
  a {
    .link(
      @color: @white;
      @hover-color: fade(@white, 90%);
      @active-color: @white;
      @underline: false;
      @active-underline: true;
    );
    .font-smoothing(subpixel-antialiased);
  }
}


.a--no-underline() {
  .link(@underline: false);
}

.body-copy-link(@link: @link-color) {
  color: @text-color;
  border-bottom: 2px solid @link;
  &:hover {
    color: @link;
  }
}

.action-link {
  .a--no-underline();
  font-size: @base-font-size;
  font-weight: 600;
  letter-spacing: .12em;
  text-transform: uppercase;
  color: @link-color;
  display: block;
  .font-smoothing(subpixel-antialiased);

  &:hover {
    text-decoration: none;
  }
  &.active {
    color: @link-active-color;
  }
}

.top-menu-link(
  @top-link-color: @brand-mono;
  @top-link-hover-color: @brand-mono;
  @top-link-active-color: @brand-mono;
  @padding: .75rem 1rem .7rem;
) {
  &:not(.button) {
    .font(@display-font, 'bold', @h6-font-size);
    .font-smoothing(antialiased);
    .link(
      @color: @top-link-color;
      @hover-color: @top-link-hover-color;
      @active-color: @top-link-active-color;
      @active-underline: false;
    );
    text-transform: uppercase;
    letter-spacing: .05em;
    padding: @padding;
    white-space: nowrap;
    &:hover {
      text-decoration: none;
    }
    &.active-trail {
      .active();
    }
  }

  &.button {
    .btn(@color: @menu-button-color);
    .classic_mode({
      .btn();.quiet(@brand-success);

      &:hover {
        background-color: @brand-success;
        border-color: @brand-success;
      }
    });
  }
}

.sub-menu-link(
  @item-color: @medium-text-color;
  @item-bg-color: transparent;
  @item-hover-color: @brand-primary;
  @item-active-color: @brand-secondary;
  @item-active-underline: false;
) {
  display: block;
  background-color: @item-bg-color;
  .link(
    @color: @item-color;
    @hover-color: @item-hover-color;
    @active-color: @item-active-color;
    @active-underline: @item-active-underline;
  );
  .font(@display-font, 'normal', @caption-font-size);
  line-height: 1.6;
  text-transform: none;
  max-height: 100%;
  padding: 0.4rem 1.25rem 0.4rem;
  .font-smoothing(subpixel-antialiased);

  .menu-link__inner {
    position: relative;
  }

  &:hover {
    color: @item-hover-color;
    text-decoration: none;
  }

  &.active-trail {

  }
  &.active {
    .active();
  }
}

.mobile-top-menu-link(
  @color: @white;
  @bg-color: @brand-primary;
  @hover-text-color: @brand-primary;
  @hover-bg-color: @brand-primary-light;
  @border-color: @brand-mono-light;
  @underline_text: true;
  ) {
  .unbutton(@color: @color);
  .link(@underline: false);
  color: @color;
  background-color: @bg-color;
  .font(@display-font, 'bold', @h6-font-size);
  .font-smoothing(subpixel-antialiased);
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
  display: block;
  max-height: 100%;
  padding: 0;
  padding: .8rem 1.4rem .6rem;
  position: relative;
  text-align: left;
  text-align: initial;
  border: none;
  cursor: pointer;

  .menu-link__inner {
    position: static;
    display: block;
    &:after {
      content: ' ';
      .abs(100%;3rem;auto;3rem);
      border-bottom: 3px solid @border-color;
      margin-top: -3px;
    }
  }

  .text {
    border-bottom: 2px solid transparent;
    padding-bottom: 1px;
    color: @color;
    .trans(none);
  }

  &:hover {
    text-decoration: none;
    color: @hover-text-color;
    .text {
      color: @color;
      border-color: inherit;
    }
  }

  & when (@underline_text = true) {
    .text {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &.active,
  &.active-trail {
    .menu-item-inner {

    }
  }
}

.mobile-sub-menu-link(
  @color: @white;
  @active-text-color: @brand-action;
  ) {

  .unbutton(@color: @color);
  .link(@underline: false);
  .font(@display-font, 'normal', @caption-font-size);
  .font-smoothing(subpixel-antialiased);
  &, .text { color: @color; }
  background-color: transparent;
  line-height: 1.6;
  text-decoration: none;
  text-transform: none;
  display: block;
  max-height: 100%;
  padding: 0;
  padding: .8rem 1.4rem .6rem;
  position: relative;

  &:hover,
  &.active {
    text-decoration: none;
    &, .text {
      color: @active-text-color;
    }
  }

  .menu-item-inner {
    position: relative;
    &:before { content: none; }
  }
}

.mobile-quick-menu-link(@color: @text-color) {
  .a--no-underline();
  color: @color;
  font-family: @display-font;
  font-size: @fine-print-font-size;
  font-weight: 600;
  line-height: 1.125;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  .font-smoothing(subpixel-antialiased);
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  padding: 10px 14px;
  display: block;
  .menu-item-inner:before { content: none; }
}

.menu-item-link(@color: @medium-text-color, @hover-color: @text-color) {
  display: block;
  background-color: @white;
  color: @color;
  .font(@display-font, 'bold', .75rem);
  text-transform: none;
  line-height: 1.8;
  letter-spacing: 0.12em;
  max-height: 100%;
  padding: 0.5rem 2rem 0.9rem;
  .font-smoothing(subpixel-antialiased);

  .menu-item-inner {
    position: relative;
  }

  &:hover {
    color: @hover-color;
    text-decoration: none;
  }

  &.active,
  &.active-trail {
    .menu-item-inner {

    }
  }
}

.subnav-item-link(@color: @text-color;) {
  .a--no-underline();
  display: block;
  color: @color;
  font-family: @display-font;
  font-size: @h5-size;
  line-height: @h5-line-height;
  font-weight: 200;
  text-decoration: none;

  &:hover {
    color: @brand-alt;
  }

  &.active {
    cursor: default;
    color: @brand-primary;
    font-weight: 400;
    .font-smoothing(subpixel-antialiased);
    &:hover {
      color: @brand-alt;
    }
  }
}

.fine-menu-link(@color:@white) {
  .a--no-underline();
  display: block;
  color: @color;
  text-transform: uppercase;
  letter-spacing: 0.09rem;
  font-size: @fine-print-font-size;
  line-height: 1.8;
  font-weight: normal;
  padding: 0.5625rem 0;
  position: relative;

  // tap target
  &:before {
    content: ' ';
    .abs(0,-1.125rem,0,-1.125rem);
  }
  &:after {
    content: ' ';
    color: inherit;
    .abs(0,auto,auto,0);
    width: 100%;
    border-top: 5px solid;
    border-color: inherit;
    opacity: 0;
    .trans(opacity);
  }

  &.active,
  &:hover {
    text-decoration: none;
    &:after {
      opacity: 1;
    }
  }
}


.footer-link {
  .menu-item-link();
  font-weight: 400;
  display: block;
  .font-smoothing();
}


a#main-content {
  .element-invisible;
}

div.contextual-links-wrapper a {
  display: none;
  border: none;
  padding: none;
  &.contextual-links-trigger-active {
    display: block;
  }
}
