
// Text
// ================================

// Give all of these things the base font size.
// Best leave body alone (so we can keep using 16 in rem calculations)
.node, .block, .entity, .field-collection, .view {
  font-size: @base-font-size;
  line-height: @base-line-height;
}


/* --- [ Wyysiwyg ] --------------- */

.wysiwyg-heading,
.wysiwyg-subheading {
  .margin-extremes-zero();
}
.wysiwyg-heading {
  .h2();
  margin-top: 2.5rem;
  + * {
    margin-top: .65rem;
  }
}
.wysiwyg-subheading {
  .h5();
  margin-top: 2.5rem;
  + * {
    margin-top: .65rem;
  }
}


/* --- [ Captions ] --------------- */

.caption-title {
  .h6();
  font-weight: 700;
}
.caption-body {
  .h6();
  font-weight: 600;
  line-height: 1.5;
}

.caption-title,
.caption-body {
  color: @medium-text-color;
}

.slide--counter:extend(.caption-title) {
  color: @white;
}

.image-field-caption {
  margin: 0;
  *:extend(.caption-body) {}
}
.flex-caption:extend(.caption-body) {
  strong:extend(.caption-title) {}
}
.video-embed-description:extend(.caption-body) {
  strong:extend(.caption-title) {}
  padding: 1rem 0 2rem;

  .resp(@tabletmax, {
    padding-left: 2rem;
    padding-right: 2rem;
  });

  .resp(@mobilemax, {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  });
}



/* --- [ Meta ] --------------- */

.meta {
  .h6();
  font-weight: bold;
  letter-spacing: normal;
  text-transform: normal;
}

[class*="meta"],
.field[class*="date"] {
  .meta();

  .date-display-range {
    display: inline-block;
  }

  table & {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;

    + a {
      .button();.tiny();
      display: inline-block;
      vertical-align: middle;
    }
  }
}
