// Titling
// ================================

#page-title {
  margin-top: 0;
  margin-bottom: 0;

  .title-special {
    .title-prefix {
      color: @brand-mono;
    }
  }

  .front & {
    + * {
      margin-top: 1.65rem;
    }
  }
}

.block-title-style(@title-color: @brand-primary-light) {
  .h2(@color: @title-color);
  margin-top: 0;

  .resp(@mobilemax, {
    .h2--small(@color: @title-color);
  });
}
.block-title {
  .block-title-style();
}

.block-title-style--small(@small-title-color: @brand-primary-light) {
  .block-title-style(@title-color: @small-title-color);
  .h4();
  margin-bottom: @gutter-width;
}


.bounded-title (
  @color: @brand-secondary;
  @bg-color: @brand-mono-light;
  ) {

  .type-style() {
    .h3();
    line-height: 1.4;
    color: @color;
    // margin: 0;

    .resp(@mobilemax, {
      font-size: @h4-small-font-size;
      line-height: 1.15;
    });
  }

  &, > .fieldset-legend { .type-style(); }
  > .fieldset-legend {
    margin: 0;
  }
  .h-overrides({
    .type-style();
    margin: 0;
  });

  text-align: center;
  .classic_mode({
    text-align: left;
    text-align: initial;
  });
  display: block;
  background-color: @bg-color;
  padding: .25rem 1rem 0;
  margin-top: 5.75rem;
  margin-bottom: 3.45rem;

  .classic_mode({
    padding: .625rem 1.25rem .5rem;
  });

  .resp-range(@mobilemax + 1,  @tabletmax, {
    padding-top: .35rem;
    margin-bottom: 2.9rem;
    .classic_mode({
      padding: .625rem 1.25rem .5rem;
    });
  });

  .resp(@mobilemax, {
    padding: .625rem 1rem .45rem;
    margin-bottom: 2.1rem;
    margin-top: 3.75rem;
    .classic_mode({
      padding: .625rem 1.25rem .5rem;
    });
  });

  &:first-child {
    margin-top: 0;
  }
}

.bounded-legend(
  @color: @brand-secondary;
  @bg-color: @brand-mono-light;
) {
  .bounded-title(@color, @bg-color);
  margin-bottom: 1rem;

  + .fieldset-wrapper {
    border: 2px solid @bg-color;
    position: relative;
    top: -1rem;
    padding: 1rem 1rem 1.25rem;
    .classic_mode({
      padding: 1.25rem 1.25rem 1.5rem;
    });
  }
}

.bounded-title--small (
  @color: @brand-secondary;
  @bg-color: @brand-mono-light;
) {
  .type-style() {
    .font(@heading-font; 'medium'; @h4-font-size);
    line-height: @h4-line-height;
    color: @color;
  }

  &, > .fieldset-legend { .type-style(); }
  > .fieldset-legend {
    margin: 0;
  }
  .h-overrides({
    .type-style();
    margin: 0;
  });

  display: block;
  background-color: @bg-color;
  padding: .5rem 1rem .4rem;
  margin-top: @gutter-width * 3;
  margin-bottom: @gutter-width * 2;

  &:first-child {
    margin-top: 0;
  }
}


.footer-block-title-style() {
  color: @white;
  font-size: @base-font-size;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: .12em;
  text-transform: uppercase;
  margin: 0;
  .font-smoothing(subpixel-antialiased);

  .classic_mode({
    text-transform: none;
  });
}


[class*="view-mode"] .ds-media .view > .title {
  .block-title-style();
}

.mobile-menu-block-title-style {
  margin-bottom: .95rem;
  padding-bottom: 0;
}


.section-heading() {
  .block-title-style();
  letter-spacing: .1em;
  margin-bottom: .75rem;
  text-transform: uppercase;
  border: none;
}

.field-label {
  .h3();
  padding-bottom: 0;
  margin-bottom: .4rem;
  border: none;
  color: @text-color;
}

.field-label-small {
  .h4();
  text-transform: uppercase;
  padding-bottom: 0;
  margin-bottom: .4rem;
  border: none;
  color: @text-color;
}

.form-wrapper ~ .field .field-label {
  color: @text-color;
}


.field-labeling() {
  .meta();
}