
// Videos
// ================================

.vid-wrapper,
.embedded-video .player {
  position: relative;
  padding-bottom: 56.25%;

  iframe {
    .abs-0();
    max-width: 100%;
    height: 100%;
    width: 100%;
  }
}

.embedded-video .ratio { display: none; }
