.media-object-and-body {
}

.ds-media {
  display: block;
  font-size: 0;
}
.ds-media > * {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  width: 33%;
  box-sizing: border-box;
}

.ds-media img {
  display: block;
  max-width: 100%;
  height: auto;
}
