
// Colors
// ================================

@white:                                     #FFFFFF;
@black:                                     #000000;

@dark-gray:                                 #434343;
@gray:                                      #8E8E8E;
@medium-gray:                               #E2E2E2;
@light-gray:                                #F5F5F5;
@ash:                                       #F2F2F2;
@smoke:                                     #FEFEFE;


@medium-red:                                #FF3300;
@red:                                       @medium-red;

@medium-green:                              #9DCD50;
@light-green:                               #F8FFF0; // Drupal
@light-green:                               #E9F5C9;
@green:                                     @medium-green;

@medium-blue:                               #016FA8;
@light-blue:                                #2DAAE1;
@blue:                                      @medium-blue;
@dark-blue:                                 darken(@blue, 10%);

@teal:                                      #00B4AD;

@light-yellow:                              #FAF5BB;
@yellow:                                    @light-yellow;



// Social Brand Colors

@brand-facebook:                            #3B5998;
@brand-twitter:                             #55ACEE;
@brand-linkedin:                            #0077B5;
@brand-gplus:                               #DD4B39;



// Color Placeholders
// ================================

@brand-primary:                             @blue;
@brand-primary-light:                       @light-blue;
@brand-primary-dark:                        @dark-blue;
@brand-secondary:                           @teal;
@brand-neutral:                             @medium-gray;
@brand-action:                              @green;

@brand-mono-dark:                           @dark-gray;
@brand-mono-medium:                         @medium-gray;
@brand-mono-light:                          @light-gray;
@brand-mono-lightest:                       @ash;
@brand-mono:                                @gray;

@brand-dim:                                 @brand-mono-medium;


@brand-success:                             @green;
@brand-success--light:                      @light-green;

@brand-info:                                @brand-mono-light;

@brand-notification:                        @yellow;
@brand-warning:                             @yellow;

@brand-danger:                              @red;
@brand-danger--light:                       #FEF5F1;
@brand-error:                               @red;
@brand-error--light:                        @brand-danger--light;


/* --- [ Text ] --------------- */

@faint-text-color:                          @gray;
@medium-text-color:                         #7E7E7E;
@dark-text-color:                           @dark-gray;

@text-color:                                @dark-text-color;
@contrast-text-color:                       @white;
@contrast-heading-color:                    @white;



/* --- [ Backgrounds ] --------------- */

@faint-bg:                                  @brand-neutral;
@medium-bg:                                 @brand-secondary;
@dark-bg:                                   @brand-primary;

@darkest-bg:                                @dark-gray;

@viewport-bg-color:                         @white;
@viewport-text-color:                       @text-color;

@page-bg:                                   @white;
@page-text:                                 @text-color;

@billboard-bg:                              @brand-primary;

@contrast-bg:                               @brand-mono;
@contrast-shade-bg:                         @black;
@contrast-tint-bg:                          @brand-mono;



/* --- [ Rules and Borders ] --------------- */

@hr-color:                                  @brand-neutral;
@hr-color-contrast:                         @brand-mono;

@section-break-color:                       @hr-color;
@section-break-color-contrast:              @medium-text-color;
