/* --- [ Typography ] --------------- */

// Myriad Pro
// via Typekit

// PT Sans
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');


/* --- [ Typography ] --------------- */

// Typefaces
// ================================

@display-font-stack: 'myriad-pro', 'Myriad Pro', 'PT Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
@heading-font-stack: 'myriad-pro', 'Myriad Pro', 'PT Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
@default-font-stack: 'myriad-pro', 'Myriad Pro', 'PT Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

@display-font: @display-font-stack;
@heading-font: @heading-font-stack;
@base-font: @default-font-stack;


// Font Mixins
// ================================
.font(@font-class, @weight, @size: true) {
  font-family: @font-class;
  & when (@weight = 'black'), (@weight = 900) {
    font-weight: 900;
  }
  & when (@weight = 'bold'), (@weight = 700) {
    font-weight: 700;
  }
  & when (@weight = 'semi-bold'), (@weight = 600) {
    font-weight: 600;
  }
  & when (@weight = 'medium'), (@weight = 500) {
    font-weight: 500;
  }
  & when (@weight = 'normal'), (@weight = 400) {
    font-weight: 400;
  }
  & when (@weight = 'light'), (@weight = 300) {
    font-weight: 300;
  }
  & when (@weight = 'thin'), (@weight = 200) {
    font-weight: 200;
  }
  & when not (@size) {
    // When size is supplied
    // See: < http://lesscss.org/features >
    // "Any value other than the keyword true is falsy"
    font-size: @size;
  }
}


._fonts() {

  // Defaults
  .return() {
    // Base Font size
    // ================================

    @base-font-size: 16px;
    @base-line-height: 2;

    @mobile-base-font-size: @base-font-size;
    @mobile-base-line-height: @base-line-height;

    @caption-font-size: @h6-font-size;
    @caption-line-height: @h6-line-height;

    @fine-print-font-size: .875rem;
    @fine-print-line-height: 1.917;

    @larger-font-size: 1.125rem;


    // ma_th baseline overlay
    // ================================

    @baseline: @base-font-size * @base-line-height;


    // Headings
    // ================================
    //
    @h1-font-size: 3.75rem; // 60px
    // @h1-font-size: 2.39rem; // 38.24px
    @h1-line-height: 1.1;
    @h1-small-font-size: 2.6rem;
    @h1-small-line-height: 1.1;

    @page-title-font-size: @h1-font-size;
    @page-title-line-height: @h1-line-height;

    @h2-font-size: 3rem; // 48px
    @h2-line-height: 1.15;
    @h2-small-font-size: 1.875rem; // 30px
    @h2-small-line-height: 1;

    @h3-font-size: 1.875rem; // 30px
    @h3-line-height: 1.6;
    @h3-small-font-size: 1.5rem; // 24px
    @h3-small-line-height: 1.6;

    @h4-font-size: 1.3125rem; // 21px
    @h4-line-height: 1.4;
    @h4-small-font-size: 1.125rem;
    @h4-small-line-height: 1.3;

    @h5-font-size: 1rem; // 16px
    @h5-line-height: 1.5;
    @h5-small-font-size: 1rem;
    @h5-small-line-height: 1.5;

    @h6-font-size: .875rem; // 14px
    @h6-line-height: 1.5;


    @bullet-font-size: @h3-font-size;
    @bullet-line-height: 1;
  }

  // Classic Mode Override
  .return() when (@classic_mode = true) {
    @h2-font-size: 2rem; // 32px
    @h2-line-height: 1.15;
    @h2-small-font-size: 2rem; // 32px
    @h2-small-line-height: 1.15;

    @h3-font-size: 1.25rem; // 20px
    @h3-line-height: 1.15;
    @h3-small-font-size: 1.125rem; // 18px
    @h3-small-line-height: 1;
    @h3-small-line-height: 1.34; // CSECVRP-180: h3 in PFP block too
                                 // tight on mobile

    @h4-font-size: 1.125rem; // 18px
    @h4-line-height: 1.15;
    @h4-small-font-size: 1.125rem; //18px
    @h4-small-line-height: 1.5;
  }

  // Return call
  .return();
}

// Fonts function call
._fonts();