
// Icons
// ================================
@iconsdir: '../images/icons/';

.remove-inline-icon() {
  padding-left: 0;
  &:before {
    content: none;
  }
}


.icon-set(@glyph,@color) {
  @icon: '@{glyph}--@{color}';
}
.icon-hover(@glyph,@color) {
  @icon-hover: '@{glyph}--@{color}';
}

//  Example
// .icon-set(radio-dot, purple);
// .test {
//   .icon-set(radio-dot, teal);
//   prop: @@icon;
// }
// .test2 {
//   prop: @@icon;
// }


._icons() {

  // Defaults
  .return() {
    // Search Icon
    @search: url("@{iconsdir}search.svg");
    @search--gray: url("@{iconsdir}search--gray.svg");
    @search--mono: @search--gray;
    @search--white: url("@{iconsdir}search--white.svg");
    @search--teal: url("@{iconsdir}search--teal.svg");



    // Arrow icons Circled

    @arrow-up-circled: url("@{iconsdir}arrow-up-circled.svg");
    @arrow-right-circled: url("@{iconsdir}arrow-right-circled.svg");
    @arrow-down-circled: url("@{iconsdir}arrow-down-circled.svg");
    @arrow-left-circled: url("@{iconsdir}arrow-left-circled.svg");

    @arrow-up-circled--white: url("@{iconsdir}arrow-up-circled--white.svg");
    @arrow-right-circled--white: url("@{iconsdir}arrow-right-circled--white.svg");
    @arrow-down-circled--white: url("@{iconsdir}arrow-down-circled--white.svg");
    @arrow-left-circled--white: url("@{iconsdir}arrow-left-circled--white.svg");


    // Arrow icons

    @arrow-left: url("@{iconsdir}arrow-left.svg");
    @arrow-left--blue: url("@{iconsdir}arrow-left--blue.svg");


    @arrow-right: url("@{iconsdir}arrow-right.svg");
    @arrow-right--blue: url("@{iconsdir}arrow-right--blue.svg");


    @arrow-up: url("@{iconsdir}arrow-up.svg");
    @arrow-up--blue: url("@{iconsdir}arrow-up--blue.svg");


    @arrow-down: url("@{iconsdir}arrow-down.svg");
    @arrow-down--white: url("@{iconsdir}arrow-down--white.svg");
    @arrow-down--blue: url("@{iconsdir}arrow-down--blue.svg");



    @close-x: url("@{iconsdir}close-x.svg");
    @close-x--black: url("@{iconsdir}close-x--black.svg");
    @close-x--gray: url("@{iconsdir}close-x--gray.svg");

    @small-x: url("@{iconsdir}small-x.svg");
    @small-x--white: url("@{iconsdir}small-x--white.svg");

    // Checkmark
    @checkmark--white: url("@{iconsdir}checkmark--white.svg");

    // Radio Dot
    @radio-dot: url("@{iconsdir}radio-dot.svg");
    @radio-dot--white: url("@{iconsdir}radio-dot--white.svg");
    @radio-dot--blue: url("@{iconsdir}radio-dot--blue.svg");


    // Triple Dots
    @triple-dots: url("@{iconsdir}triple-dots.svg");
    @triple-dots--white: url("@{iconsdir}triple-dots--white.svg");


    @download: url("@{iconsdir}download.svg");
    @download--mono: url("@{iconsdir}download--mono.svg");
    @download--blue: url("@{iconsdir}download--blue.svg");


    @envelope--white: url("@{iconsdir}envelope--white.svg");


    @link: url("@{iconsdir}link.svg");



    @share-facebook--mono: url("@{iconsdir}share-facebook--mono.svg");

    @share-twitter--mono: url("@{iconsdir}share-twitter--mono.svg");

    @share-mail--mono: url("@{iconsdir}share-mail--mono.svg");


    @twitterbird: url("@{iconsdir}twitterbird.svg");
    @twitterbird--white: url("@{iconsdir}twitterbird--white.svg");
  }

  // Classic Mode Override
  .return() when (@classic_mode = true) {
    // Arrow icons

    @arrow-left: url("@{iconsdir}arrow-left--classic--gray.svg");
    @arrow-left--blue: url("@{iconsdir}arrow-left--classic--blue.svg");


    @arrow-right: url("@{iconsdir}arrow-right--classic--gray.svg");
    @arrow-right--blue: url("@{iconsdir}arrow-right--classic--blue.svg");


    @arrow-up: url("@{iconsdir}arrow-up--classic--gray.svg");
    @arrow-up--blue: url("@{iconsdir}arrow-up--classic--blue.svg");


    @arrow-down: url("@{iconsdir}arrow-down--classic--gray.svg");
    @arrow-down--white: url("@{iconsdir}arrow-down--classic--white.svg");
    @arrow-down--blue: url("@{iconsdir}arrow-down--classic--blue.svg");


    @small-x: url("@{iconsdir}small-x.svg");
    @small-x--white: url("@{iconsdir}small-x--white.svg");

  }

  // Return call
  .return();
}

// Icons function call
._icons();
