
// ma_th Utils
._baseline { height: @baseline; }
.hasLocalCSS {
  position: relative;

  [id^="__lpform"] {
    display: none;
  }
}
.baselineOverlay {
  position: absolute;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to top, fade(cyan, 50%) 0, transparent 1px, transparent 100%);
  background-size: @baseline @baseline;
}

.gridOverlay {
  // TODO
  position: absolute;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 150;

  padding: 0 3.25rem;
  .resp(@mamabear, { padding: 0 2.625rem; });
  .resp(@tabletmax, { padding: 0 1.875rem; });
  .resp(@mobilemax, { padding: 0 1rem; });
  // needed by themerhelper to create gridOverlay
  min-width: unit(@columns,px);

  > .inner {
    display: block;
    max-width: 1180px;
    margin: 0 auto;
    height: 100%;
  }

  .l-grid-container {
    #grid();.make(); // See: grid.less
    height: 100%;
    .grid-unit {
      .span(1);
      outline: 1px dotted fade(@black, 10%);

      &__inner {
        display: block;
        height: 100%;
        background: fade(indigo, 7.5%);
        position: relative;

        &:before {
          content: ' ';
          .abs(0,auto,0,50%);
          border-left: 1px dashed fade(@black, 25%);
        }
      }
    }
  }

}