
// Media Queries
// ================================

@mobilemax: 480px;
@babybear: 640px;
@tabletmax: 900px;
@goldilocks: 1160px;
@mamabear: 1200px;
@papabear: 1400px;
@ursus: 1600px;
@tablesaw: @tabletmax;


// Responsive
// ================================

.resp(@maxWidth; @rules) {
  @media only screen and (max-width: @maxWidth) {
    @rules();
  }
}
.resp-min(@minWidth; @rules) {
  @media only screen and (min-width: @minWidth) {
    @rules();
  }
}
.resp-range(@minWidth; @maxWidth; @rules) {
  @media only screen and (min-width: @minWidth) and (max-width: @maxWidth) {
    @rules();
  }
}
.resp-height(@maxHeight; @rules) {
  @media only screen and (max-height: @maxHeight) {
    @rules();
  }
}



// JS Breaks
// ================================
.generate_fake(@name) {
  &@{name} {
    &:before { content: %('%d', @@name); } // Must be string
  }
}

.js-breaks__ {
  .generate_fake(mobilemax);
  .generate_fake(babybear);
  .generate_fake(tabletmax);
  .generate_fake(goldilocks);
  .generate_fake(mamabear);
  .generate_fake(papabear);
  .generate_fake(tablesaw);
  .generate_fake(ursus);
}
