
/* --- [ Reusable Styles ] --------------- */

// Clearly (Micro-Clearfix)
// ================================

.clearly {
  // http://nicolasgallagher.com/micro-clearfix-hack/
  zoom:1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after { clear: both; }
}

.cf,
.clearfix {
  .clearly;
}


// Stop Body Scroll
// ================================
// Use this only on body

.stop-body-scroll {
  overflow: hidden;
  height: 100vh;
}
.stop-body-scroll(@body-class) {
  &@{body-class} {
    overflow: hidden;
    height: 100vh;
  }
}



// For utility
// ================================

.for(@i, @n) {.-each(@i)}
.for(@n)     when (isnumber(@n)) {.for(1, @n)}
.for(@i, @n) when not (@i = @n)  {
    .for((@i + (@n - @i) / abs(@n - @i)), @n);
}

.for(@array)   when (default()) {.for-impl_(length(@array))}
.for-impl_(@i) when (@i > 1)    {.for-impl_((@i - 1))}
.for-impl_(@i) when (@i > 0)    {.-each(extract(@array, @i))}



// Margin Extremes Zero
// ================================
.margin-extremes-zero() {
  &:first-child { margin-top: 0; }
  &:last-child { margin-bottom: 0; }
}



// Gradients
// ================================

.vert-grad(@start,@end) {
  @argbstart: argb(@start);
  @argbend: argb(@end);
  background: @end;
  background: -moz-linear-gradient(top,  @start 0%, @end 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@start), color-stop(100%,@end));
  background: -webkit-linear-gradient(top,  @start 0%,@end 100%);
  background: -o-linear-gradient(top,  @start 0%,@end 100%);
  background: -ms-linear-gradient(top,  @start 0%,@end 100%);
  background: linear-gradient(to bottom,  @start 0%,@end 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@{argbstart}', endColorstr='@{argbend}',GradientType=0 );
}

.horiz-grad(@start,@end) {
  @argbstart: argb(@start);
  @argbend: argb(@end);
  background: @start;
  background: linear-gradient(to right, @start 0%,@end 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@{argbstart}', endColorstr='@{argbend}',GradientType=1 );
}


.headings-no-margins() {
  h1, h2, h3, h4, h5, h6 { margin: 0; }
}


// Text transformations
// ================================

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.normalcase {
  text-transform: none;
  letter-spacing: normal;
}



// Text shadow
// ================================

.text-shadow(@arguments) {
  text-shadow+: @arguments;
}
#text-shadow {
  &.extrude-soft {
    text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.46);
  }
  &.extrude-hard {
    text-shadow: 0 1px 0px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.1625), 0 2px 3px rgba(0, 0, 0, .125), 0 -1px 1px rgba(0, 0, 0, .06);
  }
}


// Box shadow
// ================================

.box-shadow(@arguments) {
  box-shadow+: @arguments;
}

.box-shadow--subtle() {
  .box-shadow(0 1rem 3.4rem -1rem fade(@black,10%));
  .box-shadow(0 1px 5px 1px fade(@black,5%));
}
.box-shadow--dramatic() {
  .box-shadow(0 0 6px -2px fade(@black, 25%));
  .box-shadow(0 1px 0 0px fade(@black,5%));
  .box-shadow(0 1rem 3.4rem -1rem fade(@black,20%));
}


// Transformations
// ================================
.transform(@value) {
  transform+_: @value;
}
.t-x(@value) {
  transform+_: translateX(@value);
}
.t-y(@value) {
  transform+_: translateY(@value);
}
.t-rot(@value) {
  transform+_: rotate(@value);
}
.t-scale3d(@value) {
  transform+_: scale3d(@value);
}


// Transition
// ================================

.trans(@prop:all, @time:240ms, @mode:ease, @delay:0ms) {
  & when not (@prop = none) {
    transition+: @prop @time @mode @delay;
  }
  & when (@prop = none) {
    transition: none;
  }
}


// Positioning
// ================================

.abs(@top:auto; @right:auto; @bottom:auto; @left:auto) {
  position: absolute;
  top: @top;
  right: @right;
  bottom: @bottom;
  left: @left;
}
.abs-0 {
  .abs(0, 0, 0, 0);
}

.rel-auto {
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}

// Font Smoothing
// ================================

.font-smoothing(@mode:antialiased) {
  -webkit-font-smoothing:@mode;
  & when (@mode = antialiased) {
    -moz-osx-font-smoothing: grayscale;
  }
  & when (@mode = subpixel-antialiased) {
    -moz-osx-font-smoothing: auto;
  }
}


// Placeholder
// ================================

.placeholder(@rules) {
  &::-webkit-input-placeholder { @rules(); }
  &:-moz-placeholder { @rules(); }
  &::-moz-placeholder { @rules(); }
  &:-ms-input-placeholder { @rules(); }
}


// Element Invisible
// ================================

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  margin: 0 !important;
  padding: 0 !important;
}


// Inline Block Gap Killer
// ================================
.IB-gapfree(@selector: ~"> *", @align: middle) {
  letter-spacing: -1em;
  @{selector} {
    letter-spacing: normal;
    display: inline-block;
    vertical-align: @align
  }
}


// Positioning
// ================================

.abs-edges(@offset:0) {
  position: absolute;
  top: @offset;
  bottom: @offset;
  left: @offset;
  right: @offset;
}

.abs-reset(@pos: static) {
  position: @pos;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}


// Make Grid
// ================================

.prep-inline-grid() {
  letter-spacing: -1em;
  > * { letter-spacing: normal; }
}

.makeGrid( @gridItems ; @gutter ; @cols ) {
  @length: length( @gridItems );
  @width: 100% / @cols;

  @gutter-unit: '';
  @gutter-top: '';
  @gutter-right:  '';
  @gutter-bottom: '';
  @gutter-left: '';
  @gutter-vert: '';
  @gutter-horiz: '';
  @margins: '';
  @padding: '';


  // 1
  .margins() when ( length(@gutter) = 1 ) {
    @gutter-unit: @gutter/2;
    margin: -1 * @gutter-unit;
  }
  .padding() when ( length(@gutter) = 1 ) {
    @gutter-unit: @gutter/2;
    @padding: @gutter-unit;
  }

  // 2
  .margins() when ( length(@gutter) = 2 ) {
    @gutter-vert: extract(@gutter, 1) / 2;
    @gutter-horiz: extract(@gutter, 2) / 2;
    margin: (-1 * @gutter-vert) (-1 * @gutter-horiz) ;
  }
  .padding() when ( length(@gutter) = 2 ) {
    @gutter-vert: extract(@gutter, 1) / 2;
    @gutter-horiz: extract(@gutter, 2) / 2;
    @padding: @gutter-vert @gutter-horiz;
  }

  // 3
  .margins() when ( length(@gutter) = 3 ) {
    @gutter-top: extract(@gutter, 1) / 2;
    @gutter-horiz: extract(@gutter, 2) / 2;
    @gutter-bottom: extract(@gutter, 3) / 2;
    margin: (-1 * @gutter-top) (-1 * @gutter-horiz) (-1 * @gutter-bottom);
  }
  .padding() when ( length(@gutter) = 3 ) {
    @gutter-top: extract(@gutter, 1) / 2;
    @gutter-horiz: extract(@gutter, 2) / 2;
    @gutter-bottom: extract(@gutter, 3) / 2;
    @padding: @gutter-top @gutter-horiz @gutter-bottom;
    @margins: (-1 * @gutter-top) (-1 * @gutter-horiz) (-1 * @gutter-bottom);
  }

  // 4
  .margins() when ( length(@gutter) = 4 ) {
    @gutter-top: extract(@gutter, 1) / 2;
    @gutter-right: extract(@gutter, 2) / 2;
    @gutter-bottom: extract(@gutter, 3) / 2;
    @gutter-left: extract(@gutter, 4) / 2;
    margin: (-1 * @gutter-top) (-1 * @gutter-right) (-1 * @gutter-bottom) (-1 * @gutter-left);
  }
  .padding() when ( length(@gutter) = 4 ) {
    @gutter-top: extract(@gutter, 1) / 2;
    @gutter-right: extract(@gutter, 2) / 2;
    @gutter-bottom: extract(@gutter, 3) / 2;
    @gutter-left: extract(@gutter, 4) / 2;
    @padding: @gutter-top @gutter-right @gutter-bottom @gutter-left;
    @margins: (-1 * @gutter-top) (-1 * @gutter-right) (-1 * @gutter-bottom) (-1 * @gutter-left);
  }

  letter-spacing: -1em;
  .margins();

  @import "lib/for";

  .for(@gridItems);.-each(@item) {
    @{item} {
      .padding();
      letter-spacing: normal;
      display: inline-block;
      width: @width;
      vertical-align: top;
      padding: @padding;
    }
  }
}


// CSS Colums
// ================================
//
.CSSColumns(@colcount: 2; @gap: 60px; @items: ~'> *'; @rules) {
  columns: @colcount;
  column-gap: 60px;
  line-height: 0;
  font-size: 0;

  @{items} {
    display: inline-block;
    vertical-align: top;
    line-height: normal;
    line-height: initial;
    font-size: 100%;
    font-size: initial;
    @rules();
  }
}



// Toggle
// ================================

#ma-toggle() {

  .X-standalone() {
    border-bottom-color: transparent;
    .text {
      position: relative;
      &:before, &:after {
        display: inline-block;
        width: 100%;
        max-width: 1.2rem;
        height: 3px;
        background: @white;
        opacity: 0;
        position: absolute;
        left: 50%;
        content: '';
        transform-origin: center;
        margin-top: -.1rem;
        .transform(translateX(-50%));
        .transform(translateY(-50%));
        transition: transform 150ms ease, top 150ms ease, color 150ms ease;
      }
      &:before { top: 50%; }
      &:after { top: 50%; }
    }
   &.isOpen .text {
      background-color: transparent;
      box-shadow: none;
      color: transparent;
      &:before,
      &:after {
        opacity: 1;
        box-shadow: none;
        height: 3px;
      }
      &:before {
        top: 50%;
        .transform(translateX(-50%));
        .transform(translateY(-50%));
        .transform(rotate(-45deg));
      }
      &:after {
        top: 50%;
        .transform(translateX(-50%));
        .transform(translateY(-50%));
        .transform(rotate(45deg));
      }
    }
  }

  .hamburger-menu {
    background: transparent;
    transition: background-color 150ms ease;
    cursor: pointer;

    &:hover { background: transparent; }
    &:focus { outline: none; }

    .text {
      display: inline-block !important;
      vertical-align: middle;
      width: 1.375rem;
      height: 3px;
      background: @white;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      text-indent: -9999px;
      transition: background-color 150ms ease;

      &:before, &:after {
        display: inline-block;
        width: 100%;
        height: 3px;
        background: @white;
        position: absolute;
        left: 0;
        content: '';
        transform-origin: center;
        transition: transform 150ms ease, top 150ms ease, color 150ms ease;
      }
      &:before { top: 8px; }
      &:after { top: -8px; }
    }
    .X-STYLE() {
      border-bottom-color: transparent;
      .text {
        background-color: transparent;
        box-shadow: none;
        &:before,
        &:after {
          opacity: 1;
          box-shadow: none;
          height: 3px;
        }
        &:before {
          top: 0;
          transform: rotate(-45deg);
        }
        &:after {
          top: 0;
          transform: rotate(45deg);
        }
      }
    }
    &.isOpen {
      .X-STYLE();
    }
  }

  .search-menu(@display: inline-block; ) {
    position: relative;
    background: transparent;
    transition: background-color 150ms ease;
    display: @display;
    vertical-align: middle;
    cursor: pointer;

    &:before, &:after {
      content: ' ';
      .abs-0();
      height: auto;
      display: inline-block;
      text-indent: -9999px;
      background: transparent center no-repeat;
      background-size: 1.35rem auto;
      background-position: center;
      opacity: 1;
      line-height: 2;
      .trans(opacity);
    }
    &:before {
      background-image: @search--white;
      opacity: 1;
    }
    &:after {
      background-image: @search--purple;
      opacity: 0;
    }

    &:hover {
      background: transparent;
      &:before { opacity: 0; }
      &:after { opacity: 1; }
    }
    &:focus { outline: none; }

    .text {
      width: 1.5rem;
      height: auto;
      display: inline-block;
      text-indent: -9999px;
      opacity: 1;
      line-height: 2;
      position: relative;
      .trans(opacity);
      .trans(background-size);
      &:before, &:after {
        display: inline-block;
        width: 1.5rem;
        height: 3px;
        background: @white;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        content: '';
        transform-origin: center;
        opacity: 0; // Don't show bars
        .trans(transform, 150ms, ease);
        .trans(top, 150ms, ease);
        .trans(color, 150ms, ease);
        .trans(background, 150ms, ease);
        .trans(opacity);
      }
      &:before,
      &:after { top: 50%; }
    }

    .X-STYLE() {
      .text {
        background-color: transparent;
        box-shadow: none;
        background-size: 0;
        opacity: 1;
        .trans(opacity);
        .trans(background-size);
        &:before,
        &:after {
          opacity: 1;
          box-shadow: none;
          height: 3px;
        }
        &:before {
          .t-y(-50%);
          .t-rot(-45deg);
        }
        &:after {
          .t-y(-50%);
          .t-rot(45deg);
        }
      }
    }

    &.isOpen {
      &:before, &:after { opacity: 0; }
      .X-STYLE();
    }
  }

  .accordionSwitch(@icon: @arrow-down) {
    position: relative;
    padding-right: 3.125rem;
    cursor: pointer;

    .toggle {
      display: block;
      .abs(0,0,0, auto);
      font-size: @caption-font-size;
      padding: 0;
      width: 3.125rem;
      background-image: @icon;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 1rem;
      .trans();

      &.isClosed {
        transform: scale3d(1,1,1);
      }
      &.isOpen {
        transform: scale3d(1,-1,1);
      }

      &:hover {
        cursor: pointer;
      }

      .text {
        .element-invisible();
        display: block;
        height: 100%;
      }
    }
  }

  .switch-desktop-hide {
    display: none;
    border-radius: 0;
    text-align: center;
    .text {
      display: none;
    }
  }

  .pane(@position: relative) {
    transform-origin: top center;
    .trans(transform 100ms ease 0ms);
    .trans(padding 100ms ease 0ms);
    .trans(opacity 100ms ease 0ms);
    position: @position;
    z-index: 1;

    &.isOpen {
      height: auto;
      transform: scale3d(1,1,1);
      opacity: 1;
    }
    &.isClosed {
      height: 0;
      transform: scale3d(1, 0, 0);
      padding-top: 0;
      padding-bottom: 0;
      border: none;
      opacity: 0;
    }
  }

  .flip-pane {
    backface-visibility: hidden;
    transform-origin: center;
    z-index: 40;
    .trans(transform, 200ms, ease, 0ms);
    .trans(opacity, 100ms, ease, 0ms);

    &.isOpen {
      opacity: 1;
      .transform(perspective(1000px));
      .transform(translateY(0));
      .transform(rotateX(0deg));
    }
    &.isClosed {
      opacity: 0;
      .transform(perspective(1000px));
      .transform(translateY(0));
      .transform(rotateX(-90deg));
      .trans(transform, 200ms, ease, 0ms);
      .trans(opacity, 100ms, ease, 100ms);
      .trans(max-height, 0ms, linear, 200ms);
    }
  }
}


// Inline Icons
// ================================

.icon-before(@icon, @icon-hover:@icon, @size:1rem, @absolute:true) {
  position: relative;
  padding-left: @size * 2.9;
  .text {
    position: relative;

    &:before, &:after {
      content: ' ';
      position: absolute;
      left: @size * -1.45;
      top: 0;
      right: auto;
      display: block;
      background-repeat: no-repeat;
      background-position: top left;
      background-size: @size @size;
      width: @size;
      height: @size;
      .trans(opacity);
    }
    &:before {
      opacity: 1;
      background-image: @icon;
    }
    &:after {
      opacity: 0;
      background-image: @icon-hover;
    }
  }

  &:hover {
    .text {
      &:before { opacity: 0; }
      &:after { opacity: 1; }
    }
  }

  & when (@absolute = false) {
    padding-left: 0;
    display: table;
    width: 100%;

    .text {
      display: table-cell;
      vertical-align: middle;
      padding-left: @size / 2;
    }
    &:before {
      position: static;
      display: table-cell;
      vertical-align: middle;
    }
    &:after {
      left: 0;
    }
  }
}

.icon-inline-after(@icon, @size:1rem) {
  padding-right: @size;
  &:after {
    content: ' ';
    display: inline-block;
    background-image: @icon;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    width: @size * 1.125;
    height: @size * 1.125;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.icon-above(@icon, @padding: 3rem) {
  position: relative;
  padding: 0;
  padding-top: @padding;
  display: block;

  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    background-image: @icon;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: @padding;
    height: @padding;
  }
}


.icon-bg(@icon; @size:1rem; @pos: @size/2 center) {
  position: relative;
  padding-left: @size*2;
  background-image: @icon;
  background-repeat: no-repeat;
  background-position: @pos;
  background-size: @size @size;
}


.remove-inline-icon() {
  padding-left: 0;
  &:before {
    content: none;
  }
}


// Hover Pseudos

.hover-pseudos(@default; @hover; @width; @bg-size;) {
  position: relative;

  &:before, &:after {
    content: ' ';
    background-repeat: no-repeat;
    background-position: center;
    background-size: @bg-size;
    .trans(opacity);
    width: @width;
    .abs(0,auto,0,1.5rem);
    .resp-min(@tabletmax + 1, {
      .abs(0,auto,0,0);
    });
    .resp(@mobilemax, {
      .abs(0,auto,0,.3rem);
    });
  }

  &:before {
    background-image: @default;
    opacity: 1;
  }
  &:after {
    background-image: @hover;
    opacity: 0;
  }
  &:hover {
    &:before { opacity: 0; }
    &:after { opacity: 1; }
  }
}


// Hover Pseudos

.contrast-pseudos(@default; @hover; @width: 3.125rem; @bg-size;) {
  position: relative;
  @default-field: transparent;
  @hover-field: transparent;
  @height: @width;

  &:before, &:after {
    content: ' ';
    .abs(0,auto,auto,1.5rem);
    background-repeat: no-repeat;
    background-position: center;
    background-size: @bg-size;
    border-radius: 2000rem;
    width: @width;
    height: @height;
    .trans(opacity, 300ms ,ease-in);

    .resp(@tabletmax, {
      .abs(.15rem,auto,auto,.3rem);
    });
    .resp-min(@tabletmax + 1, {
      .abs(.15rem,auto,auto,0);
    });
  }

  &:before {
    background-color: @default-field;
    background-image: @default;
    opacity: 1;
  }
  &:after {
    background-color: @hover-field;
    background-image: @hover;
    opacity: 0;
  }
  &:hover {
    &:before, &:after {
      .trans(opacity, 300ms ,ease);
    }
    &:before { opacity: 1; }
    &:after { opacity: 1; }
  }
}
