
// ================================
// CVRP
// ================================

@classic_mode: true;
// @classic_mode: false;
// Set to true for CVRP Classic styling
// Set to false for CVRP Classic styling

.classic_mode(@rules) {
  & when (@classic_mode = true) {
    @rules();
  }
}

.theme_mode {
  // used by global.js to switch js generated elements
  &:before { content: 'default'; } // Must be string
  & when (@classic_mode = true) {
    &:before { content: 'classic'; } // Must be string
  }
}


// Inits
// ================================

/* --- [ Variables and Mixins ] --------------- */
@import "_MQs";
@import "_fonts";
@import "_colors";
@import "_icons";
@import "_utils";
@import "_keyframes";

/* --- [ Contains Baseline Tool CSS ] --------------- */
@import "_ma_th";



// Base
// ================================

/* --- [ Normalize ] --------------- */
@import (inline) "../vendor/normalize.css";

/* --- [ Owl Carousel ] --------------- */
@import (inline) "../vendor/owl.carousel.css";

/* --- [ Base Styles ] --------------- */
@import "base/defaults";



// Layout
// ================================

/* --- [ utility ] --------------- */
@import 'layout/grid';
@import 'layout/white-space';

@import 'layout/break-dancing';



// Atoms
// ================================

/* --- [ Titling ] --------------- */
@import "atoms/titling";

/* --- [ Text ] --------------- */
@import "atoms/text";

/* --- [ Buttons ] --------------- */
@import "atoms/buttons";

/* --- [ Links ] --------------- */
@import "atoms/links";

/* --- [ Forms ] --------------- */
@import "atoms/forms";

/* --- [ Tables ] --------------- */
@import "atoms/tables";

/* --- [ Chosen ] --------------- */
@import "atoms/chosen";

//* --- [ Semanitic UI overrides ] --------------- */
//@import "atoms/semantic-ui-overrides";

/* --- [ Video ] --------------- */
@import "atoms/video";

/* --- [ Fields ] --------------- */
@import "atoms/fields";




// Components
// ================================

/* --- [ Menus ] --------------- */
@import 'components/menus';

/* --- [ Standard Pager Styling ] --------------- */
@import 'components/pager';

/* --- [ Flexslider ] --------------- */
@import 'components/flexslider';

/* --- [ Block Logo ] --------------- */
@import 'components/logo';

/* --- [ Block Logo ] --------------- */
@import 'components/site-name';

/* --- [ Dropdown filters ] --------------- */
@import 'components/dropdown-filters';

/* --- [ Autocomplete ] --------------- */
@import 'components/autocomplete';

/* --- [ References Dialog ] --------------- */
@import 'components/references-dialog';

/* --- [ Date Picker ] --------------- */
@import 'components/date-picker';

/* --- [ Views Table] --------------- */
@import 'components/views-table';

/* --- [ Share Links ] --------------- */
//@import 'components/share-links';

//  --- [ Footer Social ] ---------------
@import 'components/footer-social';

/* --- [ Sidebar Social ] --------------- */
//@import 'components/sidebar-social';

/* --- [ Progress ] --------------- */
@import "components/progress";

/* --- [ Workbench ] --------------- */
@import 'components/workbench';

/* --- [ Block Rebate Dasboard Steps bar ] --------------- */
@import 'components/block-rebate-dashboard';

/* --- [ Choose Vehicle Model ] --------------- */
@import 'components/choose-vehicle-model';

/* --- [ Highcharts ] --------------- */
@import 'components/highcharts';

/* --- [ Stackable Incentive Form ] --------------- */
@import 'components/stackable-incentive-form';


// Molecules
// ================================

/* --- [ Header Menu ] --------------- */
@import 'molecules/header-menu';

/* --- [ Header Search Form ] --------------- */
@import 'molecules/block-search-form';

/* --- [ Admin Tabs ] --------------- */
@import 'molecules/admin-tabs';

/* --- [ Messages ] --------------- */
@import 'molecules/messages';

/* --- [ View Modes ] --------------- */
@import 'molecules/view-modes';

/* --- [ Search Results  ] --------------- */
//@import 'molecules/search-results.less';



// Organisms
// ================================

/* --- [ Masthead ] --------------- */
@import 'organisms/masthead';

/* --- [ Preface ] --------------- */
@import 'organisms/preface';

/* --- [ Main Content ] --------------- */
@import 'organisms/main-content';

/* --- [ Billboard ] --------------- */
@import 'organisms/billboard';

/* --- [ Status message ] --------------- */
@import 'organisms/preface';

/* --- [ Signposts ] --------------- */
@import 'organisms/signposts';

/* --- [ Footer ] --------------- */
@import 'organisms/footer';

/* --- [ Block Styles ] --------------- */
@import 'organisms/block-styles';

/* --- [ Sidebar Menus ] --------------- */
//@import 'organisms/sidebar-menus';

/* --- [ Post Script Items ] --------------- */
//@import 'organisms/postscript-items';

/* --- [ Login ] --------------- */
@import 'organisms/views';

/* --- [ Vertical Tabs ] --------------- */
@import 'organisms/vertical-tabs';

/* --- [ Login ] --------------- */
@import 'organisms/login';

/* --- [ Overrides ] --------------- */
@import "organisms/profile";

/* --- [ Carousel ] --------------- */
@import "organisms/carousel";




// Page
// ================================

/* --- [ Application: Final Step ] --------------- */
@import "page/application-final-step";

/* --- [ Node Type Webform ] --------------- */
@import "page/node-type-webform";




// Shame
// ================================

@import 'shame';
