span.colorBox {
  border: 1px solid #ddd;
}

div.field-type-color-field-rgb label {
  margin: 1em 0;
}

/****Spacing between block elements****/
/*
/ No Longer needed as of adminimal 7.18
/*
form.node-form > div > div.form-wrapper,
form.node-form > div > div.form-item-title,
form.node-form > div > fieldset.form-wrapper { padding-bottom: 20px; }
*/
/****Hide some node form elements****/
div.field-name-field-sig-media-selector span.form-required,
div#block-system-main form#views-ui-basic-switch-form,
div#block-system-main form#views-ui-config-item-form div#edit-options div#edit-options-form-description,
div#block-system-main form#views-ui-config-item-form div#edit-options div.form-item-options-label,
div#block-system-main form#views-ui-config-item-form div#edit-options fieldset#edit-options-more,
form#eck-entity-form-edit-slideshow-slide #edit-redirect,
.node-form-options .form-item-promote {display:none;}

/****Accordian Groups****/
.ui-accordion .ui-accordion-header {
	margin:10px 0;
	letter-spacing:1pt;
	/*padding-left:25px;*/
}

/**Publish Button**/
input#edit-publish { background:#0074BD; color:#fff; }
input#edit-publish:hover { background:#004c99; }


/****Since Adminimal 7.18******************************/

.form-item.form-type-radio label,
.form-item.form-type-checkbox label { line-height: 20px; }


/****Site-Specific*************************************/

