// Defaults
// ================================

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow-x: hidden;
  font-size: 1em; // prevent libraries from wrecking 16px
  height: 100%;
  min-height: 100%;
}

* { box-sizing: border-box; }

body {
  // Beware of setting font-size here
  color: @text-color;
  .font(@base-font, 'normal');
  .font-smoothing(antialiased);
  line-height: @base-line-height;
  min-width: 0;
  height: auto;
  min-height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.page-references-dialog {
    display: block;
  }

  &.admin-menu.adminimal-menu {
    padding-top: 29px;
    &:before { content: none; }
  }

  .resp(@mobilemax, {
    font-size: @mobile-base-font-size;
    line-height: @mobile-base-line-height;
  });
}

body > svg:first-child {
  display: none;
  // Svg symbol library
}

#page {
  overflow: hidden;
  overflow: auto; // for testing
  display: flex;
  flex-wrap: nowrap;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  min-height: 1px; // IE bug: <https://stackoverflow.com/questions/43024415/how-to-fix-flex-column-height-bug-in-ie>

  > * {
    min-height: 1px; // IE bug: <https://stackoverflow.com/questions/43024415/how-to-fix-flex-column-height-bug-in-ie>
  }


  > .section-header {
    flex: none;
  }
  > .section-content {
    flex-grow: 1;
  }
  > .section-footer {
    flex: none;
  }

  .resp(@tabletmax, {
    display: block;
  });
}


#messages {
  width: 100%;

  .messages {
    overflow: auto;
  }
}

.error {
  color: @brand-error;
}


/* --- [ Headings ] --------------- */

h1, h2, h3, h4, h5, h6 {
  &:first-child,
  a#main-content + &,
  .contextual-links-wrapper + & {
    margin-top: 0;
  }
  .font-smoothing(antialiased);
}

.h-overrides(@rules) {
  h1, h2, h3, h4, h5, h6 {
    @rules();
  }
}


.h1(@color: @brand-primary-light) {
  color: @color;
  .font(@display-font, 300, @h1-font-size);
  line-height: @h1-line-height;
  letter-spacing: .11875rem;
}
.h1--small(@color: @brand-primary-light) {
  &:extend(.h1);
  color: @color;
  font-size: @h1-small-font-size;
  line-height: @h1-small-line-height;
}
h1 { .h1; }
.resp(@mobilemax, {
  h1 { .h1--small; }
});


.h2(@color: @brand-primary-light) {
  color: @color;
  .font(@display-font, 300, @h2-font-size);
  line-height: @h2-line-height;
  margin-bottom: .65rem;

  .classic_mode({
    .font(@display-font, 700, @h2-font-size);
  });
}
.h2--small(@color: @brand-primary-light) {
  &:extend(.h2);
  color: @color;
  font-size: @h2-small-font-size;
  line-height: @h2-small-line-height;
  margin-bottom: .4rem;
}
h2 { .h2; }
.resp(@tabletmax, {
  h2 { .h2--small; }
});


.h3 {
  color: @dark-text-color;
  .font(@display-font, 'normal', @h3-font-size);
  line-height: @h3-line-height;
  .classic_mode({
    .font(@display-font, 700, @h3-font-size);
  });
}
.h3--small(@color: @text-color) {
  &:extend(.h3);
  color: @color;
  font-size: @h3-small-font-size;
  line-height: @h3-small-line-height;
}
h3 { .h3; }
.resp(@mobilemax, {
  h3 { .h3--small; }
});


.h4 {
  color: @dark-text-color;
  .font(@display-font, 500, @h4-font-size);
  line-height: @h4-line-height;
  margin-bottom: 0;
}
.h4--small(@color: @text-color) {
  &:extend(.h4);
  color: @color;
  font-size: @h4-small-font-size;
  line-height: @h4-small-line-height;
}
h4 { .h4; }

.h5 {
  color: @medium-text-color;
  .font(@heading-font, 400, @h5-font-size);
  line-height: @h5-line-height;
}
h5 { .h5; }

.h6 {
  .font(@heading-font, 'bold', @h6-font-size);
  line-height: @h6-line-height;
}
h6 {
  .h6();
  color: @medium-text-color;
}

.page-requirements {
  .block-main {
    .h-overrides({ color: inherit; });
  }
}


/* --- [ Paragraphs ] --------------- */

.p {
  .font(@base-font, 'normal');
  line-height: inherit;
  margin-bottom: 0;
  margin-top: 2rem;
  .classic_mode({
    margin-top: 1rem; // CSESUPP-189955
  });
  // Keep very long links from popping out of the side.
  // overflow: hidden;
  text-overflow: ellipsis;

  .zone-preface & {
    .p--xlarge();
    line-height: 1.4;
  }
  .lining & {
    .p--large();

    &.intro {
      .p--xlarge();
    }
  }

  &:first-child { margin-top: 0; }

  .resp(@mobilemax, {
    font-size: @mobile-base-font-size;
  });

  .button {
    display: inline-block;
    margin: 0 .5rem;
    .button();.small();
  }
}


p:extend(.p all) {}



.p--xxlarge {
  .font(@base-font, 'normal', 1.5rem);
  letter-spacing: .05em;
  line-height: 1.7;
  .resp(@mobilemax, {
    .font(@base-font, 'normal', 1.25rem);
  });
}
.p--xlarge {
  .font(@base-font, 'normal', 1.25rem);
  line-height: 1.6;
  .resp(@tabletmax, {
    line-height: 1.3;
  });
  .resp(@mobilemax, {
    font-size: @h4-small-font-size;
    line-height: @h4-small-line-height;
  });
}
.p--large {
  .font(@base-font, 'normal', @larger-font-size);
  line-height: 1.45;
}

.p--small {
  .font(@base-font, 'normal', @base-font-size);
  line-height: 1.65;
}

.intro {
  .p--xlarge();
  margin-top: 0;
  &:not(:first-child) {
    margin-top: 1rem;
    .resp-range(@mobilemax + 1,  @tabletmax, {
      margin-top: 1.2rem;
    });
  }
}

.zone-preface .title ~ .region-to-block {
  .intro();

  * { font: inherit; }
}

/* --- [ Lists ] --------------- */

.unbullet {
  list-style: none;
  padding: 0;
  margin: 0;
  li { padding: 0; }
}


ul, ol {
  padding-left: 1.5rem;
  margin: 2rem 0 0;
  .classic_mode({
    margin: 1rem 0 0; // CSESUPP-189955
  });
  li:extend(.p all) {
    .margin-extremes-zero();
    margin-top: 0;
    padding-left: .5rem;
    overflow: visible;
  }
  ul, ol {
    margin: 0;
  }
}


/* --- [ Sup ] --------------- */

sup {
  font-size: @fine-print-font-size;
  vertical-align: super;
  line-height: 0;
}

/* --- [ Sub ] --------------- */

sub {
  font-size: @fine-print-font-size;
  vertical-align: sub;
  line-height: 0;
}



/* --- [ Figures ] --------------- */

figure {
  margin: 2rem 2.5rem 0;
  &:first-child {
    margin-top: 0;
  }
}

figcaption {
  border-top: 1px solid @hr-color;
  font-size: @caption-font-size;
  padding-top: 1.2rem;
}

/* --- [ Blockquote ] --------------- */

blockquote {
  margin: 2rem 2.5rem 0;
  &:first-child {
    margin-top: 0;
  }
}

/* --- [ Images ] --------------- */

img {
  display: block;
  max-width: 100%;
  height: auto;
}


/* --- [ Tables ] --------------- */

.table-wrap {
  display: block;
  width: 100%;
  // overflow: auto; // CSESUPP-189942
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  &:extend(.p all);

  > table {
    min-width: 100%;
  }
}


/* --- [ Iframes ] --------------- */

iframe {
  display: block;
  border: none;
}

.iframe-wrap {
  display: block;
  width: 100%;
  // overflow: auto; // CSESUPP-189942
  -webkit-overflow-scrolling: touch;
  overflow: auto;

  &:extend(.p all);

  > iframe {
    margin: 0 auto;
  }
}