
// Application Final Step
// ================================

/* --- [ Application Progress Bar (Inline SVG) ] -------------- */
@import '../molecules/application-progress-bar';


.application-info-block-content {
  .item {
    img { margin: 0 auto; }
  }

  .item-label { .label(); }
  .item-content {  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .makeGrid(~'> .item', @gutter-width * 2, 3);
    .resp-range(@babybear + 1, @tabletmax, { .makeGrid(~'> .item', @gutter-width * 2, 2); });
    .resp(@babybear, { .makeGrid(~'> .item', @gutter-width, 1); });

    &.two-up {
      align-items: center;
      .makeGrid(~'> .item', @gutter-width * 2, 2);
      .resp(@babybear, { .makeGrid(~'> .item', @gutter-width, 1); });

      .utility-logo {
        width: auto;
      }
      .utility-text {
        flex-grow: 1;
      }
    }
    &.one-up {
      align-items: center;
      .makeGrid(~'> .item', @gutter-width * 2, 1);
    }
  }
}

.application-status {
  .text { .element-invisible(); }
}

.application-info-block-footer {
  .views-footer-ruled(
    @padding-top: 1.8rem,
    @margin: 1.8rem,
    @mobile-padding-top: 3.7rem,
    @mobile-margin: 2.15rem
  );
  font-weight: bold;

  .button {
    .btn();.cta();
    display: block;
    width: auto;
    max-width: 20rem;
    margin: 0 auto;
  }
}

.uploads-header {
  .bounded-title--small(@color: @text-color;);
  display: flex;
  justify-content: space-between;
}

form[id*="energycenter-cvrp-documents-form"] {

  .messages {
    width: 100%;
  }

  > div {
    .views-rows-ruled(@row_el: ~'.cvrp-upload-document-item');

    .cvrp-upload-document-item {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }
    .edit-title,
    .description,
    .reject-reasons-wrapper,
    .messages,
    div:not([class]) {
      width: 100%;
    }
    div:not([class]) {
      font-size: 0;
    }
    .messages {
      margin-bottom: @gutter-width;
      &.isClosed { margin-bottom: 0; }
    }

    .edit-title {
      order: -100;
    }
    .reject-reasons-wrapper {
      width: 100%;
      order: -99;
    }
    .edit-file {
      order: -98;
      width: 60%;
      padding-right: @gutter-width / 2;

      .resp-range(@tabletmax + 1, @goldilocks, {
        width: 75%;
      });

      .resp(@tabletmax, {
        width: 100%;
        padding: 0;
      });
    }
    .edit-status {
      order: -97;
      width: 40%;
      text-align: right;
      padding-left: @gutter-width / 2;

      .resp-range(@tabletmax + 1, @goldilocks, {
        width: 25%;
      });

      .resp(@tabletmax, {
        width: 100%;
        padding: 0;
        order: -98;
        text-align: left;
        text-align: initial;
      });
    }
    .file-upload-widget,
    .file-remove-widget {
      display: flex;
      position: relative;
      width: 60%;
      order: -98;
      margin-bottom: @item-margin;

      .resp-range(@tabletmax + 1, @goldilocks, {
        width: 75%;
      });

      .resp(@tabletmax, {
        width: 100%;
        padding: 0;
      });

      > * {
        flex-grow: 1;
        margin: 0;

        &.form-submit {
          flex-grow: 0;
          .btn();.cta();.small();
          margin-left: @gutter-width / 2;
        }
      }

      .ajax-progress-throbber {
        .abs(0,0,0,0);
        background-color: fade(@white, 90%);
        display: block;

        .message { .element-invisible; }

        .throbber {
          .abs(0,0,0,0);
          margin: 0 auto;
          background-image: @triple-dots;
          background-position: center;
          background-repeat: no-repeat;
          width: auto;
          height: auto;
          margin: 0;
          animation: fadeinout 750ms infinite;
        }
      }
    }

    .file-remove-widget {

      .file a {
        padding-left: 2.5rem;
        &, .text { color: @brand-primary-light; }
        &:hover, &:hover .text { color: @brand-primary-light; }
        &:before {
          content: none;
        }
      }
      .icon {
        .abs(0,auto,0,0);
        display: flex;
        align-items: center;
        > svg {
          width: 1.6rem;
          height: 1.6rem;
        }
      }
      .form-submit {
        .btn(@brand-primary-light);.small();
      }
    }
  }
}