
// Incentive Flyers form
// ================================

.webform-width {
  #grid();
  .span(
    @span: 10;
    @full_bleed: true;
  );
  margin: 0 auto;
  margin-top: 1.8rem;
  &:first-child { margin-top: 0; }
  .resp(@tabletmax, {
    #grid();
    .span(
      @span: 12;
      @full_bleed: true;
    );
  });
}

.node-type-webform {
  .node-webform {
    .field-body {
      .webform-width();
      .field-contents * { .intro(); }
    }
    .webform-client-form {
      .webform-width();
      .form-submit {
        .button();
        &.button-primary {
          .button();.cta();
        }
      }
    }
  }

  // See: /eng/dealer-form
  .webform-client-form {
    .webform-component {
      .__three-fifths-width();
      display: block;
      margin: 0 auto;
      .__m-top();

      .resp(@tabletmax, {
        .__four-fifths-width();
        display: block;
        margin: 0 auto;
        .__m-top();
      });

      .resp(@babybear, {
        .__full-width();
        display: block;
        margin: 0 auto;
        .__m-top();
      });
    }
  }
}