
// Break Dancing
// ================================


/* --- [ For the Nucleotides ] --------------- */

.resp-range(@ursus + 1, @ursus + 40px, {
  .right-sidebar {
    .region-preface-first-inner,
    .zone-content {
      margin-right: 0;
      max-width: 77.625rem;
    }
  }
});

.resp-range(@ursus + 1, @ursus + 150px, {
  .right-sidebar {
    .region-preface-first-inner,
    .zone-content {
      margin-right: 0;
    }
  }
});