
// Grid
// ================================
// This concerns itself with the macro grid

@columns: 12;
@gutter-width: 1.25rem;

#grid(@columns: @columns; @gutter-width: @gutter-width;) {
  @cols: @columns;
  @gutter: @gutter-width;

  .make() {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -1 * (@gutter/2);
    margin-right: -1 * (@gutter/2);

    .row() {
      display: flex;
      flex: 0 1 auto;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .span(
    @span: @cols;
    @full_bleed: false;
  ){
    @width: unit((@span/@cols) * 100, %);
    flex-grow: 0;
    padding-left: @gutter/2;
    padding-right: @gutter/2;
    width: @width;

    & when (@full_bleed) {
      padding-left: 0;
      padding-right: 0;
    }

  }
  .span--unitless(
    @span: @cols;
    @full_bleed: false;
  ) {
    @width: unit((@span/@cols) * 100);
    flex-grow: 0;
    padding-left: @gutter/2;
    padding-right: @gutter/2;
    @return: @width;

    & when (@full_bleed) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .one-unit-as(@key; @full_bleed: false;) {
    & when not (@full_bleed) {
      @{key}: ~'calc(' unit((1/@cols * 100), %) ~' - (@{gutter}/2))' ;
    }
    & when (@full_bleed) {
      @{key}: ~'calc(' unit(1/@cols * 100, %) ~' + (@{gutter}/2))';
    }
  }
  .half-unit-as(@key; @full_bleed: false;) {
    @half_unit_width: unit((1/@cols)/2 * 100, %);
    & when not (@full_bleed) {
      @{key}: @half_unit_width;
    }
    & when (@full_bleed) {
      @{key}: ~'calc(@{half_unit_width} + (@{gutter}/2))';
    }
  }

  .offset(@direction: left; @offset: 0; @full_bleed: false) {
    & when (@offset > 0) {
      & when (@full_bleed = false) {
        margin-@{direction}: ~'calc(' unit((@offset/@cols) * 100, %) ~' - @{gutter})' ;
      }
      & when (@full_bleed = true) {
         margin-@{direction}: ~'calc(' unit((@offset/@cols) * 100, %) ~' - (@{gutter}/2))' ;
      }
    }
  }

  .pull(@direction: left; @offset: 0; @full_bleed: false) {
    & when (@offset > 0) {
      & when (@full_bleed = false) {
        margin-@{direction}: ~'calc(' unit((@offset/@cols) * -100, %) ~' - @{gutter})' ;
      }
      & when (@full_bleed = true) {
         margin-@{direction}: ~'calc(' unit((@offset/@cols) * -100, %) ~' - (@{gutter}/2))' ;
      }
    }
  }
}
