
// Whitespace
// ================================
// This file is concerned with page level objects and their whitespace


.region {
  padding: 0 3.25rem;
  .resp(@mamabear, { padding: 0 2.625rem; });
  .resp(@tabletmax, { padding: 0 1.875rem; });
  .resp(@babybear, { padding: 0 1rem; });

  .region-inner {
    margin: 0 auto;
    width: 100%;
    max-width: 1180px;
  }
}

.section {
  width: 100%;
}

.section-header .block {
  padding: 0 3.25rem;
  .resp(@mamabear, { padding: 0 2.625rem; });
  .resp(@tabletmax, { padding: 0 1.875rem; });
  .resp(@babybear, { padding: 0 1rem; });

  .block-inner {
    margin: 0 auto;
    max-width: 1180px;
  }
}