
// Admin Tabs
// ================================

ul.tabs.primary {
  list-style-type: none;
  padding: 4px;
  margin: 0 auto;
  max-width: 1200px;
  background-color: fade(@faint-bg, 50%);

  .node-type-page &,
  .node-type-story & {
    text-align: center;
  }

  li {
    display: inline-block;
    padding: 4px;

    > a {
      .button();.dim();.small();

      &:hover {}

      &.active {
        .button();.disabled();.small();
        text-decoration:none;
        pointer-events: none;
      }
    }
  }
}
