
// Application Progress Bar
// ================================

.application-status > svg {
  width: 100%;
  max-width: 20rem;
  height: auto;
}
.application_progress_bar {
  color: @brand-mono-medium;

  .documents-pending &,
  .documents-received &,
  .incomplete &,
  .application-approved &,
  .check-sent &,
  .on-hold &,
  .resubmitted & {
    #step_1 { color: @brand-primary-light; }
  }

  .documents-received &,
  .application-approved &,
  .check-sent &,
  .resubmitted & {
    #step_2 { color: @brand-primary-light; }
  }

  .on-hold & {
    #step_2 { color: @brand-warning; }
  }

  .incomplete & {
    #step_2 { color: @brand-error; }
  }

  .application-approved &,
  .check-sent & {
    #step_3 { color: @brand-primary-light; }
  }

  .check-sent & {
    #step_4 { color: @brand-success; }
  }

  + .text {
    .element-invisible();
  }
}