
// Block Search Form
// ================================

@search-placeholder-color: @faint-text-color; // colors.less
@mobile-search-placeholder-color: @faint-text-color; // colors.less
@search-bg-color: @input-bg-color; // forms.less
@mobile-search-bg-color: @input-bg-color; // forms.less

// See: / (header)
.block-search-form {
  font-size: @base-font-size;

  .block-inner,
  .content,
  form,
  form > div,
  .container-inline,
  .container-inline > .form-item {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
  }

  > .content {
    flex: 1 0 0%;
  }
  > .altSearchCloseButton {
    display: none;
    width: 48px;
    padding-left: 4px;
    padding-right: 12px;

    .resp(@tabletmax, { display: flex; });
    align-self: stretch;
    align-items: center;
    order: -10;
    justify-content: center;


    .text {
      text-indent: -9999px;
      display: block;
      width: 100%;
      height: 100%;
      white-space: nowrap;
      position: relative;
      &:before, &:after {
        content: ' ';
        height: 3px;
        width: 22px;
        border-radius: 2000px;
        background-color: @white;
        transform-origin: center center;
        position: absolute;
        top: 50%;
        left: 0;
        right: auto;
      }
      &:before {
        .t-y(-50%);
        .transform(rotate(45deg));
      }
      &:after {
        .t-y(-50%);
        .transform(rotate(-45deg));
      }
      .text {
        white-space: nowrap;
        text-indent: -9999px;
        display: block;
        .abs(-1rem,-1rem,-1rem,-1rem);
      }
    }
  }

  form {
    position: relative;
    width: 100%;

    > div > .container-inline > * {
      padding: 0;
    }
  }

  [class*="form-item-search-block-form"] {
    display: block;
    flex: 1 1 0%;

    input[type="text"] {
      .input();.field();
      height: 100%;
      border: none;

      &:focus {
        background-color: @search-bg-color;
      }

      .placeholder({
        color: @search-placeholder-color;
        display: block;
        .resp-range(@mobilemax + 1,  @tabletmax, {
          text-align: center;
        });
      });

      .resp(@tabletmax, {
        .input();.field();
        padding: 0.6rem 0.9rem .4rem;

        &:focus {
          background-color: @mobile-search-bg-color;
        }

        .placeholder({
          color: @mobile-search-placeholder-color;
        });
      });

    }
  }

  .form-actions {
    .abs(0,0,0,auto);
    overflow: hidden;
    width: 3.725rem;
    .resp(@tabletmax, {
      width: 3rem;
    });

    .form-submit {
      .abs(0,0,0,auto);
      border-color: transparent !important;
      background-color: transparent !important;
      background-image: @search;
      background-repeat: no-repeat;
      background-position: 50% 46%;
      background-size: 1.25rem auto;
      color: transparent !important;
      text-shadow: none;
      box-shadow: none;
      width: 100%;
      height: 100%;
      border: none !important;
      text-indent: -9999px;

      &:hover {
        background-color: transparent !important;
        border-color: transparent !important;
      }

      .resp(@tabletmax, {
        background-position: center;
        background-size: 1.35rem auto;
        padding: 0;
      });

      .resp-min(@tabletmax + 1, {
        background-position: 50% 49%;
        background-size: 1.35rem auto;
      });

      &:hover {
        transform: none;
      }
    }
  }

}
