
// Header menus
// ================================

/* --- [ Mixins ] --------------- */

.mobile-menu() {
  @color: @text-color;
  @bg-color: @white;
  @border-color: @color;
  @hidden-menu-items: ~'.menu-title-my-application';

  &@{hidden-menu-items} {
    display: none;
  }

  > a, > .nolink,
  .tlAccSwitchWrap > a,
  .tlAccSwitchWrap > .nolink {
    .mobile-top-menu-link(@bg-color: @brand-primary-light);
  }
  .slAccSwitchWrap > a,
  .slAccSwitchWrap > .nolink {
    .mobile-top-menu-link(@bg-color: @brand-primary);
    text-transform: none;
    letter-spacing: normal;
    font-weight: 400;
  }
  &.tlAccOpen .tlAccSwitchWrap > a:after {
    border-color: transparent;
  }
  .tlAccSwitchWrap {
    position: relative;
    > a, > .nolink{
      padding-right: 3.75rem;
    }
  }
  .slAccSwitchWrap {
    position: relative;
    > a, > .nolink {
      padding-right: 3.75rem;
    }
  }
  .tlAccSwitch {
    .abs-0();
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .abs(0, 0, 0, auto);

    .text {
      text-indent: -9999px;
      width: 2.75rem;
      .abs(0,0,0,auto);
      &:after {
        content: ' ';
        display: block;
        width: 100%;
        height: 100%;
        background-color: transparent;
        background-image: @arrow-down--white;
        background-size: .75rem auto;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        .abs(0,0,auto,0);
        transform-origin: center;
        backface-visibility: hidden;
        .transform(scale3d(1,-1,1));
        .trans(transform);
      }
    }

    &.isClosed .text:after {
      .transform(scale3d(1,1,1));
    }
  }

  .slAccSwitch {
    .abs-0();
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .abs(0, 0, 0, auto);

    .text {
      text-indent: -9999px;
      width: 2.75rem;
      .abs(0,0,0,auto);
      &:after {
        content: ' ';
        display: block;
        width: 100%;
        height: 100%;
        background-color: transparent;
        background-image: @arrow-down--white;
        background-size: .75rem auto;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        .abs(0,0,auto,0);
        transform-origin: center;
        backface-visibility: hidden;
        .transform(scale3d(1,-1,1));
        .trans(transform);
      }
    }

    &.isClosed .text:after {
      .transform(scale3d(1,1,1));
    }
  }
  .slAccSwitchWrap > a,
  .slAccSwitchWrap > .nolink {
    &:after { content: none; }
  }

  .menu-style(
    @menu-bg-color: @brand-primary-dark;
    @menu-text-color: @white;
    ) {
    padding: 0;
    color: @menu-text-color;
    background-color: @menu-bg-color;
    max-height: none;
    overflow: hidden;
    opacity: 1;
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    display: block;
    width: 100%;
    position: relative;

    &:after {
      content: ' ';
      .abs(auto,1.2rem,0,1.2rem);
      border-top: 2px solid @text-color;
      margin-bottom: 2px;
    }

    &.isClosed {
      opacity: 0;
      max-height: 0;
      padding: 0;
    }
    &.isOpen {
      opacity: 1;
    }
    &:before, &:after {
      content: none;
    }

    > li {
      &, .tlAccSwitchWrap {
        > a, > .nolink {
          .mobile-sub-menu-link(
            @color: @white;
            @active-text-color: @brand-action;
          );
        }
      }
    }
  }
  > .menu {
    &, .menu { .menu-style(); }
  }
}

.tablet-menu() {
  .child-menu-flyout(
    @top-text-color: @link-color;
    @child-bg: @link-color;
  );
}

/* --- [ Top Level Nav ] --------------- */

.top-level-nav {
  > .block-inner > .content {
    display: block;
  }

  .menu-block-wrapper {
    z-index: 30;
    .menu { .unbullet(); }
    > .menu {
      .resp-min(@tabletmax + 1, {
        display: flex;
        justify-content: flex-end;
      });
      .resp-range(@babybear + 1, @tabletmax, {
        background-color: @white;
        display: flex;
        flex-direction: row;
        justify-content: center;
      });
      > li {
        position: relative;
        .resp-min(@tabletmax + 1, {
          .child-menu-flyout(
            @top-text-color: @link-color;
            @child-bg: @link-color;
          );
        });
        .resp-range(@babybear + 1, @tabletmax, { .tablet-menu(); });
        .resp(@babybear, { .mobile-menu(); });
      }
    }
  } // /* END .top-level-nav .menu-block-wrapper */
}
