
// Messages
// ================================

.messages {
  #grid();
  .span(
    @span: 10;
    @full_bleed: true;
  );

  border: none;
  color: @text-color;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;
  margin-bottom: 3rem;
  background-color: @brand-warning;
  border-radius: .5rem;
  position: relative;
  padding: 1.2rem 0 1.45rem;
  line-height: 1.7;
  transform-origin: top center;
  .trans(transform 100ms ease 0ms);
  .trans(padding 100ms ease 0ms);
  .trans(opacity 100ms ease 0ms);
  .one-unit-as(padding-right; @full_bleed: true);
  .p--large();

  .field-body & {
    .span(12);
    .one-unit-as(padding-right; @full_bleed: true);
  }

  .resp(@tabletmax, {
    .p--small();
    padding: 1rem 0 .9rem;
    margin-bottom: 1.3rem;
    #grid();
    .span(
      @span: 12;
      @full_bleed: true;
    );
    .one-unit-as(padding-right; @full_bleed: true);
    .field-body & {
      .span(12);
      .one-unit-as(padding-right; @full_bleed: true);
    }
  });
  .resp(@mobilemax, {
    &,
    .field-body & {
      padding: .9rem;
      padding-bottom: .7rem;
      display: block;
    }
  });

  a {
    font-weight: bold;
  }
  p {
    margin-top: .8rem;
    font: inherit;
    .resp(@tabletmax, {
      margin-top: 0;
    });
  }
  ul, ol {
    font: inherit;
    &:first-child {
      margin-top: 0;
    }
  }
  .element-invisible {
    + ul, + ol {
      margin-top: 0;
    }
  }

  .h-overrides({
    .h4();
    font-weight: bold;
    margin: 0;

    .resp(@tabletmax, {
      .h4--small();
    });
    .resp(@mobilemax, {
      line-height: 1.7rem;
      margin-bottom: .3rem;
    });
  });


  &.isOpen {
    height: auto;
    transform: scale3d(1,1,1);
    opacity: 1;
  }
  &.isClosed {
    height: 0;
    transform: scale3d(1, 0, 0);
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    opacity: 0;
    margin: 0 auto;
  }

  .status-icon {
    display: block;
    .half-unit-as(margin-left; @full_bleed: true);
    .half-unit-as(margin-right; @full_bleed: true);
    width: 1rem; // gives dimension and lines up perfectly.
    overflow: visible;

    .resp-range(@mobilemax + 1,  @tabletmax, {
      .half-unit-as(margin-right; @full_bleed: false);
    });
    .resp(@mobilemax, {
      margin: 0;
      margin-left: 1rem;
      margin-bottom: .5rem;
    });

    > svg {
      display: block;
      width: 2.75rem;
      height: 2.75rem;
      .transform(translateX(-1 * @gutter-width/2));

      .resp(@tabletmax, {
        width: 2rem;
        height: 2rem;
        .transform(translateX(-1rem));
      });
    }
  }

  &[style*="background-image"][style*="none"] .status-icon {
    color: transparent;
  }

  button.close {
    .span(@span:1; @full_bleed: true);
    min-width: 3rem;
    .abs(0, 0, auto, auto);
    border: none;
    padding: 0 1rem;
    margin: 0;
    background-color: transparent;
    color: inherit;
    font-size: 0;
    padding-top: @gutter-width;
    padding-bottom: @gutter-width;
    color: @brand-primary;

    .resp(@mobilemax, {
      padding-top: .85rem;
    });

    svg.icon {
      margin: 0;
      width: 1.25rem;
      height: 1.25rem;

      .resp(@tabletmax, {
        width: 1rem;
        height: 1rem;
      });
    }
    .text { .element-invisible(); }
  }

  &.status {
    background-color: @brand-info;
    .status-icon {
      color: @brand-primary;
    }
  }
  &.success {
    background-color: @brand-success--light;
    .status-icon {
      color: @brand-success;
    }
  }
  &.info {
    background-color: @brand-info;
    .status-icon {
      color: @brand-mono;
    }
  }
  &.warning {
    background-color: @brand-warning;
    .h-overrides({ color: @brand-error; });
    .status-icon {
      color: @brand-error;
    }
  }
  &.error {
    border: .1875rem solid @brand-danger;
    background-color: @white;
    .status-icon,
    .close {
      color: @brand-danger;
    }
  }
}

