
// Search Results
// ================================

.search-results {
  .unbullet();
  li { margin-bottom: 0; }

  > li {
    margin-top: 2.5rem;
  }

  .search-result {
    .title {
      margin-bottom: 0;

      ~ * {
        margin-bottom: .6rem;
        &:last-child {
          margin-bottom: 0;
        }
      }

    }
    .meta {
      margin-top: .2rem;
    }
  }

  .search-snippet-info {
    padding: 0;
  }
}

.page-search .block-system {

  .search-form {
    margin-bottom: 3.55rem;
  }

  .node {
    [class*="title"] {
      margin-bottom: 0;

      ~ * {
        margin-bottom: .6rem;
        &:last-child {
          margin-bottom: 0;
        }
      }

    }
    [class*="post-date"] {
      margin-top: .2rem;
    }
    ~ .node {
      margin-top: 2.5rem;
    }
  }
}