
// View Modes
// ================================

.view-mode {

  &-teaser {

    .meta_region {
      margin-top: .75rem;
      &:first-child { margin-top: 0; }

      * { .meta(); }
    }

    .meta + * {
      margin-top: 1.2rem;
    }

    .summary_region {
      margin-top: 1.2rem;
      &:first-child { margin-top: 0; }

      line-height: 1.6;
      color: @medium-text-color;

    }
    // See: /about
    .field[class*="title"] {
      &, .field-contents, .field-contents > * {
        .h3(); // defaults.less
        line-height: 1.4;
      }
      a {
        color: @text-color;
        margin-bottom: .125rem;
      }
    }

    .media-obj-diptypch() {
      display: flex;
      flex-direction: row;

      .resp(@babybear, {
        flex-wrap: wrap;
      });
      .resp(@mobilemax, {
        text-align: center;
      });

      img { width: 100%; }

      > * {
        &:nth-child(1),
        &.ds-media-thumb {
          width: 18.7%;
          display: inline-flex;
          justify-content: center;
          margin-right: 2.6rem;
          flex-direction: column;
          min-height: 1px; // IE bug: <https://stackoverflow.com/questions/43024415/how-to-fix-flex-column-height-bug-in-ie>

          > * {
            min-height: 1px; // IE bug: <https://stackoverflow.com/questions/43024415/how-to-fix-flex-column-height-bug-in-ie>
          }

          .resp(@tabletmax, {
            width: 24.9%;
            flex-shrink: 0;
            justify-content: flex-start;
          });
          .resp(@babybear, {
            width: 100%;
            margin: 0;
            margin-bottom: 1.1rem;
            flex-basis: 100%;
          });
        }
        &:nth-child(2),
        &.ds-media-text {
          flex: 1;
          display: inline-flex;
          justify-content: center;
          flex-direction: column;
          min-height: 1px; // IE bug: <https://stackoverflow.com/questions/43024415/how-to-fix-flex-column-height-bug-in-ie>

          > * {
            min-height: 1px; // IE bug: <https://stackoverflow.com/questions/43024415/how-to-fix-flex-column-height-bug-in-ie>
          }

          .resp(@tabletmax, {
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
          });
          .resp(@mobilemax, {
            margin-top: 1.2rem;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            flex-grow: 1;
            flex-basis: 100%;
          });
        }
      }
    }

    &.media-object-and-body {
      .ds-media {
        &.twoUp.withThumb {
          // See: /eng/program-reports
          .media-obj-diptypch();
        }
      }

      &.node-event {
        .ds-media.twoUp {
          > *.ds-media-thumb {
            justify-content: flex-start;
            padding-top: .35rem;
          }
        }
      }
    }

  }

  &-tile {
    position: relative;

    .is_bgs {
      [style*="background-image"] {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 72%;

        .resp(@babybear, {
          padding-bottom: 68.9%;
        });
      }
      img { display: none; }
    }

    .field-rebate-amount {
      .button();.cta();.small();
      background-color: @brand-success;
      border-color: @brand-success;
      &, &:hover {
        color: @white;
        background-color: @brand-success;
        border-color: @brand-success;
      }

      .classic_mode({
        position: relative;
        &:before {
          content: ' ';
          outline: 1px solid fade(@white, 60%);
          .abs(.125rem, .125rem, .125rem, .125rem);
        }
      });
    }

    .field-title {
      .h5();
      font-weight: bold;
      color: inherit;
      margin-top: 1rem;
      .classic_mode({
        margin-top: .7rem;
      });

      .resp(@babybear, {
        margin-top: .7rem;
      });
    }

    &.node-cvrp-eligible-vehicle {
      margin-top: .4rem;
      .field-rebate-amount {
        .abs(-.4rem, auto, auto, -.5rem);
        .classic_mode({
          .abs(-.4rem, auto, auto, -.25rem);
        });
      }
    }
  }

  &-teaser_alt,
  &-search_result {
    .field-signature-video {
      margin-bottom: 1.2rem;
    }
    .field-post-date,
    .meta {
      margin-top: .4em;
      color: @faint-text-color;
    }
    .field-body {
      margin-top: .6rem;
      &:first-child { margin-top: 0; }

      ~ * {
        margin-top: 1.2rem;
      }
    }
  }


  &-full {

    .media-obj-article() {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      .resp(@babybear, {
        flex-wrap: wrap;
      });
      .resp(@mobilemax, {
        text-align: center;
      });

      img { width: 100%; }

      > * {
        &:nth-child(1),
        &.ds-media-text {
          flex: 1;
          display: inline-flex;
          justify-content: flex-start;
          flex-direction: column;
          min-height: 1px; // IE bug: <https://stackoverflow.com/questions/43024415/how-to-fix-flex-column-height-bug-in-ie>

          > * {
            min-height: 1px; // IE bug: <https://stackoverflow.com/questions/43024415/how-to-fix-flex-column-height-bug-in-ie>
          }

          .resp(@tabletmax, {
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
          });
          .resp(@mobilemax, {
            margin-top: 1.2rem;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            flex-grow: 1;
            flex-basis: 100%;
          });
        }
        &:nth-child(2),
        &.ds-media-aside {
          width: 33.33%;
          display: inline-flex;
          justify-content: flex-start;
          margin-left: 2.6rem;
          padding-left: 2.5rem;
          flex-direction: column;
          min-height: 1px; // IE bug: <https://stackoverflow.com/questions/43024415/how-to-fix-flex-column-height-bug-in-ie>

          > * {
            min-height: 1px; // IE bug: <https://stackoverflow.com/questions/43024415/how-to-fix-flex-column-height-bug-in-ie>
          }
          .classic_mode({
            border-left: 1px solid @hr-color;
          });

          .resp(@tabletmax, {
            width: 40%;
            flex-shrink: 0;
            justify-content: flex-start;
          });
          .resp(@babybear, {
            width: 100%;
            margin: 0;
            padding-left: 0;
            margin-top: 1.1rem;
            flex-basis: 100%;

            .classic_mode({
              border-left: none;
            });
          });
        }
      }
    }

    &.media-object-and-body {
      .ds-media {
        &.twoUp.withAside {
          // See: /eng/events/ontario-home-and-backyard-show
          .media-obj-article();
        }
      }
    }

    .field-body {
      ~ .field {
        margin-top: 2.25rem;
      }
      + .field {
        margin-top: 4.3rem;
      }
      .resp-range(@mobilemax + 1, @tabletmax, {
        ~ .field {
          margin-top: 3.95rem;
        }
      });
    }

    .front .node-landing-page& {
      // See: <front>
      text-align: center;

      .resp(@mobilemax, {
        .h-overrides({
          & ~ * {
            margin-top: .4rem;
          }
        });
      });

      .intro {
        // #grid();.span(10; @full_bleed: true);
        // Commented out by CSESUPP-189870: AJC

        #grid();.span(12; @full_bleed: true);

        margin-left: auto;
        margin-right: auto;

        .resp-range(@mobilemax + 1,  @tabletmax, {
          #grid();.span(12; @full_bleed: true);
        });
      }
    }
  }

}